@import "../parts/default";

.niconico-darkmode-setting-true{
  background: $main-background-color;

  #root{
    .kkBxiB{ //右リスト
      .notice{
        ul.glaTQM{ //list
          border: none;

          li{
            .inner{
              border-color: transparent transparent $border-background-color;
              background: $nico-black;
              color: $main-text-color;
              .sc-jKJlTe{
                background: $sub2-background-color;
                font-weight: normal !important;
                color: $sub-1-text-color !important;
                .thumb::before{
                  background: none;
                }
              }
            }
          }

          li.bHRGgA{ //運営メッセージ
            .inner{
              .text{
                color: $main-text-color;
              }
            }
            
          }

          li.erMPnp{ //既読
            .inner{
              .text{
                color: $sub-1-text-color;
              }
            }
          }
          li.eALpHe{ //未読
            .inner{
              .text{
                color: $main-text-color;
                font-weight: bold;
              }
              .date{
                color: $sub-1-text-color;
              }
            }
          }
          li:hover{
            .inner{
              background-color: $hover-background-color;
            }
          }

          
        }
        .kYHXcA{
          p.text{
            color: $main-text-color;
          }
        }
      }
    }

    section.sc-fjdhpX{ //めっせーじ
      background: $nico-black;
      color: $main-text-color;

      .sc-jTzLTM{ //header
        border-color: $border-background-color;
        .icon{
          border: 1px solid $border-background-color;
        }
        .subject{
          .date{
            color: $sub-1-text-color;
          }
        }
      }
      p.text{
        color: $main-text-color;
        a{
          color: $main-url-color;
        }
        a:hover{
          text-decoration: none;
        }
      }
      .sc-gqjmRU{ //footer
        border-color: $border-background-color;
      }

    }
  }
}