#siteHeader #siteHeaderInner ul li ul {
  background: #272727 !important;
}
#siteHeaderLeftMenuContainer li a :hover{
  color: black !important;
}
#siteHeader a{
  color: whitesmoke !important;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd a{
  background: #35393B !important;
  box-shadow: none !important;
}

body{
  color: white !important;
  background-color:#1A1B1C !important;
}
a{
  color: white !important;
}