@import '../parts/_default';

.niconico-darkmode-setting-true{
  .TopPage-stageArea{
    .AuroraVisionCard{
      background-color: $nico-default-bg;
      .AuroraVisionCard-meta{
        .AuroraVisionCard-metaCatch{
          color: $main-text-color;
        }
      }
      .AuroraVisionCard-uploader{
        color: $main-text-color;
      }
      .AuroraVisionCard-uploader[data-is-hover="true"]{
        color: $main-url-color;
      }
    }
    .AuroraVisionCard[data-is-hover="true"]{
      .AuroraVisionCard-meta{
        .AuroraVisionCard-metaCatch{
          color: $main-url-color;
        }
      }
    }
    .ContentsPickupContainer{
      .ContentsPickupCard{
        background-color: $nico-default-bg;
        .ContentsPickupCard-content{
          color: $main-text-color;
          .ContentsPickupCard-metaPickupComment{
            color: $sub-1-text-color;
          }
        }
        .ContentsPickupCard-content:hover{
          color: $main-url-color;
        }
        .ContentsPickupCard-footerUploader{
          color: $main-text-color;
        }
        .ContentsPickupCard-footerUploader:hover{
          color: $main-url-color;
        }
      }
    }
  }
  .TopPage-section{
    .ContentThumbnail{
      border-radius: 4px;
    }
  }
}

/* skelton */
.niconico-darkmode-setting-true{
  .ContentItemSkeleton-thumbnail{
    filter: $invert;
  }
  .SkeletonLine{
    background-color: $nico-black;
  }
  .NicoAdCardSkeleton{
    filter: $invert;
  }
}


/* chokaigi 2021 */
.niconico-darkmode-setting-true{
  .LockedContentsPickupContainer{
    .LockedContentsPickupContainer-card{
      background-color: $nico-default-bg;
      .LockedContentsPickupCard-content{
        color: $main-text-color;
        .LockedContentsPickupCard-metaPickupComment{
          color: $sub-1-text-color;
        }
      }
      .LockedContentsPickupCard-content:hover{
        color: $main-url-color;
      }
      .LockedContentsPickupCard-footerUploader{
        color: $main-text-color;
      }
      .LockedContentsPickupCard-footerUploader:hover{
        color: $main-url-color;
      }
    }
  }
}