.niconico-darkmode-setting-true textarea {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true input[type=text],
.niconico-darkmode-setting-true input[type=date], .niconico-darkmode-setting-true input[type=time],
.niconico-darkmode-setting-true .AddingMylistModal-nameInput,
.niconico-darkmode-setting-true .AddingMylistModal-descriptionInput,
.niconico-darkmode-setting-true .ichiba_search_form_query {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .feedbackBody {
  color: #F5F5F5;
}
