@import '../parts/_default';
@import '../parts/_textarea';

.niconico-darkmode-setting-true{
  background-color: $main-background-color !important;

  .FeedbackPage{
    .feedbackBody{
      color: $main-text-color;
      .confirmationDetails{
        background: $nico-black;
        border-color: $border-background-color;
      }
    }
  }

}