@import '../parts/_default';
@import '../parts/_footer';

.niconico-darkmode-setting-true{
  background-color: $main-background-color !important;
  color: $main-text-color;
  a{
    color: $main-text-color !important;
  }
  a:hover{
    color: $main-url-color !important;
  }

  .NiconicoLogo{
    filter: $invert;
  }
  .RssListPage-caption{
    background: none !important;
    h2{
      color: $main-text-color !important;
    }
  }
  .RssListPage-message,.RssListPage-itemUpdateAt{
    color: $sub-1-text-color !important;
  }
  .RssListPage-item{
    border-bottom: 1px solid $border-background-color !important;
  }
}