/*www.nicovideo.jp/video_top*/
  body{
    background-color:#1A1B1C !important;
  }
  /*ロゴ*/
  .LogoContainer-nicovideoLogo{
    filter: invert();
  }

  /*serch*/
  .SearchBox-option{
    background-color: #35393B !important;
  }
  .SearchBox-form{
    background-color: #35393B !important;
    box-shadow: none !important;
  }
  .SearchBox-query{
    color: whitesmoke !important;
  }

  /*ジャンル*/
  .VideoTopGenreListContainer{
    background-color:#1A1B1C !important;
  }
  .VideoTopGenreListContainer-item{
    background-color: #35393B !important;
    border: none !important;
  }
  .is-current{
    border: 1px solid #9c8686 !important;
  }

  .GenreTopPageHeader{
    background-color: #35393B !important;
  }
  .GenreTopPageHeader-prefix{
    color: whitesmoke !important;
  }
  .GenreTopPageHeader h1{
    color: white !important;
  }

  /*広告*/
  .BaseLayout-header, .BaseLayout-billboard{
    background-color:#1A1B1C !important;
  }
  .Ads970x250Billboard{
    background-color:#1A1B1C !important;
    border-top: 2px solid #1A1B1C !important;
    border-bottom: 2px solid #1A1B1C !important;
  }

  /*カラム*/
  .ColumnTitle-linkText{
    color: whitesmoke !important;
  }
  .ColumnTitle-icon{
    filter: invert();
  }
  .ColumnTitle-text{
    color: whitesmoke !important;
  }
  .TagItem-link, .RepresentedTag{
    background-color: #35393B !important;
    border: none !important;
  }
  .TagWithVideoItem-articleLink, .TrendyTagsContainer-expands, .TrendyTagsWithVideosContainer-more{
    background:#1A1B1C !important;
  }
  .TrendyTagsContainer-expand{
    color: whitesmoke !important;
  }
  .RankingVideosContainer .VideoCard:after{
    border-right: none !important;
  }

  /*info*/
  .timestamp{
    filter: invert();
  }
  .NewsNotificationList-item{
    border-top: none !important;
  }

  /*fotter*/
  .BaseLayout-footer{
    background-color:#1A1B1C !important;
  }
  .FooterContainer-feedback{
    background-color: #35393B !important;
  }
  .FooterContainer-metadata{
    color: white !important;
  }