@import '../parts/_default';
@import '../parts/_textarea';
@import '../parts/_dropdown';
@import '../parts/_serchbox';

.niconico-darkmode-setting-true{
  [class*="___local-page___"]{
    background-color: $main-background-color;

    [class*="___page-title___"]{ //pagetitle
      color: $main-text-color;
    }
    [class*="___user-card___"]{ //user
      [class*="___konomi-tag-setting-button___"]{
        border-color: $main-url-color;
      }
      [class*="___name-label___"]{
        color: $main-text-color;
      }
    }

    [class*="___program-title-field___"]{ //番組タイトル
      [class*="___caption___"]{
        color: $main-text-color;
      }
      [class*="___length-score___"]{
        color: $sub-1-text-color;
      }

    }

    [class*="___detail-setting-expanded-toggle-button___"]{ //詳細設定OPEN
      color: $main-text-color;
    }

    [class*="___detail-setting-area___"]{ //詳細設定
      [class*="___local-section___"]{ //background
        background: none;
      }
      [class*="___field___"]:not(:last-of-type){ //border
        border-color: $border-background-color;
      }
      [class*="___caption___"]{ //title
        color: $main-text-color;
      }
      [class*="___length-score___"]{ // 文字数
        color: $sub-1-text-color;
      }
      [class*="___target___"]+[class*="___label___"],[class*="___label___"]{ //selectlavel
        color: $main-text-color;
      }

      [class*="___tag-widget___"]{
        background: none;
      }

      [class*="___field-area___"]{
        border-color: $border-background-color;
        [class*="___caption___"],[class*="___caption___"],[class*="___separator___"]{
          color: $main-text-color;
        }
      }
      [class*="___end-time___"]{
        color: $main-text-color;
      }
      [class*="___register-form___"]{
        border-color: $border-background-color;
      }
      
    }
    [class*="___symbol-mark___"]{ //help
      fill: $main-text-color;
      path{
        fill: $main-text-color;
      }
    }
    [class*="___message___"]{
      color: $main-text-color;
    }
  }

  [class*="___konomi-tag-promotion-panel___"],
  [class*="___konomi-tag-setting-panel___"]{ //konomitag modal
    background-color: $main-background-color;
    [class*="___heading___"]{
      color: $main-text-color;
    }
    [class*="___tag-registration-count-indicator___"]{
      color: $sub-1-text-color;
    }
    [class*="___tag-list___"]{
      background: none;
    }
    [class*="___tag___"]{
      background-color: $nico-black;
      [class*="___name-anchor___"]{
        color: $main-text-color;
      }
    }
    [class*="___no-tag-information___"]{
      background: none;
    }
  }

}