.___local-page___1DHEc,.___local-section___QL3u6{
  background-color: #252525 !important;
}

.___page-title___1UNz0,.___caption___21JSt [class*=___label___]{
  color: white !important;
}
.___detail-setting-expanded-toggle-button___8_yOp,.___target___1efqo+.___label___3czAu,.___label___qYitz{
  color: white !important;
}


.___message___3Y4ON{
  color: #999 !important;
}

.___tag-widget___1XSZ3.___tag-widget___2javj{
  background: none !important;
}

input[type="text"],textarea,select{
  background: #555 !important;
  color: white !important;
}
.___symbol-mark___3l18V{
  fill: #0080FF !important;
  opacity: .7 !important;
}
.___symbol-mark___3l18V path{
  fill: #0080FF !important;
}
.___caption___1a8tY,.___separator___9pr3w,.___caption___1IfTM,.___end-time___BlzrM,.___message___1rFFH{
  color: white !important;
}
.___message___1rFFH>.public-setting-anchor{
  color: #52a9ff;
}

.___length-score___2EUB-.___length-score___2MjP3 span{
  color: #999 !important;
}