@import '../parts/_default';
@import '../parts/_dropdown';
@import 'parts/_parts';
@import 'parts/_card';

.niconico-darkmode-setting-true{
  background-color: $main-background-color;

  [class*="___followed-programs-page___"]{
    background-color: $main-background-color;

    [class*="___program-menu-section___"]{
      [class*="___heading___"]{
        color: $main-text-color;
      }
      [class*="___anchor-list-field___"]{
        [class*="___list___"]{
          [class*="___control___"]{
            [class*="___counter-anchor___"]{
              color: $main-text-color;
              background-color: $nico-black;
            }
            [class*="___counter-anchor___"]:hover{
              background-color: $hover-background-color;
            }
            [class*="___counter-anchor___"][aria-selected="true"]{
              color: $main-text-color;
              background-color: $main-url-color;
            }
          }
        }
      }
    }

    [class*="___premium-anchor___"]{
      background-color: $nico-black;
      border-color: $nico-premium;
      color: $main-text-color;
    }

    [class*="___contents-area___"]{
      [class*="___section___"]{
        [class*="___header___"]{
          [class*="___heading___"]{
            color: $main-text-color;
          }
          [class*="___sort-field___"]{
            [class*="___caption___"]{
              color: $sub-1-text-color;
            }
          }
        }
        [class*="___more-anchor___"]{
          color: $main-url-color;
        }
        [class*="___more-anchor___"]::before{
          background-color: $main-url-color;
        }
        [class*="___more-anchor___"]:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
