@import '../parts/_default';
@import 'parts/_card';
@import 'parts/_parts';

.niconico-darkmode-setting-true{
  background-color: $main-background-color;

  [class*="___contents-head-area___"]{
    [class*="___information-bar___"]{
      [class*="___subject___"]{
        background-color: $nico-black;
        color: $main-text-color;
      }
      [class*="___message___"]{
        background-color: $nico-black;
        [class*="___item___"]{
          background: none;
          color: $main-text-color;
        }
        [class*="___item___"]:hover{
          color: $main-url-color;
        }
      }
      [class*="___visit-anchor___"]{
        background-color: $nico-black;
      }
    }
  }

  [class*="___contents-area___"]{
    [class*="___section___"]{
      [class*="___header___"]{
        [class*="___heading___"]{ //section header
          color: $main-text-color;
          svg{
            path,rect{
              fill: $main-text-color;
            }
          }
        }
        [class*="___heading___"]:hover{
          color: $main-url-color;
          svg{
            path,rect{
              fill: $main-url-color;
            }
          }
        }
      }
    }
    [class*="___focus-axis-contents-area___"]{ //放送中の注目番組
      background-color: $livetop-content-bg1;
    }
    [class*="___online-viewing-banner___"]{ //バナー
      background-color: $livetop-content-bg2;
    }
    [class*="___contents-area___"],[class*="___middle-ad___"]{ //常設
      background-color: $main-background-color;
    }
    [class*="___program-status-axis-contents-area___"]{//予約・見逃し
      background-color: $livetop-content-bg3;
    }
  }

  [class*="___information-area___"]{
    background-color: $main-background-color;
    [class*="___information-list-section___"],
    [class*="___site-information-list-section___"]{
      [class*="___heading___"]{
        background-color: $nico-black;
        color: $main-text-color;
      }
      [class*="___heading___"]:hover{
        color: $main-url-color;
        
      }
      [class*="___item-list___"]{
        background-color: $nico-black;
        [class*="___item___"]{
          border-color: $border-background-color;
          color: $main-text-color;
        }
        [class*="___item___"]:hover{
          color: $main-url-color;
        }
      }
    }
  }
}