@import '../parts/default';
@import '../parts/_serchbox';
@import '../parts/_textarea';
@import '../parts/_dropdown';
@import 'parts/_parts';

.niconico-darkmode-setting-true{
  background-color: $main-background-color;
  #root>[class*="___page___"]{
    background-color: $main-background-color;
  }
  

  [class*="___player-area___"]{ //放送ビュー
    background-color: $livetop-content-bg1;

    [class*="___player-head-area___"]{ //別枠案内
      [class*=".___program-announcement-bar___"]{
        background-color: $nico-black;
        [class*="___message___"]{
          color: $main-text-color;
        }
      }
    }

    [class*="___player-body-area___"]{ //放送プレイヤー
      [class*="___player-section___"]{
        [class*="___leo-player___"]{
          [class*="___player-display___"]{ //プレイヤー左側
            [class*="___player-display-footer___"]{ //プレイヤーフッター
              [class*="___player-controller___"]{ //コントロールバー
                [class*="___control-area___"]{
                  [class*="___time-status-area___"]{
                    [class*="___elapsed-time___"]{
                      [class*="___time-text-box___"]{
                        background: none;
                        opacity: 0;
                      }
                      [class*="___time-text-box___"]:focus{
                        background: $nico-black;
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              [class*="___broadcast-participation-area___"]{ //新市場・コメント入力
                background-color: black;
                border-color: black;
                [class*="___comment-post-panel___"]{ //コメント入力欄
                  [class*="___command-tool___"]{ //コマンド
                    [class*="___command-palette___"]{ //コマンドパレット
                      background-color: $nico-black;
                      [class*="___anonymous-comment-post-toggle-button-field___"]{ //コメント投稿設定
                        [class*="___label___"]{
                          color: $main-text-color;
                        }
                      }
                    }
                  }
    
                  [class*="___overlay___"]{ //コメント禁止
                    background-color: $nico-black;
                    opacity: 0.8;
                  }
                  [class*="___disabled-message___"]{ //コメント禁止
                    color: $main-text-color;
                  }
                }
                [class*="___emotion-button___"]:disabled:before{ //エモーション禁止時
                  background-color: $nico-black;
                  opacity: 0.8;
                }
                [class*="___broadcast-participation-area-disabled-message-area___"]{
                  [class*="___broadcast-participation-area-disabled-message___"]{
                    color: $main-text-color;
                  }
                }
              }
            }
          }
          [class*="___player-display___"]{ //フルスクリーン時
            [class*="___player-display-footer___"]{
              [class*="___broadcast-participation-area___"]{ //新市場・コメント入力
                background: none;
                border: none;
                [class*="___comment-post-panel___"]{ //コメント入力欄
                  [class*="___command-tool___"]{ //コマンド
                    [class*="___command-palette___"]{ //コマンドパレット
                      background-color: $nico-black;
                      [class*="___anonymous-comment-post-toggle-button-field___"]{ //コメント投稿設定
                        [class*="___label___"]{
                          color: $main-text-color;
                        }
                      }
                    }
                  }
    
                  [class*="___overlay___"]{ //コメント禁止
                    background-color: $nico-black;
                    opacity: 0.8;
                  }
                  [class*="___disabled-message___"]{ //コメント禁止
                    color: $main-text-color;
                  }
                }
                [class*="___emotion-button___"]:disabled:before{ //エモーション禁止時
                  background-color: $nico-black;
                  opacity: 0.8;
                }
                [class*="___broadcast-participation-area-disabled-message-area___"]{
                  [class*="___broadcast-participation-area-disabled-message___"]{
                    color: $main-text-color;
                  }
                }
              }
            }
          }
          [class*="___player-setting-view___"]{ //プレイヤー詳細設定
            background-color: $main-background-color;
            border-color: $main-background-color;
            [class*="___header___"]{
              background-color: $nico-black;
              [class*="___heading___"]{
                color: $main-text-color;
              }
              [class*="___close-button___"]{ //閉じるボタン
                [class*="___symbol-mark___"] path{
                  fill: $main-text-color;
                }
              }
            }
            [class*="___content___"]{
              color: $main-text-color;
              section{
                [class*="___header___"]{
                  color: $main-text-color;
                }
                [class*="___content___"]{
                  border-color: $border-background-color;
                  [class*="___player-screen-size-menu-button-field___"]{
                    color: $main-text-color;
                    svg{
                      color: $main-text-color;
                    }
                  }
                  [class*="___player-screen-size-menu-button-field___"]:hover{
                    background-color: $hover-background-color;
                  }
                  [class*="___toggle-button-field___"]:hover,[class*="___item___"]:hover{
                    background-color: $hover-background-color;
                  }
                }
              }
            }
          }
          [class*="___player-status___"]{ //ステータス・コメント・おすすめ
            background-color: $main-background-color;
            border-color: $main-background-color;
            [class*="___program-information-panel___"]{ //ステータス
              [class*="___program-statistics-menu___"]{
                border-color: $main-background-color;
                [class*="___item___"]{
                  [class*="___count___"]{
                    [class*="___symbol-mark___"]{
                      *{
                        fill: $sub-1-text-color;
                      }
                      [fill="none"]{
                        fill: none !important;
                      }
                    }
                    [class*="___content___"]{
                      color: $sub-1-text-color;
                    }
                  }
                  [class*="___count___"][type=button]:enabled:not([aria-busy=true]):before{
                    background-color: $hover-background-color;
                  }
                  [class*="___promotion-balloon___"]{
                    background-color: $nico-black;
                    [class*="___promotion-anchor___"]{
                      color: $main-text-color;
                    }
                    [class*="___promotion-anchor___"]:hover{
                      text-decoration: underline;
                    }
                  }
                  [class*="___promotion-balloon___"]::before{
                    background-color: $nico-black;
                  }
                }
              }
            }
            [class*="___contents-tab-panel___"]{ //コンテンツタブパネル
              [class*="___tab-area___"]{
                background: none;
                border-color: $border-background-color;
                [class*="___ng-setting-controller___"]{ //NG設定ボタン
                  svg{
                    fill: $main-text-color;
                  }
                }
                [class*="___ng-setting-controller___"]:hover{ //NG設定ボタン
                  svg{
                    fill: $main-url-color;
                  }
                }
                [class*="___ng-setting-controller___"]::after{
                  background-color: $border-background-color;
                }
                [class*="___tab-list___"]{ //tab
                  [class*="___tab___"]{
                    background: none;
                    color: $main-text-color;
                  }
                  [class*="___tab___"][aria-selected="true"]::after{
                    background-color: $main-url-color;
                  }
                  [class*="___tab___"]:not([aria-selected=true]):hover{
                    color: $main-url-color;
                  }
                  [class*="___tab___"]:not([aria-selected=true]):hover:after{
                    background: none;
                  }
                }
              }
              [class*="___comment-panel___"]{ //コメントパネル
                [class*="___table___"]{
                  [class*="___table-row___"]{ //システムコメント
                    [class*="___table-cell___"]{
                      [class*="___comment-text___"]{ //コメント
                        color: $sub-2-text-color;
                      }
                    }
                  }
                  [class*="___table-row___"][data-comment-type="normal"]{ //通常コメント
                    [class*="___table-cell___"]{
                      [class*="___comment-number___"]{ //コメント番号
                        color: $sub-2-text-color;
                      }
                      [class*="___comment-text___"]{ //コメント
                        color: $main-text-color;
                      }
                    }
                  }
                  [class*="___table-row___"][data-comment-type="operator"]{ //運営コメント
                    [class*="___table-cell___"]{
                      [class*="___comment-text___"]{ //コメント
                        color: red;
                      }
                    }
                  }
                  [class*="___table-row___"]:hover{ //ホバー時
                    background-color: $hover-background-color;
                  }
                }
                [class*="___comment-context-menu___"]{
                  background-color: $nico-black;
                  color: $main-text-color;
                  [class*="___menu-item___"]{
                    color: inherit;
                    background-color: inherit;
                  }
                  [class*="___menu-item___"]:hover{
                    background-color: $hover-background-color;
                  }
                }
              }
              [class*="___program-recommend-panel___"]{ //オススメ生放送パネル
                [class*="___item___"]{
                  border-color: $border-background-color;
                  [class*="___program-card___"]{
                    [class*="___content-area___"]{
                      [class*="___program-title___"]{
                        color: $main-text-color;
                      }
                      [class*="___status-bar___"]{
                        [class*="___duration___"],[class*="___content___"]{
                          color: $sub-1-text-color;
                        }
                      }
                    }
                  }
                  [class*="___program-card___"]:hover{
                    background-color: $hover-background-color;
                  }
                }
              }
            }
            [class*="___ng-panel___"]{ //NG設定パネル
              background-color: $nico-black;
              color: $main-text-color;
              [class*="___header___"]{
                [class*="___heading___"]{
                  color: $main-text-color;
                }
                [class*="___close-button___"]{ //閉じるボタン
                  [class*="___symbol-mark___"] path{
                    fill: $main-text-color;
                  }
                }
              }
              [class*="___ng-delete-form___"]{
                [class*="___ng-data-grid___"]{
                  border-color: $border-background-color;
                  [class*="___header___"]{
                    border-color: $border-background-color;
                    background-color: $sub2-background-color;
                    [class*="___header-table___"]{
                      [class*="___header-cell___"]{
                        color: $main-text-color;
                      }
                    }
                  }
                  [class*="___body___"]{
                    [class*="___table___"]{
                      [class*="___table-row___"]:hover{
                        background-color: $hover-background-color;
                      }
                    }
                  }
                  [class*="___tooltip___"]{
                    border-color: $border-background-color;
                    background-color: $nico-black;
                    color: $main-text-color;
                  }
                }
                [class*="___data-grid-controller___"]{
                  [class*="___ng-delete-button___"]{
                    border-color: red;
                    color: $main-text-color;
                  }
                  [class*="___ng-delete-button___"]:hover{
                    background-color: $hover-background-color;
                  }
                }
              }
            }
          }
        }
        [class*="___leo-player___"][data-player-layout="single"]{
          [class*="___player-display___"]{ //プレイヤー左側
            [class*="___player-display-footer___"]{ //プレイヤーフッター
              [class*="___broadcast-participation-area___"]{ //新市場・コメント入力
                background: none;
                border: none;
              }
            }
          }
        }
      }
    }
  }

  [class*="___program-information-area___"]{ //概要欄
    background: $main-background-color;

    [class*="___program-information-header-area___"]{ //ヘッダータイトル
      background: $nico-black;
      box-shadow: 0 4px 8px 0 $nico-black;
      [class*="___program-summary___"]{
        background-color: $nico-black;
        border-color: $nico-black;
        box-shadow: none;
        [class*="___primary-information-area___"]{ //枠タイトル・開始時間
          [class*="___title___"],[class*="___program-title___"]{ //枠タイトル, fix210511
            color: $main-text-color;
            a{
              color: inherit;
            }
            a::after{
              filter: $invert;
            }
            a:hover{
              color: $main-url-color;
            }
            a:hover::after{
              filter: none;
            }
          }
          [class*="___program-detail-area___"]{ //枠開始時間
            [class*="___onair-time___"],[class*="___airtime___"]{
              color: $sub-2-text-color;
            }
          }
          [class*="___program-label-view___"][data-provider-type="channel"]{ //CHラベル
            [class*="___limited-program-label___"]{
              border-color: $nico-ch;
              color: $nico-ch;
            }
          }
          [class*="___program-label-view___"][data-provider-type="community"]{ //コミュラベル
            [class*="___limited-program-label___"]{
              border-color: $nico-com;
              color: $nico-com;
            }
          }
          [class*="___program-label-view___"]{ //有料生放送
            [class*="___pay-program-label___"]{
              border-color: $nico-point;
              color: $nico-point;
            }
          }
        }
        [class*="___menu-dock___"]{ //Share
          [class*="___popup-toggle-button___"]{
            filter: $invert;
          }
          [class*="___list___"]{
            background-color: $nico-black;
            border-color: $border-background-color;
            [class*="___item___"]{
              a{
                color: $main-text-color;
              }
              a:hover{
                background-color: $hover-background-color;
              }
            } 
            
          }
        }
        [class*="___user-summary___"],
        [class*="___channel-summary___"]{ //user
          [class*="___user-information-area___"],
          [class*="___channel-information-area___"]{
            [class*="___user-name___"],
            [class*="___channel-name-anchor___"]{
              color: $main-text-color;
            }
            [class*="___user-name___"]:hover,
            [class*="___channel-name-anchor___"]:hover{
              color: $main-url-color;
            }
            [class*="___level___"],
            [class*="___supplier-name___"]{
              color: $sub-1-text-color;
            }
          }
        }
      }
    }
    [class*="___program-information-body-area___"]{
      [class*="___program-information-main-area___"]{ //左側
        [class*="___tag-widget___"]{ //タグ
          [class*="___tag-list___"]{
            [class*="___item___"]{
              [class*="___tag___"]{
                background-color: $sub2-background-color;
                [class*="___name-anchor___"]{
                  color: $sub-1-text-color;
                }
                [class*="___name-anchor___"]:hover{
                  text-decoration: underline;
                }
              }
            }
          }
          [class*="___edit-mode-toggle-button___"]{ //タグ編集ボタン
            border-color: $border-background-color;
            background-color: $sub2-background-color;
            color: $main-text-color;
            svg path{
              fill: $main-text-color;
            }
          }
        }
        [class*="___tag-widget"][data-editing=true]{
          background: none;
          [class*="___tag-register-form___"]{
            background-color: $livetop-content-bg1;
            [class*="___name-text-box___"]{
              ul{
                li{
                  background-color: $nico-black;
                  color: $main-text-color;
                  border-color: $border-background-color;
                }
                li:hover{
                  background-color: $hover-background-color;
                }
              }
            }
            [class*="___score___"]{
              color: $sub-1-text-color;
            }
            [class*="___faq-anchor___"]::after{
              color: $main-url-color;
            }
          }
        }
        [class*="___tag-widget___"]:before{
          background-color: $nico-black;
        }
        [class*="___program-information___"]{ //概要欄
          [class*="___payment-information___"]{ //ネチケ
            background-color: $nico-black;
            [class*="___message___"]{
              color: $main-text-color;
            }
            [class*="___payment-action-menu___"]{
              [class*="___net-ticket-purchase-anchor___"],
              [class*="___serial-code-use-button___"]{
                color: $main-text-color;
                border-color: $border-background-color;
                background-color: $sub2-background-color;
                [class*="___content___"]{
                  color: $main-text-color;
                }
              }
              [class*="___net-ticket-purchase-anchor___"]:hover,
              [class*="___serial-code-use-button___"]:hover{
                background-color: $hover-background-color;
              }
              [class*="___net-ticket-purchase-anchor___"]::after{
                border-color: $main-text-color;
              }
              [class*="___serial-code-use-button___"]{
                [class*="___symbol-mark___"]>path{
                  fill: $main-text-color;
                }
              }
            }
          }
          [class*="___description___"]{
            color: $main-text-color;
            [style*="background"]{
              color: black;
            }
            font[color*="#808080"]{
              color: $sub-1-text-color;
            }
          }

          [class*="___contents-tree-anchor___"]{
            background-color: $nico-black;
            color: $main-text-color;
            border-color: $nico-tree;
            [class*="___tree-graph-icon___"] path{
              fill: $nico-tree;
            }
          }
          [class*="___creator-promotion-program-anchor___"]{
            background-color: $nico-black;
            color: $main-text-color;
            border-color: $nico-cresyo;
            [class*="___creator-promotion-program-icon___"] path{
              fill: $nico-cresyo;
            }
          }
          [class*="___download-button___"]{
            background-color: $nico-black;
            color: $main-text-color;
            border-color: $border-background-color;
            svg path{
              fill: $main-text-color;
            }
          }
        }
        [class*="___social-group-information___"][data-group-type="community"]{ //コミュ
          border-color: $nico-com;
          [class*="___header-area___"]{
            border-color: $nico-com;
            [class*="___group-name-anchor___"]{
              color: $main-text-color;
            }
          }
          [class*="___body-area___"]{
            [class*="___description___"]{
              color: $main-text-color;
              [class*="___expand-button___"] span{
                color: $main-text-color;
              }
            }
            [class*="___description___"][aria-expanded=false] [class*="___expand-button___"]{
              background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,$main-background-color 16%);
              span{
                color: $main-text-color;
              }
            }
          }
          [class*="___footer-area___"]{
            background-color: $nico-com;
            [class*="___community-message___"]{
              color: $main-text-color;
            }
          }
        }
        [class*="___social-group-information___"][data-group-type="channel"]{ //CH
          border-color: $nico-ch;
          [class*="___header-area___"]{
            border-color: $nico-ch;
            [class*="___group-name-anchor___"]{
              color: $main-text-color;
            }
          }
          [class*="___body-area___"]{
            [class*="___description___"]{
              color: $main-text-color;
              [class*="___expand-button___"] span{
                color: $main-text-color;
              }
            }
            [class*="___description___"][aria-expanded=false] [class*="___expand-button___"]{
              background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,$main-background-color 16%);
              span{
                color: $main-text-color;
              }
            }
          }
          [class*="___footer-area___"]{
            border-color: $nico-ch;
            [class*="___community-message___"]{
              color: $main-text-color;
            }
          }
        }

      }
      [class*="___program-information-side-area___"]{ //右側
        [class*="___konomi-tag-list-section___"]{ //好みタグ
          [class*="___heading___"]{
            color: $main-text-color;
          }
          [class*="___setting-button___"]{
            svg>path{
              fill: $main-text-color;
            }
          }
          [class*="___setting-button___"]:hover{
            background-color: $hover-background-color;
          }
          [class*="___tag-list___"]{
            border: none;
            [class*="___item___"]{
              border-color: $border-background-color;
              [class*="___tag-card___"]{
                [class*="___information___"]{
                  [class*="___name-label___"]{
                    color: $main-text-color;
                  }
                  [class*="___name-label___"]:hover{
                    color: $main-url-color;
                  }
                }
                [class*="___toolbar___"]{
                  [class*="___quote-request-button___"]{
                    svg{
                      fill: $main-text-color;
                    }
                  }
                  [class*="___quote-request-button___"]:hover{
                    background-color: $hover-background-color;
                    svg{
                      fill: $main-url-color;
                    }
                  }
                }
                [class*="___toolbar___"]::before{
                  background-color: $border-background-color;
                }
              }
            }
          }
        }
        [class*="___related-content-panel___"]{ //関連コンテンツ
          [class*="___heading___"]{
            color: $main-text-color;
          }
          [class*="___content-card-list___"]{
            [class*="___item___"]{
              border-color: $border-background-color;
              [class*="___content-card___"]{
                [class*="___content-preview___"]{
                  background: none;
                }
                [class*="___content-area___"]{
                  [class*="___content-summary___"]{
                    [class*="___pay-content-label___"]{
                      border-color: $nico-point;
                      color: $nico-point;
                    }
                    [class*="___content-title___"]{
                      color: $main-text-color;
                    }
                  }
                }
              }
              [class*="___content-card___"]:hover{
                background-color: $hover-background-color;
              }
            }
          }
        }
      }
    }
  }

  [class*="___page-top-anchor___"]{
    background: none;
    color: $sub-1-text-color;
  }

  /*modal*/
  [class*="___program-watch-serial-code-apply-form___"]{ //シリアル入力
    background-color: $main-background-color;
    [class*="___message___"]{
      color: $main-text-color;
    }
    [class*="___action-menu___"]{
      [class*="___close-button___"]{
        color: $sub-2-text-color;
      }
      button:hover{
        background-color: $hover-background-color !important;
      }
    }
  }
}

.niconico-darkmode-setting-true{ //chokaigi2021
  [class*="___planning-event-participation-program-list-section___"]{
    [class*="___header___"]{
      background: $nico-white;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}