.___tag-widget___4DxtD{
  background-color:#1A1B1C !important;
}

.___counter___2VAbI,.___expand-button___3PwgX{
  background: #35393B !important;
  border: none !important;
  color: white !important;
}

.___label___3E6WS{
  color: white !important;
}

.___caption___33oIS{
  color: whitesmoke !important;
}
.___target___1pW1J{
  background: #35393B !important;
  color: white !important;
}

.___load-button___28Qcd{
  background: #35393B !important;
  color: white !important;
}

.___heading___BYXKM{
  color: white !important;
}