/*BG*/
.___page___1G6yH{
  background: #1A1B1C !important;
}
.___program-information-area___3Y_YG{
  background: #252525 !important;
}


/*ads banner*/
.___billboard-ad___2WPwn{
  background: none !important;
  border-bottom: #666 1px solid !important;
}


/*counter*/
.___broadcast-participation-area___2_M2S{
  border: none !important;
  background: none !important;
}
.___disabled-message___gyrKQ a{
  color: black !important;
}
.___broadcast-participation-area-disabled-message-area___24J5E{
  background: #00000099 !important;
}
.___broadcast-participation-area-disabled-message-area___24J5E span{
  color: white !important;
}

/*comment*/
.___comment-post-form___6EUf5 input{
  background: #252525 !important;
  color: white !important;
  border:none !important;
}
input[name="command"]{
  border-right: #555 2px solid !important;
}
.___command-palette___2gp0H{
  background-color: hsla(0,0%,100%,.9);
}
.___command-palette___c692n.___command-palette___2gp0H{
  background: #252525 !important;
}
.___message___2r1zv{
  color: #999 !important;
}
.___item___1Ez9-.___control___3F6-e input,.___item___R78sZ.___control___Qtpvm input{
  background: none !important;
}
.___overlay___34ni-{
  background-color: #262626cc !important;
}
.___disabled-message___gyrKQ{
  color: white !important;
}
.___disabled-message___gyrKQ a{
  color: #0080ff !important;
}

/*side panel*/
.___program-information-panel___INufH.___ga-ns-program-information-panel___21IJ1.___program-information-panel___L2N5e ul li span span,
.___program-information-panel___INufH.___ga-ns-program-information-panel___21IJ1.___program-information-panel___L2N5e ul li button span{
  color: whitesmoke !important;
}
.___symbol-mark___27-28 rect, .___symbol-mark___27-28>path{
  fill: whitesmoke !important;
}
.___count___3x8ZI>svg>path:last-child{
  fill: none !important;
}
.___count___1OjQV[type=button]:enabled:not([aria-busy=true]):before{
  background-color: #555555 !important;
}


.___player-status___BQ7B7{
  background-color: #1A1B1C !important;
  border: none !important;
}
.___promotion-balloon___UsNYE{
  background-color: #1A1B1C !important;
  border: 1px solid #666;
}
.___close-button___2ZJVz:hover{
  background: #1A1B1C !important;
}
.___promotion-balloon___UsNYE:before{
  background: none !important;
}
.___program-statistics-menu___NOQCW{
  border: none !important;
}
.___tab-area___3ACye{
  background-color: #1A1B1C !important;
  border-bottom: #999 2px solid !important;
}
.___ng-setting-popup-button___yBxaP>svg{
  fill: white !important;
}
.___ng-setting-popup-button___yBxaP:hover>svg{
  fill: #0080ff !important;
  transition: fill .12s ease;
}

.___tab___1OVyJ{
  color: white !important;
  background: none !important;
}
.___tab___1OVyJ[aria-selected=true]:after{
  background-color: #0080ff !important;
}

.___banner-panel___XbLIX{
  border: solid #666;
}
.___close-button___1AMBC{
  background-color: #1A1B1C !important;
}

/*side comment*/
.___comment-number___2Qws3,.___table-row___27ghe[data-comment-type=cruise] .___comment-text___2cPL0, .___table-row___27ghe[data-comment-type=nicoad] .___comment-text___2cPL0, .___table-row___27ghe[data-comment-type=programExtend] .___comment-text___2cPL0, .___table-row___27ghe[data-comment-type=quote] .___comment-text___2cPL0, .___table-row___27ghe[data-comment-type=ranking] .___comment-text___2cPL0, .___table-row___27ghe[data-comment-type=spi] .___comment-text___2cPL0, .___table-row___27ghe[data-comment-type=transparent] .___comment-text___2cPL0, .___table-row___27ghe[data-comment-type=userFollow] .___comment-text___2cPL0, .___table-row___27ghe[data-comment-type=userLevelup] .___comment-text___2cPL0{
  color: #999 !important;
}
.___table-row___27ghe[data-comment-type=operator] .___comment-text___2cPL0{
  color: rgb(255, 0, 0) !important;
}
.___table-cell___3E0rV{
  color: white;
}
.___table-row___27ghe:hover, .___table-row___27ghe[aria-selected=true]{
  background-color: #35393B !important;
}

/*side osusume*/
.___item___3VvT9{
  border-bottom: 1px solid #333 !important;
}
.___program-card___x3vdg:hover{
  background-color: #35393B !important;
}
.___program-title___3kSQv{
  color: white !important;
}
.___duration___1JLRl, .___start-at___3ynDg,.___content___1pUhn{
  color: #999 !important;
}

/*NG*/
.___ng-panel___2Dau-{
  background-color: #252525 !important;
  color: white !important;
}
.___heading___Ej5Kv,.___header-cell___Cg80J{
  color: white !important;
}
.___header___3lx6k{
  border: solid #252525 1px;
  background-color: #252525 !important;
}
.___table-row___ptvPu:hover, .___table-row___ptvPu[aria-selected=true], .___tooltip___2GW8j{
  background-color: #35393B !important;
}
.___ng-delete-button___2I-AE{
  color: white !important;
}
.___symbol-mark___3ahYk>path{
  fill: white !important;
}

/*title*/
.___program-information-header-area___1iPxh{
  background-color: #252525 !important;
  border-bottom: 1px solid #1A1B1C !important;
  box-shadow: 0 4px 8px 0 #1A1B1C !important;
}
.___program-summary___2BVKN{
  background-color: #252525 !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

.___title___1aYd0{
  color: white !important;
}
.___onair-time___ezyFY,.___level___2Pj85{
  color: #999 !important;
}
.___popup-toggle-button___1UajY,.___popup-toggle-button___31Okx{
  filter: invert();
}
.___list___280fl,.___list___3Tgas{
  background-color: #252525 !important;
}
.___item___2ZLjH a:hover,.___item___2DzBr a:hover{
  background-color: #35393B !important;
}

.___supplier-name___1snUG{
  color: #999 !important;
}

/*tag*/
.___tag___1B5lq{
  background-color: #555555 !important;
}
.___edit-mode-toggle-button___2IVDx{
  border: 2px solid #555555 !important;
  background-color: #555555 !important;
  color: white !important;
}
.___edit-mode-toggle-button___Sc2B_.___edit-mode-toggle-button___2IVDx svg path{
  fill: white !important;
}

.___tag-widget___1BlLq:before,.___tag-register-form___2-_53{
  background-color: #333333 !important;
}
.___score___1f3eV{
  color: #666 !important;
}
.___faq-anchor___13OrB:after{
  color: #0080FF !important;
}
.___text-box___3YfFm{
  background-color: #555555 !important;
  color: white !important;
}

/*description*/
.___description___1jHOS,.___content___79Cu5{
  color: white !important;
}
.___description___1jHOS a{
  color: #0080ff !important;
}

/*underbt*/
.___contents-tree-anchor___CPjDe, .___creator-promotion-program-anchor___21_7w, .___download-button___3x7UG{
  border: 1px solid #555555 !important;
  background-color: #555555 !important;
}
.___contents-tree-anchor___CPjDe svg path, .___creator-promotion-program-anchor___21_7w svg path, .___download-button___3x7UG svg path{
  fill: white !important;
}

.___follow-anchor___1PaWU{
  color: black !important;
}

/*community*/
.___social-group-information___3Vwle{
  border: 2px solid #258D8D !important;
}
.___header-area___FLBI2{
  border-bottom: 2px solid #258D8D !important;
}
.___social-group-information___3Vwle[data-group-type=community] .___footer-area___294Um{
  background-color: #258D8D !important;
}
.___community-message___fWBhe{
  color: white !important;
}
.___community-page-anchor___3BT8W{
  color: #258D8D !important;
}
.___description___3aLzk[aria-expanded=false] .___expand-button___S8O-B{
  background:none !important;
}
.___description___3aLzk[aria-expanded=false]{
  color: #999 !important;
}

/*channnel*/
.___social-group-information___3Vwle[data-group-type="channel"]{
  border: 2px solid #D9A300 !important;
}
.___social-group-information___3Vwle[data-group-type="channel"] .___header-area___FLBI2{
  border-bottom: 2px solid #D9A300 !important;
}
.___social-group-information___3Vwle[data-group-type="channel"] .___footer-area___294Um{
  border-top: none !important;
}
.___channel-page-anchor___MM9Ik{
  border: none !important;
  background-color: #D9A300 !important;
  color: white !important;
}

/*kanren contents*/
.___heading___14I8Y,.___content-title___uHN8q{
  color: white !important;
}
.___related-content-card___cf8E8:hover{
  background-color: #555555 !important;
}

/*footer*/
.___page-top-anchor___9sr8C{
  background-color: #1A1B1C !important;
}




/*nicoad-ex*/
#iframePanel-header h1{
  color: white !important;
  background: #252525 !important;
}
.___rich-view-status___3mt-b{
  border: 1px solid #252525 !important;
}