@import "../parts/default";

.niconico-darkmode-setting-true >div[style*="background-color: #fafafa;"]{
  background: none !important;
  #index_content{
    #index_left{
      background: none;

      #info{
        background: $nico-black;
        padding: 10px;
      }

      .home_box{
        border: none;
        background: $nico-black;
        padding: 10px;
      }
    }
  }
}