@import "../parts/default";

.niconico-darkmode-setting-true{
  .p-topPage{
    background: none;

    .topContentsArea{
      margin: 10px auto;

      .topContentsInner{
        .contentLeft{
          .topInfoList{ //お知らせ
            h3{
              filter: invert(90%);
              border: 1px solid $border-background-color;
              border-radius: 5px;
            }
            .topInfoReadMore{
              &:hover{
                opacity: 1;
              }
              a{
                color: $sub-1-text-color;
                &:hover{
                  color: $main-url-color;
                  opacity: 1;
                  
                  .moreReadIcon{
                    svg{
                      fill: $main-url-color;
                    }
                  }
                }
                .moreReadIcon{
                  svg{
                    fill: $sub-1-text-color;
                  }
                }
              }
            }
            .infoListInner{
              border-color: $border-background-color;
              .topInfoListArea{
                dd{
                  a{
                    color: $main-text-color;
                    &:hover{
                      color: $main-url-color;
                    }
                  }
                }
              }
            }
          }
          .newUploads{ //自分が投稿したコモンズ作品
            h3{
              filter: invert(90%);
              border: 1px solid $border-background-color;
              border-radius: 5px;
            }
            .topUploadReadMore{
              &:hover{
                opacity: 1;
              }
              a{
                color: $sub-1-text-color;
                &:hover{
                  color: $main-url-color;
                  opacity: 1;
                  
                  .moreReadIcon{
                    svg{
                      fill: $main-url-color;
                    }
                  }
                }
                .moreReadIcon{
                  svg{
                    fill: $sub-1-text-color;
                  }
                }
              }
            }
            .newUploadsMain{
              border-color: $border-background-color;
              background-color: $nico-black;
              table{
                .newArrivalItem{
                  .titleArea{
                    a{
                      color: $main-text-color;
                    }
                  }
                  .topTreeButton .topTreeButtonAnchor{
                    border-color: $border-background-color;
                    background-color: $sub2-background-color;
                    .treeIcon svg{
                      fill: $nico-tree;
                    }
                    .treeText{
                      color: $nico-tree;
                    }
                  }
                }
              }
            }
            .newUploadsMainArea{ //投稿作品がない場合
              .topErrorArea{
                background-color: $main-background-color;
                border-color: $border-background-color;
                .topErrorMsg{
                  color: $main-text-color;
                }
                .topAddText{
                  color: $sub-1-text-color;
                }
                .text{
                  color: $sub-1-text-color;
                  &:hover{
                    color: $main-url-color;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        .contentRight{
          #HelpLinks{
            border: none;
            background: none;
            *{
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}