@import "../parts/default";

.niconico-darkmode-setting-true{
  .itemCard,.searchItemCardArea{
    .materialsItemCard,.searchItemCard{
      background-color: $nico-black !important;
      .contentArea{
        .programSummary,.materialSummary,.searchSummary{
          .materialTitle,.searchTitle{
            color: $main-text-color;
          }
        }
        .searchDescription{
          color: $sub-1-text-color;
        }
        .tagList .tagListInner{
          .tag{
            color: $sub-1-text-color;
            background-color: $hover-background-color;
          }
        }
        .menuArea{
          color: $sub-1-text-color;
        }
        .materialsPickupUserName{
          color: $sub-1-text-color;
        }
      }
    }
    a.materialsPickupTagAnchor{
      background-color: $nico-black;
      border-color: $nico-black;
      .materialsPickupTagName{
        color: $main-text-color;
      }

      &:hover{
        background-color: $nico-black;
        border-color: $main-url-color;
        .materialsPickupTagName{
          border-color: $main-url-color;
        }
      }
    }
  }
}