/*body*/
.___top-program-list-section-expander___9K7JB{
  background-color:#1A1B1C !important;
}
.___page___T8fzh,.___feature-program-section___2ZYME{
  background-color:#1A1B1C !important;
}

/*serchbox cre*/
.___text-box___1phU7,#header_search_form_input{
  background-color: #35393B !important;
  color: white !important;
}
.___search-button___1LfLF svg{
  fill: black !important;
}
.___suggest___37_Ri{
  border: 1px solid #767676 !important;
}
.___search-text-box___1v7f0 ul,.___item___K3FHB{
  background-color: #35393B !important;
  color: whitesmoke !important;
}
.___item___K3FHB:hover{
  background: #666 !important;
}
.___item___K3FHB:not(:last-child){
  border-bottom: 1px solid #767676 !important;
}



/*footer*/
.___page-top-anchor___1YKnh{
  background-color: #35393B !important;
  color: white !important;
}
.___page-top-anchor___1YKnh:after, .___page-top-anchor___1YKnh:before{
  border-color: whitesmoke transparent transparent whitesmoke !important;
}
.___feedback-anchor___3buwB{
  background-color: #737373 !important;
}
.___feedback-anchor___3buwB:hover{
  background-color: #b2bac2 !important;
}

/*ads*/
.___middle-ad___1z4fB,.___footer-ad___1Rn52.___footer-ad___1Rn52, .___footer-ad___1Rn52.___footer-ad___1Rn52+.___footer-ad___1Rn52{
  background-color:#1A1B1C !important;
}

/*follow*/
.___program-list-section___tu0rX,.___program-list-section___3n9d_,.___program-list-section___3Eiaa,.___program-list-section___28tzn{
  background-color: #35393B !important;
  color: white !important;
}
.___program-card___3lP8g:hover.___program-card___2ghwY:hover, .___program-card___5ydve:hover,.___program-card___1rfSu:hover,.___program-card___2_Exo:hover{
  background-color: #737373 !important;
}
.___program-provider-name___2nXc3,.___program-provider-name___1KWYZ,.___program-provider-name___3vdOf{
  color: whitesmoke !important;
}
.___duration___1DqL4,.___duration___1x3OH,.___duration___2ob70{
  color: #999 !important;
}