#logo_zero a{
  filter: invert();
}

.userDetail{
  border: none !important;
  background: #272727 !important;
  padding: 10px !important;
}
.profile h2,.accountNumber,.clearfix li{
  color: whitesmoke !important;
}
.stats{
  background: none !important;
  border: whitesmoke 0.5px solid !important;
}
.clearfix li a{
  color: #0080ff !important;
}
.pullout dt a{
  background-color: #767676 !important;
  color: black !important;
  text-decoration: none !important;
  padding: 0 5px !important;
}
.pullout dd{
  background-color: #767676 !important;
  border: none !important;
}
.pullout dd ul li a{
  color: whitesmoke !important;
}
.accountEdit{
  background-color: #767676 !important;
  border: none !important;
}
.accountEdit:hover{
  background-color: #767676 !important;
  color: whitesmoke !important;
  text-decoration: underline !important;
}

/*sidebar*/
.sidebar ul,.sidebar ul li{
  border: none !important;
}
.sidebar ul li a{
  background: #272727 !important;
  border: none !important;
}
.favTab a span, .nicorepoTab a span, .tagrepoTab a span, .mylistTab a span, .videoTab a span, .badgeTab a span, .stampTab a span, .nicoruTab a span, .buyhistoryTab a span, .translationTab a span, .historyTab a span{
  filter: invert() !important;
}
.sidebar ul li.parent{
  background: none !important;
}
.sidebar ul .parent .navInner{
  border: none !important;
}
.sidebar ul li.parent ul.child li{
  padding : 3px 0 3px 1px !important; 
  background: #272727 !important;
}
.sidebar ul li.parent ul.child{
  width: 100% !important;
}
.sidebar ul li.parent .navInner ul.child li.active a{
  width: 100% !important;
  padding: 6px 2px 2px 0 !important;
}
.navInner{
  background: #272727 !important;
}
.sidebar ul li.parent ul.child li.active{
  background: #35393B !important;
  width: 100% !important;
}
.sidebar ul li.parent ul.child li.active a{
  background: #35393B !important;
  width: 100% !important;
}
.videoTabChild{
  color: whitesmoke !important;
}

/*info*/
#personalFrameArea{
  background: none !important;
  border: none !important;
}
#personalFrame{
  background-color: #272727 !important;
  border: none !important;
  box-shadow: none !important;
  padding-bottom: 5px !important;
}
.personalTitle h3{
  color: whitesmoke !important;
  border-bottom: none !important;
}
.personalDescriptionText{
  background-color: #35393B !important;
}
#personalFrame .personalFrameHighlight{
  font-weight: lighter !important;
}

/*content*/
.wrapper .content{
  border: none !important;
  background-color: #272727 !important;
}

/*nicorepo*/
.setting-container{
  background-color: #272727 !important;
  border-bottom: #767676 solid 0.5px !important;
}
.NicorepoFilterSelectContainer-caption,.NicorepoFilterSelectContainer-label{
  color: whitesmoke !important;
}
.articleBody{
  background: #35393B !important;
}
.log-body span{
  color: whitesmoke;
}
.nicorepo .nicorepo-page .log{
  border-top: 1px solid #767676 !important;
  margin-top: 12px;
  padding-top: 12px;
}
.nicorepo .log:first-child{
  border-top: none !important; 
}
.nicorepo .log-footer .log-footer-date.hot,.nicorepo .log-body strong{
  color: red !important;
}
.nicorepo .next-page{
  background: #35393B !important;
}
/*nicorepo mute*/
.text,.setting-mute-count,.contents-text,.setting-contents .setting-text{
  color: white !important;
}
.mute-setting{
  border: none !important;
  background: #35393B !important;
}
.setting-action .button-unmute{
  color: #fff !important;
  background-color: #86b302 !important;
}

/*nicorepo none*/
.nicorepo .emptyOuter{
  background: none !important;
  color: white !important;
}
.nicorepo .arrowButton{
  border: none !important;
  background: #767676 !important;
}
.nicorepo .arrowButton{
  border: none !important;
  background: #767676 !important;
}
.nicorepo .arrowButton:hover{
  text-decoration: underline;
  color: white !important;
}

/*nicorepo del*/
.nicorepo .log-deleteform-button input{
  border: none !important;
  background: #767676 !important;
  color: white !important;
  text-shadow: none !important;
}
.nicorepo .log-deleteform-button input:hover{
  color: red !important;
}

/*follow user*/
#favUser .articleBody .pagerWrap,.articleBody .outer{
  border-bottom: #767676 solid 1px !important;
}
.articleBody .outer .buttonShape{
  color: black !important;
}
.section p{
  color: #999999 !important;
}
#favUser .articleBody .pagerWrap.disable{
  border-bottom: none !important;
}
.articleBody .pager a{
  border: none !important;
  background: #454545 !important;
}
.articleBody .pager span, .articleBody .pagerWrap .pager span{
  background: none !important;
  border: none !important;
}

/*follow tag*/
#favTag .articleBody .pagerWrap{
  border-bottom: #767676 solid 1px !important;
}
#favTag .articleBody .pagerWrap.disable{
  border-bottom: none !important;
}
#favTag .articleBody .outer .inner{
  background: #454545 !important;
}

/*follow mylist*/
#favMylist .articleBody .pagerWrap{
  border-bottom: #767676 solid 1px !important;
}
#favMylist .articleBody .pagerWrap.disable{
  border-bottom: none !important;
}
#favMylist .articleBody .outer .mylistDescription,#favMylist .articleBody .outer .privateMylist{
  background: none !important;
  color: whitesmoke !important;
}
#favMylist .articleBody .outer .inner{
  background: #454545 !important;
}

/*follow ch*/
#favChannel .articleBody .pagerWrap{
  border-bottom: #767676 solid 1px !important;
}
#favChannel .articleBody .pagerWrap.disable{
  border-bottom: none !important;
}
.content p.attentionText{
  color: whitesmoke !important;
}

/*follow community*/
#favCommunity .articleBody .pagerWrap{
  border-bottom: #767676 solid 1px !important;
}
#favCommunity .articleBody .pagerWrap.disable{
  border-bottom: none !important;
}
#favCommunity .articleBody .outer .data li{
  color: whitesmoke !important;
}

/*tagrepo*/
.post-item{
  background-color: #454545 !important;
}
.post-item-owner .owner-name{
  color: whitesmoke !important;
}
.contents-related-tag-wrapper .related-tag a{
  background: #767676 !important;
  border: none !important;
}
.contents-related-tag-wrapper .related-tag a:hover{
  color: whitesmoke !important;
  text-decoration: underline !important;
}

/*tagrepo none*/
.errorMessageContainer{
  background: none !important;
  color: white !important;
}

/*mylist*/
.content .buttonOuter,.content .buttonOuter p{
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}
.content .buttonOuter p .button{
  text-shadow: none !important;
  box-shadow: none !important;
  background: #35393B !important;
}
.content .buttonOuter p .button:hover{
  background: #767676 !important;
  color: white !important;
  text-decoration: underline !important;
}
.articleBody .outer{
  background: none !important;
}
#mylist .articleBody .outer.listOption .spBox .itemTotalNum{
  color: whitesmoke !important;
}
select{
  background: #35393B !important;
  color: white !important;
  border: 1px solid #767676 !important;
}
.ItemSelectMenuContainer *{
  color: whitesmoke !important;
}
.CustomCheckbox-check::before{
  background: #767676 !important;
}
.CustomCheckbox-check::after{
  border-left: 3px solid white !important;
  border-bottom: 3px solid white !important;
}
.ItemActionMenuContainer-itemAction button,#mylist .articleBody .myContList li.SYS_box_item .commentInputContainer input{
  background: #767676 !important;
  color: white !important;
  border: none !important;
}
.ItemActionMenuContainer-itemAction button:hover,#mylist .articleBody .myContList li.SYS_box_item .commentInputContainer input:hover{
  text-decoration: underline !important;
}
.ItemActionMenuContainer-button.delete{
  color: red !important;
}
#mylist .articleBody .myContList li.SYS_box_item ul.metadata{
  background: #767676 !important;
  color: whitesmoke;
}
#mylist .articleBody .myContList li.SYS_box_item .commentInputContainer textarea{
  background: #767676 !important;
  color: white !important;
  border: none !important;
}
.MylistItem{
  border-bottom: #767676 solid 1px !important;
}
dl.pullout dt a{
  color: whitesmoke !important;
}
dl.pullout dd{
  color: whitesmoke !important;
}
.aside{
  background: none !important;
  border-bottom: #767676 solid 1px !important;
  color: whitesmoke !important;
}
#mylist .articleBody .outer .mylistComment,#mylist .articleBody .myContList li.SYS_box_item .commentContainer p{
  background: #767676 !important;
  color: whitesmoke !important;
  border: none !important;
}

/*my video*/
.mypage-garage-lead{
  background: #35393B !important;
  color: whitesmoke !important;
}
body .mypage-garage-lead-link{
  border: none !important;
}
body .mypage-garage-lead-link:hover{
  color: white !important;
  text-decoration: underline !important;
}
#video .articleBody .outer .section .dataOuter{
  background: #767676 !important;
  color: whitesmoke;
}
.articleBody .outer .section ul.metadata{
  background: #767676 !important;
  color: whitesmoke !important;
}
.mylist a:hover{
  color: whitesmoke !important;
  text-decoration: underline !important;
}
.VideoItem-videoDetail ul{
  color: whitesmoke !important;
}
.articleBody .outer .section p.res span{
  background: none !important;
  width: 32px !important;
}
.articleBody .outer .section p.res span::before{
  content: "ｺﾒﾝﾄ";
}

/*series*/
.GarageLink:hover{
  color: whitesmoke !important;
  text-decoration: underline !important;
}
.Series{
  background: #35393B !important;
}
.SeriesMediaObject-bodyCount{
  color: #999 !important;
}

/*seiga*/
#seiga .articleBody .outer .thumbContainer{
  border: none !important;
}
.notice{
  border-top: none !important;
}
.content h4{
  color: white !important;
}

/*live timesift*/
#live .outer ol li span.timeshiftNo{
  color: #666 !important;
}
#live .outer ol li{
  border-bottom: 1px solid #767676 !important;
}
#live .outer ol li .timeshiftWatchButton,.liveWatchButton{
  background: #767676 !important;
  border: #767676 1px solid !important;
  text-shadow: none !important;
}
#live .outer ol li .timeshiftWatchButton:hover,.liveWatchButton:hover{
  color: whitesmoke !important;
  text-decoration: underline !important;
}
#live .outer ol li .timeshiftWatchButton span,.liveWatchButton span{
  filter: invert();
}
.outer.noItem p{
  color: whitesmoke !important;
}

/*stanp*/
#stamp .articleBody{
  border: none !important;
}
.stamp-pie-chart-legend-item span {
  color: whitesmoke !important;
}
#stamp-pie-chart svg{
  background: #767676 !important;
  border-radius: 3px !important;
}
#stamp .articleBody .outer h5{
  color: whitesmoke !important;
}
.stampList{
  background: none !important;
}
#stamp .articleBody .outer .stampList li{
  background: none !important;
}
#stamp .articleBody .pagerWrap{
  border-top: #767676 solid 1px !important;
}

/*nicoru*/
.NicoruHistoryPassiveItem,.NicoruHistoryActiveItem{
  background: #767676 !important;
  box-shadow: none !important;
  border-radius: 3px !important;
}
.NicoruHistoryPassiveItem-subject,.NicoruHistoryActiveItem-subject{
  border-bottom: none !important;
}
.NicoruHistoryPassiveItem-subjectComment,.NicoruHistoryActiveItem-subjectComment{
  color: white !important;
}
.NicoruHistoryPassiveItem-video,.NicoruHistoryActiveItem-video{
  background: none !important;
}
.NicoruHistoryPassiveItem-videoTitleArea,.NicoruHistoryActiveItem-videoTitleArea{
  padding-right: 3px !important;
}
.NicoruHistoryPassiveItem-date,.NicoruHistoryActiveItem-subjectCreatedAt{
  color: whitesmoke !important;
}
.NicoruHistoryPassiveItem-subjectNicoruCount,.NicoruHistoryActiveItem-countInner{
  color: #EECC40 !important;
}
.ThreePointMenu:hover{
  background: #666 !important;
}
.ThreePointMenu-menu{
  border: none !important;
  background: #666 !important;
  color: white !important;
}
.ThreePointMenu-menu div:hover{
  text-decoration: underline !important;
}

/*buy / trance*/
.notice, .notice p{
  color: white !important;
}
#translation .notice p.attention{
  color: red !important;
}
.outer.NoItem p{
  color: white !important;
}

/*history*/
.articleBody .outer .section ul.metadata li.posttime{
  color: black !important;
}


/*ads*/
.pc_video_my_text_west_item a{
  color: black !important;
}



/*serch*/
.suggestBoxInner li a{
  color: white !important;
}

/*payment*/
.nicolib-Dialog-Body{
  border: #666 1px solid;
}
.nicolib-Dialog-Title{
  background: #1A1B1C !important;
  border-bottom: none !important;
}
.nicolib-Dialog-Title-TextNode{
  text-shadow: none !important;
  color: white !important;
}
.nicolib-Dialog-Content{
  background: #35393B !important;
}
.nicolib-Dialog-Title-CloseNode{
  filter: invert();
}

/*edit mylist sidebar*/
.sidebar ul .child{
  background: none !important;
}
#SYS_box_order_mylistgroups p{
  color: whitesmoke !important;
}

/*edit mylist*/
.inputRadio{
  color: whitesmoke !important;
}
#mylist .articleBody .outer table td label#private{
  color: red !important;
}
.inputText input,.inputText textarea{
  background: #767676 !important;
  color: whitesmoke !important;
  border: none !important;
}
#mylist .articleBody .outer table th{
  background: none !important;
}
#mylist .articleBody .outer table th span{
  color: white !important;
  border-top: none !important;
}
#mylist .articleBody .outer table tr{
  border-bottom: #767676 solid 1px !important;
}

/*mylist none*/
.articleBody .noListMsg .emptyOuter{
  background: none !important;
}
.articleBody .noListMsg .emptyOuter p{
  color: whitesmoke !important;
}
.articleBody .noListMsg .arrowButton{
  background: #767676 !important;
  border: none !important;
}