.UserPageHeader,
.UserPage-header,
.UserDetailsHeader,
.MainMenuContainer,
.MainMenuContainer-menu{
  background: #252525 !important;
  background-color: #252525 !important;
}

.FormationFrame-message{
  border: none !important;
  color: white !important;
}

.NiconicoLogo{
  filter: invert();
}
.PersonalFrame{
  background-color: #252525 !important;
  border: 2px solid #666 !important;
}


.UserDetailsHeader-nickname{
  color: white !important;
}

.UserDetailsHeader-accountID,
.UserDetailsHeader-accountRegisteredVersion,
.UserDetailsStatusItem-label{
  color: #999 !important;
}

.UserDetailsHeader:after{
  background-color: #666 !important;
}

.ExpandBoxButton-overlay{
  background: none !important;
}
.ExpandBoxButton{
  background-color: #333;
}
.NiconicoPoint{
  border: #666 solid 1px !important;
  background: #252525 !important;
  border-radius: 5px;
}

/*nicorepo item*/
.NicorepoItem-item,
.UserItem-content,
.FollowingTagContainer-content,
.MylistMediaObject-linkArea,
.ChannelItem-content,
.CommunityItem-content,
.ModalActionButton{
  background: #252525 !important;
  background-color: #252525 !important;
  color: white !important;
  border: none !important;
}
.NiconicoPoint:hover,
.NicorepoItem-item:hover,
.UserItem-content:hover,
.FollowingTagContainer-content:hover,
.MylistMediaObject-linkArea:hover,
.ChannelItem-content:hover,
.CommunityItem-content:hover,
.ModalActionButton:hover,
.MainMenuItem:hover,
.MylistMediaObject-linkArea:hover .MylistThumbnails{
  background-color: #35393B !important;
}

.UserItem-nickname,
.MylistMediaObject-bodyTitle,
.ChannelItem-name,
.CommunityItem-name,
.MylistThumbnails-itemCount,
.MymemoryContainer-title,
.ThreePointMenu>*{
  color: white !important;
}

/*3pmenu*/
.ThreePointMenu-button,.ShareButton{
  filter: invert();
}
.ThreePointMenu-button:hover,.ShareButton:hover{
  background-color: #35393B !important;
  filter: none !important;
}
.ThreePointMenu{
  background-color: #35393B !important;
}
.ThreePointMenu>*:hover{
  background-color: #737373 !important;
}

/*movie item*/
.MylistThumbnails{
  background: #252525 !important;
  border: 1px #333 solid !important;
}
.MylistThumbnails-itemCount{
  background: #35393B !important;
  padding: 1px .5rem;
  border-radius: 5px;
}
.MylistThumbnails-thumbnail:nth-of-type(3):before{
  background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,98%,0)),to(#252525)) !important;
  background: linear-gradient(90deg,hsla(0,0%,98%,0),#252525) !important;
}
.WatchLaterHeader-name,
.MylistHeader-name,
.VideoMediaObject-bodyTitle{
  color: white !important;
}
.VideoMediaObject-bodyDescription,
.MylistDescription .ExpandBox_is-expanded{
  color: #999 !important;
}
.WatchLaterList-item+.WatchLaterList-item{
  border-top: #666 1px solid !important;
}
.MylistHeader-metaItemValue{
  color: whitesmoke !important;
}
.MylistItemList-item+.MylistItemList-item:before,
.MylistHeader:after{
  background-color: #666 !important;
}

.Selectbox-button, .VideoListEditMenuButton{
  background: #252525 !important;
  border: #666 1px solid !important;
  color: white !important;
}
.Selectbox-button:hover, .VideoListEditMenuButton:hover{
  background-color: #35393B !important;
}
.Selectbox-label{
  color: white !important;
}
.Selectbox-button_disabled .Selectbox-label, .VideoListEditMenuButton_disable{
  background: #252525 !important;
  color: #666 !important;
}

.Checkbox-check:before{
  background-color: #252525 !important;
  border: 2px solid #666 !important;
}
.Checkbox-input:checked+.Checkbox-check:before{
  background-color: #0080ff !important;
  border: 2px solid #0080ff !important;
}

.Selectbox{
  background-color: #35393B !important;
  color: white !important;
}
.MylistSelectbox-item,
.SortSelectbox-item,
.MymemoryContainer-orderSelectorItem{
  color: white !important;
}
.MylistSelectbox-item:hover,
.SortSelectbox-item:hover,
.MymemoryContainer-orderSelectorItem:hover{
  background-color: #737373 !important;
}

/*tagrepo*/
.TagrepoContainer-headerTagName,
.BlankState-title{
  color: white !important;
}
.TagrepoItem{
  background-color: #35393B !important;
  border: none !important;
}
.TagrepoContainer-headerActionMenuItem:last-child{
  border-top: 1px solid #666 !important;
  color: white !important;
}
.TagrepoContainer-headerActionMenuItem:hover{
  background-color: #737373 !important;
}
.TagrepoContainer-header{
  border-bottom: 1px solid #666 !important;
}


/*side sort*/
.SubMenuLink-label{
  color: whitesmoke !important;
}
.SubMenuLink-link_active span{
  color: #0080ff !important;
}
.SubMenuLink-link_internal:hover span{
  color: #0080ff !important;
}


/*modal*/
.ModalContent{
  background-color: #252525 !important;
}
.NicorepoMuteSettingContainer-infoNumber{
  color: #999 !important;
}
.NicorepoMuteItem-detailSender{
  color: white !important;
}
.NicorepoMuteItem-detailActivity{
  color: whitesmoke !important;
}

.MuteOverlay.Fade{
  background-color:hsla(0,0%,15%,95) !important;
}
.MuteOverlay-text{
  color: white !important;
}

.ModalContent_with-footer .ModalContent-body{
  background-color: #252525 !important;
  background: linear-gradient(hsla(0,0%,15%,0),#252525 70%) 0 100%,linear-gradient(transparent,rgba(0,0,0,.1)) 0 100% !important;
}
.TextField-label,
.TextField-inputForm,
.EditMylistModal-settingsItemLabel,
.MylistCreateModalContainer-watchHistoriesTitle{
  color: white !important;
}
.MylistCreateModalContainer-watchHistoryItem+.MylistCreateModalContainer-watchHistoryItem:before{
  background-color: #666 !important;
}
.ModalContent-footer{
  background-color: #333333 !important;
}

.MylistsSortSelectbox-item:hover{
  background-color: #737373 !important;
}
.SortMylistsListItem-name{
  color: white !important;
}
.SortMylistsModal-listItem+.SortMylistsModal-listItem{
  border-top: 1px solid #666 !important;
}

.ShareModal-modal{
  background-color: #252525 !important;
}
.ShareModal-modalTitle,
.ShareModal-formItemLabel{
  color: white !important;
}
input.CopyForm-form{
  background-color: #333333 !important;
  color: white !important;
}
.CopyForm-copy{
  margin-left: .5rem !important;
}
.CopyForm-copy:hover{
  background-color: #0080ff !important;
  color: white !important;
}


/*履歴削除*/

.VideoWatchHistoryContainer-headerAllDeleteButton{
  border: 1px solid #666 !important;
  background-color: #252525 !important;
  color: white !important;
  border-radius: 3px;
}
.VideoWatchHistoryContainer-headerAllDeleteButton:hover{
  background-color: #35393B !important;
}

/*いいね！*/
.VideoMediaObjectList>*+*{
  border-top: 2px solid #666 !important;
}
.LikeItemAfter-thanksMessage{
  background-color: #35393B !important;
  border: 1px solid #35393B !important;
}
.LikeItemAfter-thanksMessage:after, .LikeItemAfter-thanksMessage:before{
  border-bottom: 8px solid #35393B !important;
}
.LikeItemAfter-thanksMessage:after{
  border-bottom-color: #35393B !important;
}

/*stamp*/
.StampCard,.StampCard-rank{
  background-color: #35393B !important;
} 
.StampCard-star{
 fill: #ECC950 !important;
}
.StampCard-star_placeholder{
  fill: #555 !important;
}

/*nicoru*/
.NicoruHistoryPassiveItem,
.NicoruHistoryPassiveItem-video,
.NicoruHistoryActiveItem,
.NicoruHistoryActiveItem-video{
  background-color: #252525 !important;
}
.NicoruHistoryPassiveItem-subject,
.NicoruHistoryActiveItem-subject{
  border-bottom: 1px solid #666 !important;
}

/*other*/
.Dropdown-button{
  color: white !important;
}
.Dropdown-button:hover{
  background-color: #35393B !important;
}
.Dropdown{
  background-color: #35393B !important;
}
.OtherMypageLinks-link:hover{
  background-color: #737373 !important;
}

/*header serchbox*/
/*検索ボックス*/
.CrossSearch-services{
  background-color:#1A1B1C !important; 
  border:solid 1px #35393B !important;
}
.CrossSearch-service{
  color: whitesmoke !important;
}
.CrossSearch-input{
  background-color: #1A1B1C !important;
  color: whitesmoke !important;
  border:solid 1px #35393B !important;
}
.CrossSearch-button{
  background-color: #333333 !important;
}
.suggestBox{
  background-color: #35393B !important; 
  border: 1px solid #35393B !important;
  border-top: 2px solid #35393B !important;
}
.favTagItem.active+.suggestItem{
  border-top: 2px solid #35393B !important;
}
.suggestBoxInner{
  border: 1px solid #333333;
  background-color: #35393B !important;
}
.suggestBox li.active a{
  background-color: #737373 !important;
  color: white !important;
}