.ownerMsg ul li a{
  color: black !important;
}

.stats.channel_open_mb8 ul li{
  color: whitesmoke !important;
}
.userDetailComment li{
  background: #35393B !important;
  color: white !important;
}
.userDetailComment li a{
  color: #0080ff !important;
}

/*side*/
.sidebar ul li div.tabInner{
  background: none !important;
  border: none !important;
  background: rgb(39, 39, 39) !important;
}
.sidebar ul li .tabInner span{
  filter: invert();
}
.sidebar ul li div.tabInner{
  color: whitesmoke !important;
}
.exTag{
  border-top: none !important;
  background: #35393B !important;
}
.exTag p{
  background: #35393B !important;
  color: whitesmoke !important;
}
.exTag dl dt{
  color: whitesmoke !important;
}
.exTag dl dd{
  border: none !important;
  background: none !important;
  padding: 1px !important;
}
.exTag dl dd input{
  background: #767676 !important;
  color: white !important;
  border: none !important;
  padding: 1px !important;
}

/*series*/
.SeriesListContainer-item{
  border-bottom: 1px solid #767676 !important;
}

