$nico-default-bg: #252525;
$nico-black: #252525;
$nico-white: #FAFAFA;

$nico-personal-topics: #30A6CA;

$nico-premium: #d9a300;
$nico-point: #D1A437;
$nicoru: #FCD842;

$nico-illust: #EDA815;
$nico-manga: #88C148;
$nico-ch: #d9a300;
$nico-game: #046EB8;
$nico-app: #046EB8;
$nico-dic: #FFAF19;
$nico-com: #258D8D;
$nico-news: #ff8000;
$nico-jk: #C3291F;

$nico-tree: #EA6802;
$nico-cresyo: #B90C5E;

$nicobox: #D83A35;
$N-yobiko: #000066;

$twitter: #55acee;
$facebook: #3B5998;
$line: #1dcd00;

$nicoad-gold: #E5A900;
$nicoad-silver: #CFDBDD;
$nicoad-bronze: #a36b21;

$main-background-color: #1A1B1C;
$sub-background-color: #272727;
$sub2-background-color: #333333;

$livetop-content-bg1: #121212;
$livetop-content-bg2: #333333;
$livetop-content-bg3: #333b43;

$hover-background-color: #555555;
$border-background-color: #555555;

$main-text-color: #F5F5F5;
$sub-1-text-color: #c4c4c4;
$sub-2-text-color: #999999;
$sub-3-text-color: #666666;

$main-url-color: #0080FF;

$invert: invert(100%);
 