@import '_default';

.niconico-darkmode-setting-true{
  .contents{
    .pager{
      a,span{
        border: none !important;
        background-color: $sub2-background-color !important;
      }
      .active{
        border: none !important;
        background-color: $main-url-color !important;
      }
    }
  }

  //総合マイページ
  .Pagination{
    .PaginationItem{
      border-color: $sub2-background-color;
      background: $sub2-background-color;
      color: $main-text-color;
    }
    .PaginationItem:hover{
      color: $main-url-color;
    }
    .PaginationItem_selected{
      color: $main-text-color !important;
      border-color: $main-url-color;
      background: $main-url-color;
    }
  }

  //マイリスト検索
  #PAGECONTAINER{
    #PAGEBODY{
      .content_672{
        table.pager{
          span.here{
            background: $main-url-color;
            border: 5px solid $main-url-color;
            border-radius: 2.5px;
          }
          a{
            background: $border-background-color;
            border: 5px solid $border-background-color;
            border-radius: 2.5px;
            color: $main-text-color;
          }
          a:hover{
            background: $sub-2-text-color;
            border-color: $sub-2-text-color;
          }
        }
      }
    }
  }

  //生放送検索
  main{
    #page_cover{
      .searchPage-Layout{
        .searchPage-Layout_Main{
          .searchPage-Layout_Section{
            .searchPage-Pager{
              .searchPage-Pager_Item,
              .searchPage-Pager_Item-next,
              .searchPage-Pager_Item-prev{
                color: $main-text-color;
                border-color: $border-background-color;
                background-color: $sub2-background-color;
              }
              .searchPage-Pager_Item:hover,
              .searchPage-Pager_Item-next:hover,
              .searchPage-Pager_Item-prev:hover{
                background-color: $hover-background-color;
              }
              .searchPage-Pager_Item[data-active=true]{
                color: $main-text-color;
                border-color: $main-url-color;
                background-color: $main-url-color;
              }
              .searchPage-Pager_Item-next[data-disabled=true],
              .searchPage-Pager_Item-prev[data-disabled=true]{
                background-color: $sub2-background-color;
                color: $sub-2-text-color;
                border-color: $sub2-background-color;
              }
            }
          }
        }
      }
    }
  }
}