@import '_default';

.niconico-darkmode-setting-true{
  .VideoItem.VideoCard,
  .NicoadItem.NicoadCard{
    background: $nico-black;
    a .CardTitle{
      color: $main-text-color;
    }
    a:visited .CardTitle{
      color: $sub-1-text-color;
    }
    a:hover .CardTitle{
      color: $main-url-color;
    }
  }
  .TagItem{
    .TagItem-link{
      color: $main-text-color;
      background: $sub-background-color !important;
      border: 1px solid $sub-background-color;
    }
    .TagItem-link:hover{
      color: $main-url-color;
    }
  }
  .RankingBaseItem{
    background: $nico-default-bg;
  }
}