@import '_default';

.niconico-darkmode-setting-true{
  /*fix 20210601*/
  .VideoCard,
  .VideoItem.VideoCard,
  .VideoItem.NC-VideoCard,
  .NicoadVideoItem,
  .NicoadItem.NicoadCard,
  .NicoadItem.NC-NicoadCard{
    background: $nico-black;

    a.NicoadVideoItem-link,
    a .Card-title,
    a .NC-CardTitle,
    a.FollowingVideosContainer-owner .FollowingVideosContainer-ownerName{
      color: $main-text-color;
    }
    a.NicoadVideoItem-link:visited,
    a:visited .Card-title,
    a:visited .CardTitle,
    a:visited .NC-CardTitle{
      color: $sub-1-text-color;
    }
    a.NicoadVideoItem-link:hover,
    a:hover .Card-title,
    a:hover .CardTitle,
    a:hover .NC-CardTitle,
    a.FollowingVideosContainer-owner:hover .FollowingVideosContainer-ownerName{
      color: $main-url-color;
    }
    .Card-secondary,
    .NC-Card-secondary{
      color: $sub-1-text-color;
      .NC-VideoCard-registeredAt_new{
        color: $notice-red;
        font-weight: bold;
      }
    }
    .NC-ThreePointMenu-button:hover{
      filter: $invert;
    }
  }
  .TagItem{
    .TagItem-link{
      color: $main-text-color;
      background: $sub-background-color !important;
      border: 1px solid $sub-background-color;
    }
    .TagItem-link:hover{
      color: $main-url-color;
    }
  }
  .RankingBaseItem{
    background: $nico-default-bg;
  }
}