@import '_default';

.niconico-darkmode-setting-true{
  #sideHeader /*旧ヘッダー*/{
    a{
      color: $main-text-color !important;
    }
    #siteHeaderInner ul li ul{
      background: $sub-background-color !important;
    }
    #siteHeaderLeftMenuContainer li a :hover{
      color: black !important;
    }
    #siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd a{
      background: #35393B !important;
      box-shadow: none !important;
    }
  }

  .nico-CommonHeaderRoot /*新ヘッダー*/{
    .common-header-15gxh1a,
    .common-header-1cuw74j,
    .common-header-5onxr7 /*ヘッダーメニュー*/{
      background-color: $nico-default-bg !important;
    }

    .common-header-1319btw{
      color: $main-text-color !important;
    }

    .common-header-g0o5vq:hover,
    .common-header-10swg38:hover{
      text-decoration: none !important;
    }

    .common-header-5x0u19:hover,
    .common-header-5onxr7:hover{
      background-color: $hover-background-color !important;
      text-decoration: none !important;
    }

    .common-header-ibyxl4{
      background: none !important;
    }

    .common-header-g80xl3 /*menu > nicopoint*/{
      background-color: $nico-default-bg !important;
      border: solid 2px #333 !important;
    }
    .common-header-g80xl3:hover{
      background-color: #D1A437 !important;

      .common-header-1iolkct svg g g,
      .common-header-1sypczf{
        fill: #FFFFFF !important;
        color: $main-text-color !important;
      }
    }
    .common-header-1sypczf{
      color: $main-text-color !important;
    }

    .common-header-zz80x3{
      background-color: $nico-default-bg !important;
      border-bottom: 1px solid #333 !important;
    }
    .common-header-zz80x3:hover{
      background-color: $hover-background-color !important;
      text-decoration: none !important;
    }

    .common-header-430bj8{
      color: $main-text-color !important;
    }

    .common-header-cvcm83 > *{
      border-top: 1px solid #333 !important;
    }

    .common-header-1gq7o6w{
      background-color: $nico-default-bg !important;
      border-bottom: #333 1px solid !important
    }
    .common-header-1gq7o6w:hover{
      background-color: $hover-background-color !important;
    }

    .common-header-1u02t5o{
      color: $main-text-color !important;
    }

    .common-header-xp52wl /*logout*/{
      border: #333 2px solid !important;
    }
    .common-header-xp52wl:hover{
      background-color: #CC0000 !important;
    }
    .common-header-yrq9nc{
      color: $main-text-color !important;
    }

    .common-header-juy1p4,
    .common-header-hgmb0z{
      background-color: $nico-default-bg !important;
      border-bottom: 1px solid $border-background-color !important;
    }
    .common-header-juy1p4:nth-child(2n),
    .common-header-hgmb0z:nth-child(2n){
      border-left: 1px solid $border-background-color !important;
    }
    .common-header-11j62e9{
      background-color: $nico-default-bg !important;
      color: $main-text-color;
    }

    .common-header-juy1p4:hover, .common-header-11j62e9:hover{
      background-color: $hover-background-color !important;
      text-decoration: none !important;
    }

    .common-header-6zywm /*notice*/{
      .common-header-1l1lwin{
        background-color: $nico-default-bg !important;
        border-bottom: 1px solid #999 !important;
      }
      .common-header-9wgpqv{
        background-color: $nico-default-bg !important;
        border-top: 1px solid #999 !important;
      }
      .common-header-abyv5k{
        color: $main-text-color !important;
      }
      .common-header-sig2g svg path{
        fill :$main-text-color !important
      }

      .common-header-kolmxm,
      .common-header-1swev0c{
        background-color: $nico-default-bg !important;
        border-bottom: 1px solid $border-background-color !important;
        color: $main-text-color !important;
        div{
          color: #999 !important;
        }
      }
      .common-header-2cl2ey,
      .common-header-uruoug,
      .common-header-18leufn{
        background-color: $sub2-background-color !important;
      }

      .common-header-105n2rz{
        background-color: $nico-default-bg !important;
      }
      .common-header-g0cqhq{
        border-bottom: none !important;
      }
    }
  }
}

//nicodark settings
.common-header-nicodarksetting-but:hover{
  background-color: rgb(85, 85, 85);
}
.common-header-nicodarksetting-but:hover > .nicodark-setting-menupanel{
  display: block !important;
}
.common-header-nicodarksetting-but::after{
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 0px;
  height: 14px;
  border-right: 1px solid rgb(85, 85, 85);
}
.nicodark-setting-menupanel{
  display: none;
  position: absolute !important;
  width: 250px !important;
  right: 0 !important;
  background: #252525 !important;
  box-shadow: rgb(0, 0, 0 / 20%) 0px 2px 8px;

  .nicodark-logo{
    width: 100%;
  }
  .nicodark-setting-version-telop{
    color:white;
    font-weight: bold;
    text-align: center !important;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1em;
    a{
      margin: auto auto auto 10px;
      color: $main-url-color;
      text-decoration: underline;
    }
    a:hover{
      text-decoration: none;
    }
  }
  .nicodark-setting-menu{
    padding: 0px 16px 8px 16px;

    .nicodark-label01{
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      height: 40px;
      padding: 0px 8px;
      cursor: pointer;
      background-color: $nico-default-bg;

      .nicodark-span01{
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
        flex: 1 1 0%;
        color: $main-text-color;
      }
      .nicodark-label02{
        position: relative;
        display: inline-block;
        background-color: rgb(204, 204, 204);
        width: 40px;
        height: 24px;
        border-radius: 12px;
        transition: background-color 0.2s ease 0s;
        cursor: pointer;

        .nicodark-cb{
          display: none;
        }
        .nicodark-span02{
          display: inline-block;
          position: absolute;
          top: 2px;
          left: 2px;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          background-color: rgb(255, 255, 255);
          transition: left 0.2s ease 0s;
        }
      }
      .nicodark-label02[aria-checked="true"]{
        background-color: $main-url-color;

        .nicodark-span02{
          left: 18px;
        }
      }
    }
    
  }
}
