@import '_default';

.niconico-darkmode-setting-true{
  .nico-CommonHeaderRoot /*新ヘッダー*/{

    /* その他 */
    .common-header-1yklp7i{
      background-color: $nico-black;

      /*各サービス*/
      .common-header-j1xbgx{

        /*各パーツ*/
        .common-header-3ow0uc{
          background: none;
          border-color: $sub2-background-color;
          .common-header-19mflz9{
            color: $main-text-color;
          }

          &:hover{
            background-color: $hover-background-color;
          }
        }
      }

      /*もっと見る*/
      .common-header-11j62e9{
        background-color: $main-background-color;
        color: $main-text-color;

        &:hover{
          background-color: $hover-background-color;
          text-decoration: none;
        }
      }
    }

    /* 右上メニュー */
    .common-header-1ivnjlh{
      .common-header-15gxh1a{
        background-color: $nico-black;

        //ユーザー,ニコニコポイント
        .common-header-1cuw74j{
          background-color: $nico-black;

          //ユーザー
          .common-header-5x0u19{
            .common-header-5onxr7{
              background-color: $nico-black;

              .common-header-1319btw{
                color: $main-text-color;
              }

              &:hover{
                background-color: $hover-background-color;
              }
            }
          }

          //ユーザー未ログイン
          .common-header-ibyxl4{
            background-color: $nico-black;
            .common-header-15ct2og{
              color: $main-text-color;
            }
          }

          //ニコニコポイント
          .common-header-1extteq{
            .common-header-g80xl3{
              background-color: $nico-black;
              border: solid 2px $sub2-background-color;

              .common-header-1sypczf{
                color: $main-text-color;
              }

              &:hover{
                background-color: $nico-point;

                .common-header-1iolkct svg g g,
                .common-header-1sypczf{
                  fill: #FFFFFF;
                  color: $main-text-color;
                }
              }
            }
          }
        }

        //メニュー
        .common-header-cvcm83{

          //各ボタン
          .common-header-zz80x3,
          .common-header-1gq7o6w{
            background-color: $nico-black;
            border-color: $sub2-background-color;
            .common-header-19mflz9,
            .common-header-1u02t5o{
              color: $main-text-color;
            }

            &:hover{
              background-color: $hover-background-color;
            }
          }

          &> *{
            border-color: $sub2-background-color;
          }
        }

        //ログアウト
        .common-header-xp52wl {
          border: $sub2-background-color 2px solid;

          .common-header-yrq9nc{
            color: $main-text-color;
          }
          
          &:hover{
            background-color: $notice-red;
          }
        }

      }
    }

    /* お知らせ（ベルマーク） */
    .common-header-6zywm /*notice*/{
      .common-header-1l1lwin{
        background-color: $nico-default-bg !important;
        border-bottom: 1px solid #999 !important;
      }
      .common-header-9wgpqv{
        background-color: $nico-default-bg !important;
        border-top: 1px solid #999 !important;
      }
      .common-header-abyv5k{
        color: $main-text-color !important;
      }
      .common-header-sig2g svg path{
        fill :$main-text-color !important
      }

      .common-header-kolmxm,
      .common-header-1swev0c{
        background-color: $nico-default-bg !important;
        border-bottom: 1px solid $border-background-color !important;
        color: $main-text-color !important;
        div{
          color: #999 !important;
        }
      }
      .common-header-2cl2ey,
      .common-header-uruoug,
      .common-header-18leufn{
        background-color: $sub2-background-color !important;
      }

      .common-header-105n2rz{
        background-color: $nico-default-bg !important;
      }
      .common-header-g0cqhq{
        border-bottom: none !important;
      }
    }
  }
}

//nicodark settings
.common-header-nicodarksetting-but{
  position: relative;
  text-decoration: none;
  padding: 0px 8px;
  height: 36px;
  width: 60px;
  line-height: 36px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: center !important;
}
.common-header-nicodarksetting-but::before{
  content: "\01F319";
  font-size: 12px;
  padding-right: 3px;
}
.common-header-nicodarksetting-but:hover{
  background-color: rgb(85, 85, 85);
}
.common-header-nicodarksetting-but:hover > .nicodark-setting-menupanel{
  display: block !important;
}
.common-header-nicodarksetting-but::after{
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 0px;
  height: 14px;
  border-right: 1px solid rgb(85, 85, 85);
}
.nicodark-setting-menupanel{
  display: none;
  position: absolute !important;
  width: 250px !important;
  right: 0 !important;
  background: #252525 !important;
  box-shadow: rgb(0, 0, 0 / 20%) 0px 2px 8px;
  letter-spacing: normal;

  .nicodark-logo{
    width: 100%;
  }
  .nicodark-setting-version-telop{
    color:white;
    font-weight: bold;
    text-align: center !important;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1em;
    a{
      margin: auto auto auto 10px;
      color: $main-url-color;
      text-decoration: underline;
    }
    a:hover{
      text-decoration: none;
    }
  }
  .nicodark-setting-menu{
    padding: 0px 16px 8px 16px;

    .nicodark-label01{
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      height: 40px;
      padding: 0px 8px;
      cursor: pointer;
      background-color: $nico-default-bg;

      .nicodark-span01{
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
        flex: 1 1 0%;
        color: $main-text-color;
      }
      .nicodark-label02{
        position: relative;
        display: inline-block;
        background-color: rgb(204, 204, 204);
        width: 40px;
        height: 24px;
        border-radius: 12px;
        transition: background-color 0.2s ease 0s;
        cursor: pointer;

        .nicodark-cb{
          display: none;
        }
        .nicodark-span02{
          display: inline-block;
          position: absolute;
          top: 2px;
          left: 2px;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          background-color: rgb(255, 255, 255);
          transition: left 0.2s ease 0s;
        }
      }
      .nicodark-label02[aria-checked="true"]{
        background-color: $main-url-color;

        .nicodark-span02{
          left: 18px;
        }
      }
    }
    
  }
}

/* feedback page*/
.nico-CommonHeaderRoot .common-header-142e200{
  max-width: 960px !important;
}