#siteHeader #siteHeaderInner ul li ul {
  background: #272727 !important;
}
#siteHeaderLeftMenuContainer li a :hover{
  color: black !important;
}
#siteHeader a{
  color: whitesmoke !important;
}

#siteHeaderNotification .siteHeaderNotificationContainer #siteHeaderNotificationWithNotification dd a{
  background: #35393B !important;
  box-shadow: none !important;
}

body{
  color: white !important;
  background-color:#1A1B1C !important;
}
a{
  color: white !important;
}

.nico-CommonHeaderRoot, .common-header-15gxh1a,.common-header-1cuw74j,.common-header-5onxr7{
  background-color: #252525 !important;
}
.common-header-1319btw{
  color: whitesmoke !important;
}
.common-header-g0o5vq:hover,.common-header-10swg38:hover{
  text-decoration: none !important;
}
.nico-CommonHeaderRoot .common-header-5x0u19:hover,.common-header-5onxr7:hover{
  background-color: #555555 !important;
  text-decoration: none !important;
}
.nico-CommonHeaderRoot .common-header-ibyxl4{
  background: none !important;
}

.common-header-g80xl3{
  background-color: #252525 !important;
  border: solid 2px #333 !important;
}
.common-header-g80xl3:hover{
  background-color: #D1A437 !important;
}
.common-header-g80xl3:hover .common-header-1iolkct svg g g,.common-header-g80xl3:hover .common-header-1sypczf{
  fill: #FFFFFF !important;
  color: #FFFFFF !important;
}
.common-header-1sypczf{
  color: whitesmoke !important;
}

.nico-CommonHeaderRoot .common-header-zz80x3{
  background-color: #252525 !important;
  border-bottom: 1px solid #333 !important;
}
.nico-CommonHeaderRoot .common-header-zz80x3:hover {
  background-color: #555555 !important;
  text-decoration: none !important;
}
.common-header-430bj8{
  color: whitesmoke !important;
}
.common-header-cvcm83 > *{
  border-top: 1px solid #333 !important;
}

.common-header-1gq7o6w{
  background-color: #252525 !important;
  border-bottom: #333 1px solid !important
}
.common-header-1gq7o6w:hover{
  background-color: #555555 !important;
}
.common-header-1u02t5o{
  color: whitesmoke !important;
}

.common-header-xp52wl{
  border: #333 2px solid !important;
}
.common-header-yrq9nc{
  color: whitesmoke !important;
}
.common-header-xp52wl:hover{
  background-color: #CC0000 !important;
}

.common-header-juy1p4{
  background-color: #252525 !important;
  border-bottom: 1px solid #555555 !important;
}
.common-header-juy1p4:nth-child(2n){
  border-left: 1px solid #555555 !important;
}
.common-header-11j62e9{
  background-color: #252525 !important;
}
.common-header-juy1p4:hover, .common-header-11j62e9:hover{
  background-color: #555555 !important;
  text-decoration: none !important;
}

/*notice*/
.common-header-1l1lwin{
  background-color: #252525 !important;
  border-bottom: 1px solid #999 !important;
}
.common-header-9wgpqv{
  background-color: #252525 !important;
  border-top: 1px solid #999 !important;
}
.common-header-1ip78db:hover,.common-header-1ip78db:hover .common-header-9wgpqv{
  background-color: #35393B !important;
  text-decoration: none !important;
}
.common-header-abyv5k{
  color: white !important;
}
.common-header-sig2g svg path{
  fill :white !important
}

.nico-CommonHeaderRoot .common-header-kolmxm,
.nico-CommonHeaderRoot .common-header-1swev0c{
  background-color: #252525 !important;
  border-bottom: 1px solid #555 !important;
  color: white !important;
}
.nico-CommonHeaderRoot .common-header-kolmxm div,
.nico-CommonHeaderRoot .common-header-1swev0c div{
  color: #999 !important;
}
.nico-CommonHeaderRoot .common-header-2cl2ey,
.nico-CommonHeaderRoot .common-header-uruoug{
  background-color: #404040 !important;
}
.nico-CommonHeaderRoot .common-header-105n2rz{
  background-color: #252525 !important;
}
.nico-CommonHeaderRoot .common-header-g0cqhq{
  border-bottom: none !important;
}