.niconico-darkmode-setting-true {
  background: #1A1B1C !important;
}

.niconico-darkmode-setting-true header .header__title img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true .main.login .login-form {
  background: none !important;
  color: #FEFEFE !important;
}

.niconico-darkmode-setting-true .main.login .text-link {
  color: #0080FF !important;
}

.niconico-darkmode-setting-true .main.login .sns-group .text-description,
.niconico-darkmode-setting-true .main.login .button-wrap > p {
  color: #999 !important;
}
