@import '../../parts/_default';
@import '../../parts/_dropdown';

.niconico-darkmode-setting-true{

  //ニコレポ
  .NicorepoItem-item{
    background-color: $sub2-background-color;
    border: none;
    color: $main-text-color;
    a{
      color: $main-text-color;
    }
    .NicorepoItem-activity{
      .NicorepoItem-activityCreatedAt{
        color: $sub-1-text-color;
      }
      .NicorepoItem-activityDescription[style="color: rgb(208, 2, 27);"],
      .NicorepoItem-activityCreatedAt_new{
        color: $notice-red !important;
      }
    }
  }
  .NicorepoItem-item:hover{
    box-shadow: inset 0px 0px 20px 7.5px #555;
  }

  //フォロー：ユーザー
  .UserItem-content{
    background: $sub2-background-color;
    border: none;
    .UserItem-nickname{
      color: $main-text-color;
    }
    .UserItem-description{
      color: $sub-1-text-color;
    }
  }
  .UserItem:hover{
    box-shadow: none;
  }

  //フォロー：タグ
  .FollowingTagContainer-content{
    background: $sub2-background-color;
    border: none;
    .FollowingTagContainer-tagNameLink{
      color: $main-text-color;
    }
    .FollowingTagContainer-tagNameLink:visited{
      color: $sub-1-text-color;
    }
    .FollowingTagContainer-tagNameLink:hover{
      color: $main-url-color;
    }
    .FollowingTagContainer-contentBody{
      .FollowingTagContainer-nicodicSummary{
        color: $sub-1-text-color;
      }
      a{
        color: $main-text-color;
      }
      a:hover{
        color: $main-url-color;
      }
    }
  }
  .TagrepoContainer{
    header{
      h1.TagrepoContainer-headerTagName{
        color: $main-text-color;
      }
      .TagrepoContainer-headerAction{
        .TagrepoContainer-headerActionBack{
          color: $sub-1-text-color;
        }
        .TagrepoContainer-headerActionBack:hover{
          color: $main-url-color;
        }
        .ThreePointMenu-button{
          filter: $invert;
        }
      }
    }
    .TagrepoItem{
      background-color: $nico-black;
      border-color: $border-background-color;
      .TagrepoItem-headerSender,.TagrepoItem-contentTitle{
        color: $main-text-color;
      }
      .TagrepoItem-contentTitle:visited{
        color: $sub-1-text-color;
      }
      .TagrepoItem-contentTagsItem{
        border-color: $sub2-background-color;
        background: $sub2-background-color;
        color: $sub-1-text-color;
      }
    }
  }

  //フォロー：マイリスト
  .MylistMediaObject{
    .MylistMediaObject-linkArea{
      background: $sub2-background-color;
      border: none;
      .MylistMediaObject-bodyTitle{
        color: $main-text-color;
      }
      .MylistThumbnails{
        background: none;
        border: none;
        .MylistThumbnails-itemCount{
          color: $main-text-color;
        }
      }
      .MylistThumbnails-thumbnail:nth-of-type(3):before{
        background: linear-gradient(90deg,hsla(0,0%,98%,0),$nico-default-bg);
      }
    }
    .MylistMediaObject-linkArea:visited:not(:hover) .MylistMediaObject-bodyTitle{
      color: $sub-1-text-color;
    }
    .MylistMediaObject-linkArea:hover{
      box-shadow: inset 0px 0px 20px 7.5px #555;
    }
  }
  .MylistMediaObject:hover{
    box-shadow: none;
  }

  //フォロー：チャンネル
  .ChannelItem-content{
    background: $sub2-background-color;
    border: none;
    .ChannelItem-name{
      color: $main-text-color;
    }
    .ChannelItem-description{
      color: $sub-1-text-color;
    }
  }
  .ChannelItem-link:visited .ChannelItem-name{
    color: $sub-1-text-color;
  }
  .ChannelItem:hover{
    box-shadow: none;
    .ChannelItem-content{
      box-shadow: inset 0px 0px 20px 7.5px #555;
      .ChannelItem-name{
        color: $main-text-color;
      }
    }
  }

  //フォロー：コミュニティ
  .CommunityItem-content{
    background: $sub2-background-color;
    border: none;
    .CommunityItem-name{
      color: $main-text-color;
    }
    .CommunityItem-description{
      color: $sub-1-text-color;
    }
  }
  .CommunityItem-link:visited .CommunityItem-name{
    color: $sub-1-text-color;
  }
  .CommunityItem:hover{
    box-shadow: none;
    .CommunityItem-content{
      box-shadow: inset 0px 0px 20px 7.5px #555;
      .CommunityItem-name{
        color: $main-text-color;
      }
    }
  }


  //動画item
  .VideoMediaObject{
    .MediaObject-contents{
      .VideoMediaObject-title{
        color: $main-text-color;
      }
    }
    .MediaObject-contents:visited{
      .VideoMediaObject-title{
        color: $sub-1-text-color;
      }
    }
    .MediaObject-contents:hover{
      .VideoMediaObject-title{
        color: $main-url-color;
      }
    }
    .VideoMediaObject-action{
      filter: $invert;
    }
  }
  /* 20210601 fix*/
  .NC-MediaObject{
    .NC-MediaObject-contents{
      .NC-MediaObjectTitle{
        color: $main-text-color;
      }
    }
    .NC-MediaObject-contents:visited{
      .NC-MediaObjectTitle{
        color: $sub-1-text-color;
      }
    }
    .NC-MediaObject-contents:hover{
      .NC-MediaObjectTitle{
        color: $main-url-color;
      }
    }
    .NC-MediaObject-action{
      filter: $invert;
    }
  }
  /* 20210601 fix end */

  //あとで見る
  .WatchLaterList-item+.WatchLaterList-item{  
    border-color: $border-background-color;
  }

  //マイリスト
  .MylistContainer{
    .VideoMediaObjectList>*+*{
      border-color: $border-background-color;
    }
  }
  .MylistItemList-item+.MylistItemList-item:before{
    background-color: $border-background-color;
  }

  //履歴：動画
  .VideoWatchHistoryContainer-item+.VideoWatchHistoryContainer-item:before{
    background-color: $border-background-color;
  }

  //履歴：いいね！
  .LikeHistoryContainer{
    .VideoMediaObject{
      .LikeItemAfter{
        header{
          .LikeItemAfter-owner{
            .LikeItemAfter-ownerName{
              color: $main-text-color;
            }
          }
          .LikeItemAfter-owner:hover{
            .LikeItemAfter-ownerName{
              color: $main-url-color;
            }
          }
        }
        .LikeItemAfter-thanksMessage{
          background: $sub2-background-color;
          border-color: $sub2-background-color;
          color: $main-text-color;
          h1{
            color: $sub-1-text-color;
          }
        }
        .LikeItemAfter-thanksMessage:after, .LikeItemAfter-thanksMessage:before{
          border-bottom-color: $sub2-background-color;
        }
      }
    }
    .VideoMediaObjectList>*+*{
      border-color: $border-background-color;
    }
  }

  //履歴：ニコられた
  .NicoruHistoryPassiveItem{
    background-color: $sub2-background-color;
    box-shadow: none;
    .NicoruHistoryPassiveItem-subject{
      border-color: $border-background-color;
      .NicoruHistoryPassiveItem-subjectComment,
      .NicoruHistoryPassiveItem-subjectNicoruCountInner{
        color: $main-text-color;
      }
    }
    .NicoruHistoryPassiveItem-video{
      background: none;
      a{
        color: $main-text-color;
      }
      a:hover{
        color: $main-url-color;
        text-decoration: underline;
      }
    }
  }

  //履歴：ニコった
  .NicoruHistoryActiveItem{
    background-color: $sub2-background-color;
    box-shadow: none;
    .NicoruHistoryActiveItem-subject{
      border-color: $border-background-color;
      .ThreePointMenu-button{
        filter: $invert;
      }
      .NicoruHistoryActiveItem-subjectComment,
      .NicoruHistoryActiveItem-subjectNicoruCountInner{
        color: $main-text-color;
      }
    }
    .NicoruHistoryActiveItem-count{
      .NicoruHistoryActiveItem-countInner{
        color: $main-text-color;
      }
    }
    .NicoruHistoryActiveItem-video{
      background: none;
      a{
        color: $main-text-color;
      }
      a:hover{
        color: $main-url-color;
        text-decoration: underline;
      }
    }
  }

  //スタンプ
  .StampCard{
    background: $sub2-background-color;
    .StampCard-title{
      color: $main-text-color;
    }
    .StampCard-rank{
      background: none;
      .StampCard-star{
        fill: $nico-point;
      }
      .StampCard-star_placeholder{
        fill: $nico-black;
      }
    }
  }

  //公開ユザペ
    //動画
    .UserPage{
      .VideoPage{
        .VideoContainer{
          .VideoMediaObjectList>*+*{
            border-color: $border-background-color;
          }
        }
      }
    }
    .VideoContainer-item{
      .VideoMediaObject-item{
        .VideoMediaObject-action{
          filter: $invert;
        }
      }
    }
    //シリーズ
    .SeriesContainer-item{
      .SeriesMediaObject-body{
        .SeriesMediaObject-bodyTitle{
          color: $main-text-color !important;
        }
        .SeriesMediaObject-bodyTitle:visited{
          color: $sub-1-text-color !important;
        }
        .SeriesMediaObject-bodyTitle:hover{
          color: $main-url-color !important;
        }
        .SeriesMediaObject-bodyCount{
          color: $sub-2-text-color !important;
        }
      }
    }

  //モーダル
    //マイリスト作成
    .MylistCreateModalContainer-watchHistories{
      .MylistCreateModalContainer-watchHistoryItem{
        .VideoMediaObject-item{
          .VideoMediaObject-linkArea{
            .VideoMediaObject-bodyTitle{
              color: $main-text-color;
            }
          }
          .VideoMediaObject-linkArea:visited{
            .VideoMediaObject-bodyTitle{
              color: $sub-1-text-color;
            }
          }
          .VideoMediaObject-linkArea:hover{
            .VideoMediaObject-bodyTitle{
              color: $main-url-color;
            }
          }
          .VideoMediaObject-action{
            filter: $invert;
          }
        }
      }
    }
    .MylistCreateModalContainer-watchHistoryItem+.MylistCreateModalContainer-watchHistoryItem:before{
      background-color: $border-background-color;
    }
}