.niconico-darkmode-setting-true {
  /*serch*/
  /*footer*/
  /*serchbox suggest*/
}

.niconico-darkmode-setting-true .header {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true .logo a svg path {
  fill: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #nicodou a img {
  -webkit-filter: invert(100%) !important;
          filter: invert(100%) !important;
}

.niconico-darkmode-setting-true #search_tab a.head_ssw_0 {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true #search_input {
  background: #252525 !important;
  border: #252525 solid 1px !important;
}

.niconico-darkmode-setting-true #bar_search {
  background-color: #252525 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #footerWrap {
  background: #1A1B1C !important;
  border-top: none !important;
}

.niconico-darkmode-setting-true #footerWrap #footerNav .outer h3 {
  border-bottom: #555555 solid 1px !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #footerWrap #footerNav ul li {
  background: none !important;
}

.niconico-darkmode-setting-true .figureWrap span, .niconico-darkmode-setting-true .figureWrap small {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .toPageTopWrap {
  background: #252525 !important;
}

.niconico-darkmode-setting-true .toPageTopBtn:hover {
  background: none !important;
}

.niconico-darkmode-setting-true .suggestBox {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true .video_catalog {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .video_catalog ul li {
  color: #999999;
}

.niconico-darkmode-setting-true .video_catalog ul li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .video_catalog ul li a:visited {
  color: #c4c4c4;
}
