
/*serch box*/
  .SearchBox-option{
    background-color: #252525 !important;
  }
  .SearchBox-form{
    background-color: #252525 !important;
    box-shadow: none !important;
  }
  .SearchBox-query{
    color: whitesmoke !important;
  }

.RecommendationsHeading{
  color: whitesmoke !important;
}

.TagItem-link{
  background: #252525 !important;
  border: none !important;
}

.BaseLayout-footer{
  background: none !important;
}