.logo a svg g g{
  fill: #FFFFFF !important
}

/*input*/
.tagCaption{
  background-color:#1A1B1C !important;
  border-top: none !important;
  border-bottom: none !important;
}
.formSearch{
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}
.message p{
  color: whitesmoke !important;
}
.tab0{
  background: #252525 !important;
}
.tab0 .dataValue{
  color: red !important;
}
.formSearch .searchFormB{
  border: none !important;
}
.formSearch .searchFormB .sbubmit input{
  background: #252525 !important;
  box-shadow: none !important;
  color: white !important;
}
.searchSubmit input{
  filter: invert();
}
.tab1{
  background: #252525 !important;
}
.tab1 .dataValue{
  color: white !important;
}

/*tagserch*/
.tagListBox{
  background-color:#1A1B1C !important;
}
.title{
  color: whitesmoke !important;
}
.tagCaption .tag{
  background-color: #252525 !important;
  border: none !important;
  color: whitesmoke !important;
}
.tagCaption .tag:hover{
  text-decoration: underline !important;
}

/*billboard*/
.billboard_ad{
  background: #1A1B1C !important;
  border-bottom: none !important;
}

/*sort*/
.switchingBtn{
  background-color: #252525 !important;
  border: none !important;
}
.switchingBtn:hover{
  text-decoration: underline !important;
  color: whitesmoke !important;
}
.one, .two, .four{
  filter: invert();
}
.searchOption{
  background-color: #252525 !important;
  border: none !important;
}


/*結果*/
.value{
  color: whitesmoke !important;
}
.itemComment{
  background-color: #252525 !important;
  color: #555555 !important;
  border: none !important;
}
.itemTime{
  color: #999 !important;
}
.column .main{
  color: white !important;
}

/*Rカラム*/
.sub{
  background: #1A1B1C !important;
}
.content .contentHeader{
  background-color: #252525 !important;
}
.relatedInfo .exTxt, .supplement{
  color: #999 !important;
}
.button.default{
  border: #666 solid 2px !important;
  background-color: #666 !important;
  color: white !important;
}

/*trend*/
.trendtag .item:hover{
  background-color: #252525 !important;
}
.tagWrap a{
  background-color: #252525 !important;
  border: none !important;
}
.tagWrap a:hover{
  color: whitesmoke !important;
  text-decoration: underline !important;
}

/*広告*/
.leadBanner{
  background-color: #1A1B1C !important;
}

/*tag*/
.contentHeader h1 span{
  color: white !important;
}
.itemDescription p{
  color: #999 !important;
}

.button.nav{
  background-color: #666 !important;
  color: black !important;
}
.button.nav:hover{
  background-color: #666 !important;
  color: white !important;
}
.button-tagrepo{
  color: black !important;
}
.button-tagrepo:hover{
  color: white !important;
}

/*serchbox*/
.videoSearchOption .tab{
  background-color: #1A1B1C !important;
}
.videoSearchOption .tab:hover, .tab a:hover{
  color: white !important;
  text-decoration: underline !important;
}
.videoSearchOption .active {
  background-color: #35393B !important;
}
.videoSearchOption .active :hover{
  color: white !important;
  text-decoration: none !important;
}
.videoSearchInput{
  border: #1A1B1C solid 1px !important;
}
.inputText input{
  background-color: #35393B !important;
  color: whitesmoke !important;
  height: 24px !important;
}
.videoSearch input[type='text']{
  line-height: 22px !important;
}
.clear-button-inner-tag{
  line-height: 23px !important;
  height: 22px !important;
  width: 20px !important;
  top: -24px !important;
  background: #35393B !important;
  color: whitesmoke !important;
  border: 1px solid whitesmoke !important;
}
.videoSearchInput .inputText{
  padding-top: 0 !important;
}
.videoSearchInput{
  padding-left: 0 !important;
  border: none !important;
}

/*mylist*/
#nicodou a img{
  filter: invert();
}
#search_frm_a, #search_frm_b{
  background: none !important;
  
}
#search_frm_b table{
  color: whitesmoke !important;
}
a.tab_0:hover, a.tab_0:active, a.tab_1:link, a.tab_1:visited, a.tab_1:hover, a.tab_1:active{
  background: none !important;
}
.tab_0, .tab_1{
  background: #35393B !important;
}
.tab_0 strong{
  color: white !important;
}
.font12{
  color: whitesmoke;
}
#search_united{
  border: none !important;
  background: #383e3e !important;
  color: white !important;

}
.dotline_2{
  border-top: solid 0.5px #35393B !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.content_672 select{
  background: #35393B !important;
  color: white !important;
  border: 1px solid #767676 !important;
}

.pager span.here{
  background: #35393B !important;
  margin-left: 4px !important;
  padding: 5px 8px !important;
  border: none !important;
}
.pager span.here:hover{
  text-decoration: underline !important;
}
.pager a:link, .pager a:visited{
  background: #35393B !important;
  margin-left: 4px !important;
  padding: 5px 8px !important;
  border: none !important;
}
.pager a:link, .pager a:visited:hover{
  text-decoration: underline !important;
}

/*newarrival*/
.mb8p4 h1{
  color: whitesmoke !important;
}
.thumb_cols{
  filter: invert();
}

.uad_thumbfrm{
  border: none !important;
  background: #35393B !important;
}
.font10 nobr{
  color: whitesmoke !important;
}
.thumb_num{
  color: #767676 !important;
}

/*nicopedia*/
.related_pedia_inner{
  background: #35393B !important;
  border: solid 2px #FC6;
  color: whitesmoke;
}
#related_nicopedia_body{
  background: #35393B !important;
  border: none !important;
}
#related_nicopedia_body div p a{
  color: orange !important;
}

/*related_tag*/
#PAGEBODY form input{
  background: #35393B !important;
  color: whitesmoke !important;
  border: solid 1px #767676 !important;
}