.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector {
  border-color: #333333;
  background: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form {
  background: #333333;
  -webkit-box-shadow: inset 0 0 0 1px #333333;
          box-shadow: inset 0 0 0 1px #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li {
  color: inherit;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-option {
  background-color: #252525 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-form {
  background-color: #252525 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-query {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner li:hover {
  background-color: #555555 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox {
  border: none;
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagEditForm-input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionInput-input {
  background-color: #252525;
  color: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-favoriteTag,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenu {
  background-color: #252525;
  color: #F5F5F5;
  border-top: 1px dotted #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item.is-active,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item:hover,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenuItem:hover {
  background-color: #333333;
}

.niconico-darkmode-setting-true #head_search #search_tab a.head_ssw_0 {
  background-color: #252525;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #head_search #search_input {
  background: #252525;
  border: #555555 solid 1px;
}

.niconico-darkmode-setting-true #head_search #search_input #bar_search {
  background-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
  border-color: #555555;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .active {
  background-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput {
  border-color: #555555;
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form {
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText input {
  background: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .clear-button-tag .clear-button-inner-tag {
  color: #F5F5F5;
  background: #999999;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active {
  background: #555555 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .ViewerNGRegister-cancelButton,
.niconico-darkmode-setting-true .AddingMylistModal-cancel {
  color: #F5F5F5;
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .ViewerNGRegister-cancelButton:hover,
.niconico-darkmode-setting-true .AddingMylistModal-cancel:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .ViewerNGRegister-submitButton,
.niconico-darkmode-setting-true .AddingMylistModal-submit {
  color: #0080FF;
  border-color: #0080FF;
  background: #333333;
}

.niconico-darkmode-setting-true .ViewerNGRegister-submitButton:hover,
.niconico-darkmode-setting-true .AddingMylistModal-submit:hover {
  background: #0080FF;
}

.niconico-darkmode-setting-true .ViewerNGRegister-submitButton:disabled {
  color: #999999;
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .WatchLaterMenu .Selectbox-button, .niconico-darkmode-setting-true .MylistMenu .Selectbox-button {
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .WatchLaterMenu .Selectbox-button .Selectbox-label, .niconico-darkmode-setting-true .MylistMenu .Selectbox-button .Selectbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchLaterMenu .Selectbox-button:hover, .niconico-darkmode-setting-true .MylistMenu .Selectbox-button:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .WatchLaterMenu .ContinuousPlayButton, .niconico-darkmode-setting-true .MylistMenu .ContinuousPlayButton {
  color: #F5F5F5;
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .WatchLaterMenu .ContinuousPlayButton:hover, .niconico-darkmode-setting-true .MylistMenu .ContinuousPlayButton:hover {
  color: #F5F5F5;
  background: #0080FF;
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .Selectbox-button {
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .Selectbox-button .Selectbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .Selectbox-button:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .VideoListEditMenuButton {
  background: #333333;
  border-color: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .VideoListEditMenuButton:hover {
  background: #0080FF;
  border-color: #0080FF;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .VideoListEditMenu-delete.VideoListEditMenuButton:hover {
  background: #d0021b;
  border-color: #d0021b;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .Selectbox-button_disabled .Selectbox-label,
.niconico-darkmode-setting-true .MylistVideoListEditMenu .VideoListEditMenuButton_disable {
  color: #999999;
}

.niconico-darkmode-setting-true .MymemoryContainer-editMenu .Checkbox .Checkbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MymemoryContainer-editMenu .VideoListEditMenuButton {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .MymemoryContainer-editMenu .VideoListEditMenuButton_disable {
  color: #999999;
}

.niconico-darkmode-setting-true .VideoWatchHistoryContainer-editMenu .Checkbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .VideoListEditMenuButton {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .VideoListEditMenuButton:hover {
  background: red;
  color: #F5F5F5 !important;
  border-color: red;
}

.niconico-darkmode-setting-true .VideoListEditMenuButton_disable {
  color: #999999;
}

.niconico-darkmode-setting-true .Selectbox-button {
  background-color: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .Selectbox-button .Selectbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .Selectbox-button:hover {
  background-color: #555555;
  border-color: #555555;
}

.niconico-darkmode-setting-true .Selectbox-button:hover .Selectbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true textarea {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true input[type=text],
.niconico-darkmode-setting-true input[type=date], .niconico-darkmode-setting-true input[type=time],
.niconico-darkmode-setting-true .AddingMylistModal-nameInput,
.niconico-darkmode-setting-true .AddingMylistModal-descriptionInput,
.niconico-darkmode-setting-true .ichiba_search_form_query {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true select {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child {
  border: none !important;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem {
  background: #333333;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem a:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList {
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList .TagSuggestionList-list .TagSuggestionList-item {
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList .TagSuggestionList-list .TagSuggestionList-item:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .OtherMypageLinks,
.niconico-darkmode-setting-true .ThreePointMenu {
  background: #333333;
}

.niconico-darkmode-setting-true .OtherMypageLinks .OtherMypageLinks-link,
.niconico-darkmode-setting-true .OtherMypageLinks .UserDetailsMenu-item,
.niconico-darkmode-setting-true .OtherMypageLinks .NicorepoItemMenu-item,
.niconico-darkmode-setting-true .OtherMypageLinks .MylistHeaderMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .OtherMypageLinks-link,
.niconico-darkmode-setting-true .ThreePointMenu .UserDetailsMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .NicorepoItemMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .MylistHeaderMenu-item {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .OtherMypageLinks .OtherMypageLinks-link:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .UserDetailsMenu-item:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .NicorepoItemMenu-item:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .MylistHeaderMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .OtherMypageLinks-link:hover,
.niconico-darkmode-setting-true .ThreePointMenu .UserDetailsMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .NicorepoItemMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistHeaderMenu-item:hover {
  background-color: #555555;
}

.niconico-darkmode-setting-true .Selectbox, .niconico-darkmode-setting-true .ThreePointMenu {
  background: #333333;
}

.niconico-darkmode-setting-true .Selectbox .SortSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .MylistSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .VideoMenuButtonItem,
.niconico-darkmode-setting-true .Selectbox .VideoMenuLinkItem,
.niconico-darkmode-setting-true .Selectbox .MymemoryContainer-menuOrderSelectorItem,
.niconico-darkmode-setting-true .Selectbox .NicoruHistoryActiveItem-deleteButton,
.niconico-darkmode-setting-true .Selectbox .MylistsSortSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .VideoContainer-headerMenuSortSelectboxItem, .niconico-darkmode-setting-true .ThreePointMenu .SortSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .MylistSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuButtonItem,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuLinkItem,
.niconico-darkmode-setting-true .ThreePointMenu .MymemoryContainer-menuOrderSelectorItem,
.niconico-darkmode-setting-true .ThreePointMenu .NicoruHistoryActiveItem-deleteButton,
.niconico-darkmode-setting-true .ThreePointMenu .MylistsSortSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .VideoContainer-headerMenuSortSelectboxItem {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .Selectbox .SortSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .MylistSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .VideoMenuButtonItem:hover,
.niconico-darkmode-setting-true .Selectbox .VideoMenuLinkItem:hover,
.niconico-darkmode-setting-true .Selectbox .MymemoryContainer-menuOrderSelectorItem:hover,
.niconico-darkmode-setting-true .Selectbox .NicoruHistoryActiveItem-deleteButton:hover,
.niconico-darkmode-setting-true .Selectbox .MylistsSortSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .VideoContainer-headerMenuSortSelectboxItem:hover, .niconico-darkmode-setting-true .ThreePointMenu .SortSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuButtonItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuLinkItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MymemoryContainer-menuOrderSelectorItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .NicoruHistoryActiveItem-deleteButton:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistsSortSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoContainer-headerMenuSortSelectboxItem:hover {
  background-color: #555555;
}

.niconico-darkmode-setting-true .FooterContainer a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .FooterContainer a:hover {
  color: #0080FF !important;
}

.niconico-darkmode-setting-true .FooterContainer .FooterContainer-column {
  border-top: 2px solid #F5F5F5;
}

.niconico-darkmode-setting-true .FooterContainer .FooterContainer-feedback {
  background-color: #333333;
  border: 1px solid #333333;
}

.toPageTopWrap {
  background: #333333 !important;
}

.toPageTopWrap .inner a:hover, .toPageTopWrap .inner a:active {
  background: #333333 !important;
  border: none !important;
  color: #F5F5F5 !important;
}

#footerWrap {
  background: #1A1B1C !important;
}

#footerWrap a {
  color: #F5F5F5 !important;
}

#footerWrap a:hover {
  color: #0080FF !important;
}

#footerWrap #footerNav .outer h3 {
  border-bottom: #555555 solid 1px !important;
  color: #F5F5F5 !important;
}

#footerWrap #footerNav ul li {
  background: none !important;
}

#footerWrap .figureWrap span, #footerWrap .figureWrap small {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true {
  background-color: #1A1B1C !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .EditorMenuContainer {
  background: #333333;
}

.niconico-darkmode-setting-true .WatchAppContainer .EditorMenuContainer .EditorMenuContainer-menuBox .EditorMenuContainer-menuBox-menu {
  border: none !important;
  background: none !important;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .WatchAppContainer .EditorMenuContainer .EditorMenuContainer-menuBox .EditorMenuContainer-menuBox-menu:hover {
  background: #555555 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .EditorMenuContainer .EditorMenuContainer-menuBox > li:first-child {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .EditorMenuContainer .EditorMenuContainer-menuBox > li:first-child:hover {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .CommunityEditorMenuContainer {
  background: #258D8D;
}

.niconico-darkmode-setting-true .WatchAppContainer .CommunityEditorMenuContainer a {
  color: #F5F5F5;
  text-decoration: underline;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .SeriesBreadcrumbs a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoTitle {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescriptionExpander .VideoDescriptionExpander-switch {
  color: #0080FF;
  background: -webkit-gradient(linear, left top, right top, from(rgba(244, 244, 244, 0)), color-stop(16%, #1A1B1C));
  background: linear-gradient(90deg, rgba(244, 244, 244, 0), #1A1B1C 16%);
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescriptionExpander .VideoDescriptionExpander-switchExpand::before {
  border-color: #0080FF transparent transparent;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescriptionExpander .VideoDescriptionExpander-switchCollapse::before {
  border-color: transparent transparent #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescription.is-expanded a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescription.is-expanded .VideoDescription-html span[style="color: #262626;"] {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescription.is-expanded .VideoDescription-html span[style="color: #ffffff;"], .niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescription.is-expanded .VideoDescription-html span[style="color: white;"] {
  color: #000000 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescription.is-expanded .VideoDescription-html span[style="color: #000000;"], .niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescription.is-expanded .VideoDescription-html span[style="color: black;"] {
  color: #ffffff !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescription.is-expanded .VideoDescriptionSeriesContainer {
  border-top: 2px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoDescriptionContainer .VideoDescription.is-expanded .VideoDescriptionSeriesContainer .VideoDescriptionSeriesContainer-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoOwnerInfo a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoOwnerInfo .VideoOwnerUploadedLink {
  border: 1px solid #333333;
  background: #333333;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoUploadDateMeta-title,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoViewCountMeta-title,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .CommentCountMeta-title,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .MylistCountMeta-title,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoGenreMeta-title,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .GenreRankMeta-genreName {
  color: #999999;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoUploadDateMeta-dateTimeLabel,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoViewCountMeta-counter,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .CommentCountMeta-counter,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .MylistCountMeta-counter,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .GenreRankMeta-yesterdayRank {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoGenreMeta-genreName a,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .GenreRankMeta-highestPast {
  color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .GenreRankMetaOverflowMenuContainer-menu {
  border: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .GenreRankMetaOverflowMenuContainer-menu .GenreRankMetaOverflowMenuContainer-header {
  background: #1A1B1C;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .GenreRankMetaOverflowMenuContainer-menu .GenreRankMetaOverflowMenuContainer-body {
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .GenreRankMetaOverflowMenuContainer-menu .GenreRankMetaOverflowMenuContainer-body .GenreRankMetaOverflowMenuContainer-menuBlock:not(:first-of-type) {
  border-top: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoMetaOverflowMenuContainer-menu {
  border: 1px solid #555555;
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoMetaOverflowMenuContainer-menu a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer .VideoMetaOverflowMenuContainer-menu .VideoMetaOverflowMenuContainer-menuBlock:not(:first-of-type) {
  border-top: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaContainer > *,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .VideoMetaOverflowMenuContainer {
  border-left: 1px solid #555555;
  -webkit-box-shadow: -1px 0 0 0 #555555;
          box-shadow: -1px 0 0 0 #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .TagContainer .TagContainer-TagEditButtonArea .TagContainer-editButton {
  background-color: #333333;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .TagContainer .TagContainer-TagEditButtonArea .TagContainer-editButton:hover {
  background-color: #0080FF !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .TagContainer .TagContainer-area .TagItem {
  background-color: #333333;
  border: 1px solid #333333;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .TagContainer .TagContainer-area .TagItem a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .TagContainer .TagContainer-area .TagItem.is-editing .TagItem-name {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .TagContainer.is-editing {
  background-color: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .OwnerNicoliveBannerContainer .OwnerNicoliveBanner {
  background: #333333;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .OwnerNicoliveBannerContainer .OwnerNicoliveBanner .OwnerNicoliveBanner-time span {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .HeaderContainer .OwnerNicoliveBannerContainer .OwnerNicoliveBanner .OwnerNicoliveBanner-title {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer {
  background: none !important;
  border-right: none !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentPostContainer-commandInput,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentPostContainer-commentInput {
  border: none;
  background-color: #252525 !important;
  border-right: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentPostContainer-commandInput .CommentCommandInput,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentPostContainer-commandInput .CommentInput-textarea,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentPostContainer-commentInput .CommentCommandInput,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentPostContainer-commentInput .CommentInput-textarea {
  color: #F5F5F5 !important;
  background: none !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentCommandPaletteContainer {
  background-color: #252525 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentCommandPaletteContainer .CommentCommandPaletteNode[data-type=layout],
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentCommandPaletteContainer .CommentCommandPaletteNode[data-type=size] {
  background-color: #35393B !important;
  border: 2px solid #666 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .CommentCommandPaletteContainer .CommentCommandPaletteNode svg {
  fill: whitesmoke !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .EasyCommentContainer {
  background: none !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .EasyCommentContainer .EasyCommentContainer-nextButton {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(0, 0, 0, 0.94)), to(black)) !important;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.94), black) !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .EasyCommentContainer .EasyCommentContainer-nextButton svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .EasyCommentContainer .EasyCommentContainer-prevButton {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(rgba(0, 0, 0, 0.94)), to(black)) !important;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.94), black) !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .EasyCommentContainer .EasyCommentContainer-prevButton svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .EasyCommentContainer .EasyCommentButton {
  background: #252525 !important;
  color: #F5F5F5 !important;
  border: none !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .LikeContainer .LikeButton {
  background: #252525 !important;
  color: #F5F5F5 !important;
  border: 2px solid #555555 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .LikeContainer .LikeButton .LikeIcon.LikeButton-icon use #LikeIcon_svg__frame-0 > path {
  fill: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .ControllerBoxCommentAreaContainer .LikeContainer .LikeButton .LikeIcon.LikeButton-icon svg svg defs #LikeIcon_svg__frame-0 > path {
  fill: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .PlayerContainer .ControllerBoxContainer .CommentShutter:empty {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer .VideoMenuContainer-areaLeft {
  background: #1A1B1C;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer .VideoMenuContainer-areaLeft .VideoMenuContainer-button {
  fill: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer .VideoMenuContainer-areaLeft .VideoMenuContainer-button:hover:not([disabled]) {
  fill: #0080FF !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer .VideoMenuContainer-areaLeft .VideoMenuContainer-uadBalloonWrapper .UadButtonBalloon {
  background: #1A1B1C;
  border: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer .VideoMenuContainer-areaLeft .VideoMenuContainer-uadBalloonWrapper .UadButtonBalloon a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer .VideoMenuContainer-areaLeft .VideoMenuContainer-uadBalloonWrapper .UadButtonBalloon:before {
  border: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer .VideoMenuContainer-areaLeft .VideoMenuContainer-uadBalloonWrapper .UadButtonBalloon:after {
  border-right-color: #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer .VideoMenuContainer-areaRight {
  background: #1A1B1C;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .VideoMenuContainer:after {
  border-bottom: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-tab .PlayerPanelContainer-tabItem {
  color: #F5F5F5;
  border-bottom: 3px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-tab .PlayerPanelContainer-tabItem.current {
  border-bottom: 3px solid #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .VideoListPanelContainer a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .VideoListPanelContainer .NextPlayVideoContainer {
  border-bottom: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .VideoListPanelContainer .NextPlayVideoContainer-note,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .VideoListPanelContainer .WatchRecommendation-heading,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .VideoListPanelContainer .NextPlayVideoContainer-continuous {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer {
  background: #1A1B1C;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelMenuContainer-pastCommentMenu {
  background: #252525 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid .CommentPanelDataGrid-HeaderCell {
  background: #252525;
  border-right: 1px solid #666666;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid .DataGrid-Table .CommentPanelDataGrid-TableCell {
  border-right: 1px solid #666666;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="1"] {
  background: #4a4b3a;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="2"],
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="3"],
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="4"],
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="5"] {
  color: black;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .PlayerPanelContainer .PlayerPanelContainer-content .CommentPanelContainer .CommentPanelDataGrid .DataGrid-Table :hover {
  background: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .OwnerEditPanel {
  background: #333333 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .OwnerEditButton {
  background: #555555 !important;
  border: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .OwnerEditPanelHeader-left span {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid .CommentPanelDataGrid-HeaderCell {
  background: #252525;
  border-right: 1px solid #666666;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid .DataGrid-Table .CommentPanelDataGrid-TableCell {
  border-right: 1px solid #666666;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="1"] {
  background: #4a4b3a;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="2"],
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="3"],
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="4"],
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid .DataGrid-Table [data-row-nicoru-rank="5"] {
  color: black;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-playerPanel .OwnerEditPanelContainer .CommentPanelDataGrid .DataGrid-Table :hover {
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer {
  background: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentTop .NGSettingPanelContainer-openViewerNGRegisterButton {
  background-color: #333333;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentTop .NGSettingPanelContainer-openViewerNGRegisterButton:hover {
  background-color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentTop .NGSettingPanelContainer-num,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentTop .NGSettingPanelContainer-enableCheckbox {
  color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentMain {
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentMain .ViewerNGListDataGrid-HeaderCell {
  background: #1A1B1C;
  border-right: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentMain .ViewerNGListDataGrid-TableCell {
  border-right: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentModal .ViewerNGRegister {
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentModal .ViewerNGRegister .ViewerNGRegister-header {
  border-bottom: 1px solid #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .NGSettingPanelContainer .NGSettingPanelContainer-contentModal .ViewerNGRegister .RadioItem-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .TwitterPanelContainer {
  background-color: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .TwitterPanelContainer .TwitterAccountPanel {
  background-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .TwitterPanelContainer .TwitterCaptureSelector .TwitterCaptureSelector-button {
  color: #c4c4c4;
  border: 2px dashed #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .TwitterPanelContainer .TwitterCaptureSelector .TwitterCaptureSelector-button:hover {
  color: #0080FF;
  border: 2px dashed #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .SharePanelContainer {
  background-color: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .SharePanelContainer .SharePanelContainer-content {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .SharePanelContainer .SharePanelContainer-content .SharePanelContainer-linkTimeText {
  border: 1px solid #555555;
  background-color: #333333;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .AddingMylistPanelContainer .AddingMylistPanel-mylist {
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .AddingMylistPanelContainer .AddingMylistPanel-mylist .AddingMylistPanel-content {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .MainContainer .MainContainer-floatingPanel .AddingMylistPanelContainer .AddingMylistModal {
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .Card {
  background-color: #333333;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .Card .Card-title,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .Card .IchibaForWatch_Title_Body {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .ContentTreeContainer a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .ContentTreeContainer .ContentTree-parentSummary .Link {
  background: #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .UadVideosContainer a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch {
  background: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaMainItem a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaMainItem .IchibaMainItem_Thumbnail {
  border: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaMainItem .IchibaMainItem_Info,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaMainItem .IchibaMainItem_Price_Number {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaSuggest .IchibaSuggest_Title {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaSuggest .IchibaSuggest_List .IchibaSuggestItem {
  background: #555555;
  border-color: #555555;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaSuggest .IchibaSuggest_List .IchibaSuggestItem .IchibaSuggestItem_Name {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaSuggest .IchibaSuggest_List .IchibaSuggestItem .IchibaSuggestItem_Info,
.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomMainContainer .IchibaContainer .IchibaForWatch .IchibaSuggest .IchibaSuggest_List .IchibaSuggestItem .IchibaSuggestItem_Price_Number {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .LiveTopicsContainer .LiveTopicsContainer a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .LiveTopicsContainer .LiveTopicsContainer .LiveTopicsItem-community {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomSideContainer .WatchRelatedContentsContainer a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomSideContainer .WatchRelatedContentsContainer a:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .WatchAppContainer .WatchAppContainer-main .BottomContainer .BottomSideContainer .WatchRelatedContentsContainer a:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .WatchAppContainer .ContextMenu .CommentPanelContextMenuContainer {
  border: 1px solid #555555;
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .ContextMenu .CommentPanelContextMenuContainer-menuItem:hover {
  background: #555555;
}

.niconico-darkmode-setting-true #ichibaDisplayContent a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaModal_Container,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaModal_Body,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaAdded,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaTagSearch,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaAdded_Header {
  background-color: #252525 !important;
}

.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaModal_Title_Body,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaSuggest_Title,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaTagSearch_Title,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaAdded_Title,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaAdded_Description {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaModal_Body {
  border-top: 1px solid #555555 !important;
}

.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaSearchForm_Category,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaSearchForm_Keyword_Input,
.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaSuggest_Sort {
  background-color: #252525 !important;
  color: #F5F5F5 !important;
  border: 1px solid #555555 !important;
}

.niconico-darkmode-setting-true #ichibaDisplayContent .noItem,
.niconico-darkmode-setting-true #ichibaDisplayContent .loading {
  color: #999999 !important;
}

.niconico-darkmode-setting-true #ichibaDisplayContent .IchibaTagSearch_Item a {
  background-color: #1A1B1C !important;
  border: 0.5px solid #999999 !important;
}

.niconico-darkmode-setting-true #content.editting.owner.easy_mode #videoHeader #videoHeaderDetail .videoDetailExpand .owner, .niconico-darkmode-setting-true #content.editting.owner.easy_mode #videoHeader #videoHeaderDetail .videoDetailExpand .owner_easy, .niconico-darkmode-setting-true #content.editting.owner.easy_mode #videoHeader #videoHeaderDetail .videoDetailExpand .comment, .niconico-darkmode-setting-true #content.editting.owner.easy_mode #videoHeader #videoHeaderDetail .videoDetailExpand .mymemory {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #content.editting.owner.easy_mode #videoHeader #videoHeaderDetail .videoDetailExpand h1 a.watch {
  color: #0080FF !important;
}

.niconico-darkmode-setting-true #content.editting.owner.easy_mode #nicos_color,
.niconico-darkmode-setting-true #content.editting.owner.easy_mode #nicos_jump,
.niconico-darkmode-setting-true #content.editting.owner.easy_mode .editOwnerEasySubmit p .submit,
.niconico-darkmode-setting-true #content.editting.owner.easy_mode .menuInner .submit {
  background: #333333 !important;
  color: #F5F5F5 !important;
  border: 1px solid #555555 !important;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEMAIN #nicodou {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
