/*www.nicovideo.jp/watch/**/

.HeaderContainer{
  background-color:#1A1B1C !important;
}
.VideoTitle{
  color: white !important;
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand{
  background: #1A1B1C !important;
}
.VideoDescriptionExpander .VideoDescriptionExpander-switch{
  color: #0080ff !important;
  fill: #0080ff !important;
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchExpand:before{
  border-color: #0080ff transparent transparent !important;
}
.VideoDescriptionExpander .VideoDescriptionExpander-switchCollapse:before{
  border-color: transparent transparent #0080ff !important;
}
.VideoOwnerUploadedLink,.VideoOwnerChannelLink{
  border: none !important;
  background-color: #35393B !important;
}

/*詳細文*/
.VideoDescription-html{
  color: whitesmoke !important;
}
.VideoDescription-html a{
  color: #0080ff !important;
}

/*情報*/
.VideoMetaContainer>*, .VideoMetaOverflowMenuContainer{
  border-left : none !important;
}
.VideoUploadDateMeta-dateTimeLabel,.FormattedNumber,.GenreRankMeta-yesterdayRank{
  color: whitesmoke !important;
}
.GenreRankMeta-highestPast{
  color: #0080ff !important;
}

/*now live*/
.OwnerNicoliveBanner{
  background: #252525 !important;
}

/*情報popup*/
.VideoMetaOverflowMenuContainer-menu{
  background: #1A1B1C !important;
}
.VideoMetaOverflowMenuContainer-menuBlock:not(:first-of-type){
  border-top: 1px solid #35393B !important;
}
.GenreRankMetaOverflowMenuContainer-header{
  background: #1A1B1C !important;
  color: white !important;
}
.GenreRankMetaOverflowMenuContainer-body{
  background: #1A1B1C !important;
  color: whitesmoke !important;
}
.GenreRankMetaOverflowMenuContainer-tagIcon{
  fill: whitesmoke !important;
}
.GenreRankMetaOverflowMenuContainer-body{
  overflow-y: auto !important;
}

/*タグ*/
.TagEnterEditingButton,.TagContainer-editButton{
  background-color: #35393B !important;
}
.TagItem {
  background-color: #35393B !important;
  border: none !important;
}
.TagItem a{
  color: whitesmoke !important;
}
.TagItem a :hover{
  color: whitesmoke !important;
}
.TagContainer.is-editing{
  background-color: #1A1B1C !important;
  border: 1px solid #e5e8ea;
}
.TagItem-name{
  color: whitesmoke !important;
}
.TagContainer-editButton:hover{
  background-color: #069 !important;
}

/*タグ追加・検索窓*/
.TagEditForm-input{
  box-shadow: none !important;
}
.TagSuggestionInput-input{
  background-color: #35393B !important;
  color: whitesmoke !important;
  box-shadow: none !important;
}
.TagSuggestionList{
  border: none !important;
  box-shadow: none !important;
}
.TagSuggestionList-item,.TagSuggestionList-favoriteTag,.SearchBox-optionMenu{
  background-color: #1A1B1C !important;
  color: whitesmoke !important;
  border-top: 1px dotted #35393B !important;
}
.TagSuggestionList-item.is-active, .TagSuggestionList-item:hover,.SearchBox-optionMenuItem:hover{
  background-color: #35393B !important;
}
.SearchBox{
  border: none !important;
  background: #35393B !important;
}

/*かんたんコメント*/
.ControllerBoxCommentAreaContainer{
  background: black !important;
  border-right: none !important;
}
.CommentPostContainer-commentInput{
  border: none !important;
}
.CommentPostContainer-commandInput{
  border: none !important;
  border-right: 1px solid rgb(118, 118, 118) !important;
}
.EasyCommentContainer{
  background: none !important;
}
.EasyCommentButton{
  background: #35393B !important;
  color: white !important;
  border: none !important;
}
.LikeButton{
  background: #35393B !important;
  color: white !important;
  border: 2px solid rgb(118, 118, 118) !important;
}

/*R-panel*/
.MainContainer-playerPanel,.VideoMenuContainer-areaLeft, .VideoMenuContainer-areaRight,.PlayerPanelContainer,.CommentPanelContainer{
  background: #1A1B1C !important;
}
.VideoMenuContainer-areaLeft .VideoMenuContainer-button{
  fill: whitesmoke !important;
}
.VideoMenuContainer-areaLeft .VideoMenuContainer-button:hover:not([disabled]){
  fill: #007cff !important;
}
.VideoMenuContainer .UadButtonBalloon{
  background-color: #1A1B1C !important;
}
.VideoMenuContainer .UadButtonBalloon{
  border: 1px solid #35393B !important;
}
.VideoMenuContainer .UadButtonBalloon:before{
  border: none !important;
}
.VideoMenuContainer .UadButtonBalloon:after{
  border-right-color: #35393B !important;
}
.VideoMenuContainer:after{
  border-bottom: none !important;
}
.PlayerPanelContainer-tabItem{
  border-bottom: none !important;
  color: white !important;
}
.PlayerPanelContainer-tabItem.current{
  border-bottom: 3px solid #007cff !important;
}
.VideoListPanelContainer .NextPlayVideoContainer{
  border-bottom: 1px solid #35393B !important;
}
.NextPlayVideoContainer-note,.WatchRecommendation-heading,.NextPlayVideoContainer-continuous{
  color: whitesmoke !important;
}


/*コメントパネル*/
.CommentPanelDataGrid .CommentPanelDataGrid-HeaderCell{
  background: #35393B !important;
  color: white !important;
}
.CommentPanelContainer .CommentPanelDataGrid{
  color: whitesmoke !important;
}
.CommentPanelDataGrid .CommentPanelDataGrid-HeaderCell,.CommentPanelDataGrid .CommentPanelDataGrid-TableCell{
  border-right: 1px solid rgb(58, 59, 53) !important;
}
.CommentPanelContainer [data-row-nicoru-rank="1"]{
  background: rgb(74, 75, 58) !important;
}
.CommentPanelContainer [data-row-nicoru-rank="2"]{
  color: black !important;
}
.DataGrid-Table :hover{
  background: #35393B !important;
  color: white !important;
}
.DropDownMenu,.DateTimeInput-date,.DateTimeInput-time{
  background-color: #35393B;
  color: white;
  box-shadow: none !important;
}
.CommentPanelMenuContainer-pastCommentMenu{
  background: #35393B !important;
}

/*NG*/
.NGSettingPanelContainer-content,.ViewerNGListDataGrid-HeaderCell{
  background: #35393B !important;
  color: whitesmoke !important;
}
.ViewerNGList{
  background: #1A1B1C !important;
  color: whitesmoke !important;
}
.ViewerNGListDataGrid-TableCell{
  border-right: 1px solid #35393B !important;
}
.ViewerNGListDataGrid-HeaderCellSeparator{
  color: #35393B !important;
}

.NGSettingPanelContainer-openViewerNGRegisterButton{
  background-color: #e5e8ea !important;
  color: black !important;
}
.NGSettingPanelContainer-openViewerNGRegisterButton:hover{
  background-color: #069 !important;
}
.NGSettingPanelContainer-num,.NGSettingPanelContainer-enableCheckbox{
  color: #0080ff !important;
}
.NGSettingPanelContainer-removeButton[disabled]{
  color: gray !important;
}
.ViewerNGRegister{
  background: #35393B !important;
}
.ViewerNGRegister-header{
  border-bottom: 1px solid gray;
}
.RadioItem-label{
  color: whitesmoke !important;
}
.ViewerNGRegister-input{
  background: #35393B !important;
  color: white !important;
}

/*twitter*/
.TwitterClientContainer,.SharePanelContainer,.AddingMylistPanel-mylist,.AddingMylistModal{
  background-color: #35393B !important;
}
.TwitterClient-Account-Message,.AddingMylistPanel-name{
  color: whitesmoke !important;
}
.TwitterClient-Message-Textarea,.SharePanelContainer-textarea,.SharePanelContainer-linkTimeText,.AddingMylistModal-descriptionInput,.AddingMylistModal-nameInput{
  background-color: #35393B !important;
  color: white !important;
  box-shadow:none !important;
  border: 0.5px solid #767676 !important;
}
.CheckboxLabel,.SharePanelContainer-playerEmbedOption{
  color: white !important;
}
.AddingMylistModal-cancel{
  background: #999 !important;
  color: #fff !important;
}
.AddingMylistModal-submit{
  background: #007cff !important;
  color: #fff !important;
}


/*コメント入力*/
.CommentPostContainer-commandInput,.CommentPostContainer-commentInput{
  background-color: #35393B !important;
  border-right: 1px solid gray;
}
.CommentCommandInput,.CommentInput-textarea{
  color: white !important;
}
.CommentCommandPaletteContainer{
  background-color: #35393B !important;
}
.CommentCommandPaletteNode[data-type=layout], .CommentCommandPaletteNode[data-type=size]{
  background-color: #35393B !important;
  border: 2px solid #767676 !important;
}
.CommentCommandPaletteNode svg{
  fill: whitesmoke !important;
}

/*広告・市場*/
.BottomContainer{
  background: #1A1B1C !important;
}
.Card{
  background-color: #35393B !important;
}
.Card-title,.IchibaForWatch_Title_Body{
  color: whitesmoke !important;
}
.IchibaForWatch{
  background: #35393B !important;
}
.IchibaForWatch_EditButton,.IchibaFooter_SearchButton,.IchibaForWatch_SearchButton{
  color: whitesmoke !important;
  background-color: #0080ff !important;
}
.IchibaMainItem_Info,.IchibaMainItem_Price_Number,.IchibaMainItem_Price_SaleRate,.IchibaSuggestItem_Price_Number,.IchibaSuggestItem_Price_SaleRate{
  color: #767676 !important;
}
.IchibaMain_Container .IchibaBalloon{
  background: #767676 !important;
}
.IchibaMain_Container .IchibaBalloon::after{
  border-top: 16px solid #767676 !important;
}

/*市場モーダル*/
.IchibaModal_Container,.IchibaModal_Body,.IchibaAdded,.IchibaTagSearch,.IchibaAdded_Header{
  background-color: #35393B !important;
}
.IchibaModal_Title_Body,.IchibaSuggest_Title,.IchibaTagSearch_Title,.IchibaAdded_Title,.IchibaAdded_Description{
  color: whitesmoke !important;
}
.IchibaModal_Body{
  border-top: 1px solid #767676 !important;
}
.IchibaSearchForm_Category,.IchibaSearchForm_Keyword_Input,.IchibaSuggest_Sort{
  background-color: #35393B !important;
  color: whitesmoke !important;
  border: 1px solid #767676 !important;
}
.noItem,.loading{
  color: #767676 !important;
}
.IchibaTagSearch_Item a{
  background-color: #35393B !important;
  border: 0.5px solid #767676 !important;
}

/*投稿者メニュー*/
.EditorMenuContainer{
  background: #35393B !important;
}
.EditorMenuContainer-menuBox>li:first-child{
  background: #35393B !important;
  border-right: none !important;
  color: whitesmoke !important;
}
.EditorMenuContainer-menuBox-menu{
  background: #35393B !important;
  color: whitesmoke !important;
}
.EditorMenuContainer-menuBox-menu .icon{
  fill: whitesmoke !important;
}
.EditorMenuContainer-menuHeading{
  margin: 11px 12px 0 12px !important;
}
.EditorMenuContainer-menuBox-menu-child .menuItem,.menuItem .RouterLink{
  background: #35393B !important;
}
.EditorMenuContainer-menuBox-menu-child .menuItem .Link:hover,.menuItem .RouterLink:hover{
  background: #767676 !important;
}
.EditorMenuContainer-menuBox-menu-child .menuItem .OpenBlankIcon{
  fill: whitesmoke !important;
}

/*投稿者コメント*/
.OwnerEditPanel{
  background: #35393B !important;
}
.OwnerEditPanelHeader-left span{
  color: white !important;
}
.OwnerEditButton{
  background: #767676 !important;
  border: none !important;
  color: white !important;
}

/*nicoscript easy-settings*/
#content.editting #videoHeaderDetail .owner, #content.editting #videoHeaderDetail .owner_easy, #content.editting #videoHeaderDetail .comment, #content.editting #videoHeaderDetail .mymemory{
  color: white !important;
}
#nicos_color,#nicos_jump,.editOwnerEasySubmit p .submit,.menuInner .submit{
  background: #35393B !important;
  color: whitesmoke !important;
  border: 1px solid #767676 !important;
}

/*series*/
.VideoDescriptionSeriesContainer{
  border-top: 2px solid #767676 !important;
}
.VideoDescriptionSeriesContainer-label{
  color: whitesmoke !important;
}