@import '../parts/_default';
@import 'parts/_zero_design';

.niconico-darkmode-setting-true{
  background-color:$main-background-color !important;

  .video_catalog{
    color: $main-text-color;
    ul li{
      color: $sub-2-text-color;
      a{
        color: $main-text-color;
      }
      a:visited{
        color: $sub-1-text-color;
      }
    }
  }
}