@charset "UTF-8";
.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector {
  border-color: #333333;
  background: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form {
  background: #333333;
  -webkit-box-shadow: inset 0 0 0 1px #333333;
          box-shadow: inset 0 0 0 1px #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li {
  color: inherit;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-option {
  background-color: #252525 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-form {
  background-color: #252525 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-query {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner li:hover {
  background-color: #555555 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox {
  border: none;
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagEditForm-input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionInput-input {
  background-color: #252525;
  color: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-favoriteTag,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenu {
  background-color: #252525;
  color: #F5F5F5;
  border-top: 1px dotted #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item.is-active,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item:hover,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenuItem:hover {
  background-color: #333333;
}

.niconico-darkmode-setting-true #head_search #search_tab a.head_ssw_0 {
  background-color: #252525;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #head_search #search_input {
  background: #252525;
  border: #555555 solid 1px;
}

.niconico-darkmode-setting-true #head_search #search_input #bar_search {
  background-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
  border-color: #555555;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .active {
  background-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput {
  border-color: #555555;
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form {
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText input {
  background: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .clear-button-tag .clear-button-inner-tag {
  color: #F5F5F5;
  background: #999999;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active {
  background: #555555 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .VideoCard a,
.niconico-darkmode-setting-true .NicoadVideoItem a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .VideoCard a:hover,
.niconico-darkmode-setting-true .NicoadVideoItem a:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .TagItem .TagItem-link {
  color: #F5F5F5;
  background: #272727 !important;
  border: 1px solid #272727;
}

.niconico-darkmode-setting-true .TagItem .TagItem-link:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .RankingBaseItem {
  background: #252525;
}

.niconico-darkmode-setting-true .ViewerNGRegister-cancelButton,
.niconico-darkmode-setting-true .AddingMylistModal-cancel {
  color: #F5F5F5;
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .ViewerNGRegister-cancelButton:hover,
.niconico-darkmode-setting-true .AddingMylistModal-cancel:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .ViewerNGRegister-submitButton,
.niconico-darkmode-setting-true .AddingMylistModal-submit {
  color: #0080FF;
  border-color: #0080FF;
  background: #333333;
}

.niconico-darkmode-setting-true .ViewerNGRegister-submitButton:hover,
.niconico-darkmode-setting-true .AddingMylistModal-submit:hover {
  background: #0080FF;
}

.niconico-darkmode-setting-true .ViewerNGRegister-submitButton:disabled {
  color: #999999;
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .WatchLaterMenu .Selectbox-button, .niconico-darkmode-setting-true .MylistMenu .Selectbox-button {
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .WatchLaterMenu .Selectbox-button .Selectbox-label, .niconico-darkmode-setting-true .MylistMenu .Selectbox-button .Selectbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .WatchLaterMenu .Selectbox-button:hover, .niconico-darkmode-setting-true .MylistMenu .Selectbox-button:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .WatchLaterMenu .ContinuousPlayButton, .niconico-darkmode-setting-true .MylistMenu .ContinuousPlayButton {
  color: #F5F5F5;
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .WatchLaterMenu .ContinuousPlayButton:hover, .niconico-darkmode-setting-true .MylistMenu .ContinuousPlayButton:hover {
  color: #F5F5F5;
  background: #0080FF;
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .Selectbox-button {
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .Selectbox-button .Selectbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .Selectbox-button:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .VideoListEditMenuButton {
  background: #333333;
  border-color: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .VideoListEditMenuButton:hover {
  background: #0080FF;
  border-color: #0080FF;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .VideoListEditMenu-delete.VideoListEditMenuButton:hover {
  background: #d0021b;
  border-color: #d0021b;
}

.niconico-darkmode-setting-true .MylistVideoListEditMenu .Selectbox-button_disabled .Selectbox-label,
.niconico-darkmode-setting-true .MylistVideoListEditMenu .VideoListEditMenuButton_disable {
  color: #999999;
}

.niconico-darkmode-setting-true .MymemoryContainer-editMenu .Checkbox .Checkbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MymemoryContainer-editMenu .VideoListEditMenuButton {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .MymemoryContainer-editMenu .VideoListEditMenuButton_disable {
  color: #999999;
}

.niconico-darkmode-setting-true .VideoWatchHistoryContainer-editMenu .Checkbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .VideoListEditMenuButton {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .VideoListEditMenuButton:hover {
  background: red;
  color: #F5F5F5 !important;
  border-color: red;
}

.niconico-darkmode-setting-true .VideoListEditMenuButton_disable {
  color: #999999;
}

.niconico-darkmode-setting-true .Selectbox-button {
  background-color: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .Selectbox-button .Selectbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .Selectbox-button:hover {
  background-color: #555555;
  border-color: #555555;
}

.niconico-darkmode-setting-true .Selectbox-button:hover .Selectbox-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .contents .pager a, .niconico-darkmode-setting-true .contents .pager span {
  border: none !important;
  background-color: #333333 !important;
}

.niconico-darkmode-setting-true .contents .pager .active {
  border: none !important;
  background-color: #0080FF !important;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem {
  border-color: #333333;
  background: #333333;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem_selected {
  color: #F5F5F5 !important;
  border-color: #0080FF;
  background: #0080FF;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager span.here {
  background: #0080FF;
  border: 5px solid #0080FF;
  border-radius: 2.5px;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager a {
  background: #555555;
  border: 5px solid #555555;
  border-radius: 2.5px;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager a:hover {
  background: #999999;
  border-color: #999999;
}

.niconico-darkmode-setting-true textarea {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true input[type=text],
.niconico-darkmode-setting-true input[type=date], .niconico-darkmode-setting-true input[type=time],
.niconico-darkmode-setting-true .AddingMylistModal-nameInput,
.niconico-darkmode-setting-true .AddingMylistModal-descriptionInput,
.niconico-darkmode-setting-true .ichiba_search_form_query {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true select {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child {
  border: none !important;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem {
  background: #333333;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem a:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList {
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList .TagSuggestionList-list .TagSuggestionList-item {
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList .TagSuggestionList-list .TagSuggestionList-item:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .OtherMypageLinks,
.niconico-darkmode-setting-true .ThreePointMenu {
  background: #333333;
}

.niconico-darkmode-setting-true .OtherMypageLinks .OtherMypageLinks-link,
.niconico-darkmode-setting-true .OtherMypageLinks .UserDetailsMenu-item,
.niconico-darkmode-setting-true .OtherMypageLinks .NicorepoItemMenu-item,
.niconico-darkmode-setting-true .OtherMypageLinks .MylistHeaderMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .OtherMypageLinks-link,
.niconico-darkmode-setting-true .ThreePointMenu .UserDetailsMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .NicorepoItemMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .MylistHeaderMenu-item {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .OtherMypageLinks .OtherMypageLinks-link:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .UserDetailsMenu-item:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .NicorepoItemMenu-item:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .MylistHeaderMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .OtherMypageLinks-link:hover,
.niconico-darkmode-setting-true .ThreePointMenu .UserDetailsMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .NicorepoItemMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistHeaderMenu-item:hover {
  background-color: #555555;
}

.niconico-darkmode-setting-true .Selectbox, .niconico-darkmode-setting-true .ThreePointMenu {
  background: #333333;
}

.niconico-darkmode-setting-true .Selectbox .SortSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .MylistSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .VideoMenuButtonItem,
.niconico-darkmode-setting-true .Selectbox .VideoMenuLinkItem,
.niconico-darkmode-setting-true .Selectbox .MymemoryContainer-menuOrderSelectorItem,
.niconico-darkmode-setting-true .Selectbox .NicoruHistoryActiveItem-deleteButton,
.niconico-darkmode-setting-true .Selectbox .MylistsSortSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .VideoContainer-headerMenuSortSelectboxItem, .niconico-darkmode-setting-true .ThreePointMenu .SortSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .MylistSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuButtonItem,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuLinkItem,
.niconico-darkmode-setting-true .ThreePointMenu .MymemoryContainer-menuOrderSelectorItem,
.niconico-darkmode-setting-true .ThreePointMenu .NicoruHistoryActiveItem-deleteButton,
.niconico-darkmode-setting-true .ThreePointMenu .MylistsSortSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .VideoContainer-headerMenuSortSelectboxItem {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .Selectbox .SortSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .MylistSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .VideoMenuButtonItem:hover,
.niconico-darkmode-setting-true .Selectbox .VideoMenuLinkItem:hover,
.niconico-darkmode-setting-true .Selectbox .MymemoryContainer-menuOrderSelectorItem:hover,
.niconico-darkmode-setting-true .Selectbox .NicoruHistoryActiveItem-deleteButton:hover,
.niconico-darkmode-setting-true .Selectbox .MylistsSortSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .VideoContainer-headerMenuSortSelectboxItem:hover, .niconico-darkmode-setting-true .ThreePointMenu .SortSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuButtonItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuLinkItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MymemoryContainer-menuOrderSelectorItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .NicoruHistoryActiveItem-deleteButton:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistsSortSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoContainer-headerMenuSortSelectboxItem:hover {
  background-color: #555555;
}

.niconico-darkmode-setting-true .FooterContainer a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .FooterContainer a:hover {
  color: #0080FF !important;
}

.niconico-darkmode-setting-true .FooterContainer .FooterContainer-column {
  border-top: 2px solid #F5F5F5;
}

.niconico-darkmode-setting-true .FooterContainer .FooterContainer-feedback {
  background-color: #333333;
  border: 1px solid #333333;
}

.toPageTopWrap {
  background: #333333 !important;
}

.toPageTopWrap .inner a:hover, .toPageTopWrap .inner a:active {
  background: #333333 !important;
  border: none !important;
  color: #F5F5F5 !important;
}

#footerWrap {
  background: #1A1B1C !important;
}

#footerWrap a {
  color: #F5F5F5 !important;
}

#footerWrap a:hover {
  color: #0080FF !important;
}

#footerWrap #footerNav .outer h3 {
  border-bottom: #555555 solid 1px !important;
  color: #F5F5F5 !important;
}

#footerWrap #footerNav ul li {
  background: none !important;
}

#footerWrap .figureWrap span, #footerWrap .figureWrap small {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true {
  background-color: #1A1B1C !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .NicovideoLogo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer {
  background: none;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer a:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer .RankingGenreListContainer-item {
  background-color: #252525 !important;
  border: none !important;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer .is-current {
  background-color: #0080FF !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer .is-current a:hover {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer .RankingGenreListContainer-categoryHelp {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer .CategoryHelpModal .Modal-content {
  background: #252525;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer .CategoryHelpModal .Modal-content .CategoryHelpModal-image {
  opacity: 0.8;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer .CategoryHelpModal .Modal-content .CategoryHelpModal-infoLink a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .RankingGenreListContainer .CategoryHelpModal .Modal-content .CategoryHelpModal-infoLink a:hover {
  text-decoration: underline;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .LaneHeader .CustomButton {
  background: #252525;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .LaneHeader .CustomButton .RankingIcon_customBlack {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .LaneHeader .CustomButton span {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .LaneHeader .RankingSettingSummary .RankingSettingSummary-content {
  background: #252525;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .LaneHeader .RankingSettingSummary .RankingSettingSummary-content .RankingSettingSummary-main > h1,
.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .LaneHeader .RankingSettingSummary .RankingSettingSummary-content .RankingSettingItem-content {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .LaneHeader .RankingSettingSummary .RankingSettingSummary-content::before,
.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .LaneHeader .RankingSettingSummary .RankingSettingSummary-content::after {
  background: #252525;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingHeaderContainer .RankingHeaderContainer-header_fixed {
  background: #252525;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingMainContainer .MatrixRankingBannerAd {
  background: none;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingMainContainer .MatrixRankingBannerAd .MatrixRankingBannerAd-caption {
  background: none;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingMainContainer .MatrixRankingBannerAd .Ads {
  background: none;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog {
  background: #252525;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .CustomRankingTop-description {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .CustomRankingTop-selector .CustomRankingTop-itemLabel {
  border-color: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .CustomRankingTop-selector .CustomRankingTop-itemLabel:hover {
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .CustomRankingFieldset {
  border-color: #555555;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .CustomRankingFieldset .CustomRankingFieldset-legend {
  background: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .CustomGenreSelector .CustomGenreSelector-label {
  border-color: #555555;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .CustomGenreSelector .CustomGenreSelector-check:checked + .CustomGenreSelector-label {
  border-color: #0080FF;
  background: #0080FF;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .GenreRankingCustomEditor-genreSelect h1 {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .MatrixRanking-app .RankingCustomDialogContainer .RankingCustomDialogContainer-dialog .CustomRankingDialog .CustomRankingDialog-content .GenreRankingCustomEditor-genreSelect aside {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .MatrixRanking-postDescription {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .MatrixRanking-pastLink {
  color: #0080FF;
}

.niconico-darkmode-setting-true .MatrixRanking-pastLink a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-footer {
  background: #252525;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body {
  /*各ジャンル*/
  /*side*/
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseLayout-main .BaseRankingLayout-content .SpecifiedRanking-main .RankingHeader {
  background: #252525;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseLayout-main .BaseRankingLayout-content .SpecifiedRanking-main .RankingHeader header {
  border-color: #555555;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseLayout-main .BaseRankingLayout-content .SpecifiedRanking-main .RankingHeader header .RankingHeader-prefix {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseLayout-main .BaseRankingLayout-content .SpecifiedRanking-main .RankingHeader footer .RankingTermSelector .RankingTermSelector-label {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseLayout-main .BaseRankingLayout-content .SpecifiedRanking-main .RankingHeader footer .RankingTermSelector .RankingTermSelector-dropdown {
  border-color: #555555;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseLayout-main .BaseRankingLayout-content .SpecifiedRanking-main .RankingHeader footer .RankingTermSelector .RankingTermSelector-dropdown .Dropdown-button {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .RankingTermSelector-label, .niconico-darkmode-setting-true.SpecifiedRanking-body .RankingTermSelector .Dropdown-button {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .RankingTermSelector .Dropdown-button:after {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .Dropdown-list {
  background-color: #252525 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #555555 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .DropdownItem {
  background-color: #252525 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .DropdownItem[data-is-selected] {
  background: #0080FF !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .MediaObject.RankingMainVideo, .niconico-darkmode-setting-true.SpecifiedRanking-body .MediaObject.RankingMainNicoad {
  background: #252525 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .MediaObject.RankingMainNicoad[data-nicoad-grade=gold] {
  background: #252525 !important;
  border: 3px solid gold !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .MediaObject.RankingMainNicoad[data-nicoad-grade=silver] {
  background: #252525 !important;
  border: 2px solid silver !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .MediaObject.RankingMainNicoad[data-nicoad-grade=bronze] {
  background: #252525 !important;
  border: 1px solid #a36b21 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .RankingFilterTag {
  background: #252525 !important;
  border: none !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .RankingFilterTag_active {
  background: #0080FF !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .Paginator-item {
  border: none !important;
  background: #252525 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .Paginator-item_current {
  background: none !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .SpecifiedRanking-footer {
  color: #c4c4c4 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseRankingContentContainer header {
  background: #252525 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseRankingContentContainer header h1, .niconico-darkmode-setting-true.SpecifiedRanking-body .NicoNewsContainer-heading, .niconico-darkmode-setting-true.SpecifiedRanking-body .BaseRankingContentContainer-main h2 {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .AnotherRankingLink-button {
  background: #252525 !important;
  border: none !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .MediaObject-body p {
  color: #c4c4c4 !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseRankingContentContainer.TrendTagContainer .TrendTagContainer-link {
  background: #252525 !important;
  border: none !important;
}

.niconico-darkmode-setting-true.SpecifiedRanking-body .BaseRankingContentContainer.TrendTagContainer .TrendTagContainer-row {
  border-bottom: none !important;
}
