@import '../parts/_default';
@import '../parts/_serchbox';
@import '../parts/_button';

.niconico-darkmode-setting-true{
  background-color:$main-background-color !important;
  color: $main-text-color;

  .BaseLayout-header{
    .NicovideoLogo{
      filter: $invert;
    }
  }

  .BaseLayout-main{
    .Recommendations-recommend{
      .BaseLayout-block{
        .RecommendTagListContainer{
          .RecommendationsHeading{
            h1{
              color: $main-text-color;
            }
            aside{
              color: $sub-1-text-color;
            }
          }
        }
        .RecommendVideoListContainer{
          .RecommendationsHeading{
            h1{
              color: $main-text-color;
            }
            aside{
              color: $sub-1-text-color;
            }
          }
          .RecommendVideoListContainer-videos{
            .VideoCard, .NC-Card{
              .Card-link, .NC-CardTitle{
                color: $main-text-color;

                &:visited{
                  color: $sub-1-text-color;
                }
              }
            }
          }
          .RecommendVideoListContainer-more{
            background: $sub2-background-color;
            color: $main-text-color;
            border-color: $border-background-color;
          }
          .RecommendVideoListContainer-more:hover{
            background: $main-url-color;
            border-color: $main-url-color;
          }
        }
      }

    }

    .TagItem{
      .TagItem-link{
        color: $main-text-color;
        background: $sub2-background-color;
        border: none;
      }
    }
    

  }

  .BaseLayout-footer{
    background: $nico-black;
    .Ads728x90WebPcFooter{
      background: none;
    }
  }
}