.niconico-darkmode-setting-true {
  /*serch*/
  /*footer*/
  /*serchbox suggest*/
}

.niconico-darkmode-setting-true .header {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true .logo a svg path {
  fill: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #nicodou a img {
  -webkit-filter: invert(100%) !important;
          filter: invert(100%) !important;
}

.niconico-darkmode-setting-true #search_tab a.head_ssw_0 {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true #search_input {
  background: #252525 !important;
  border: #252525 solid 1px !important;
}

.niconico-darkmode-setting-true #bar_search {
  background-color: #252525 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #footerWrap {
  background: #1A1B1C !important;
  border-top: none !important;
}

.niconico-darkmode-setting-true #footerWrap #footerNav .outer h3 {
  border-bottom: #555555 solid 1px !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #footerWrap #footerNav ul li {
  background: none !important;
}

.niconico-darkmode-setting-true .figureWrap span, .niconico-darkmode-setting-true .figureWrap small {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .toPageTopWrap {
  background: #252525 !important;
}

.niconico-darkmode-setting-true .toPageTopBtn:hover {
  background: none !important;
}

.niconico-darkmode-setting-true .suggestBox {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector {
  border-color: #333333;
  background: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form {
  background: #333333;
  -webkit-box-shadow: inset 0 0 0 1px #333333;
          box-shadow: inset 0 0 0 1px #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li {
  color: inherit;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-option {
  background-color: #252525 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-form {
  background-color: #252525 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-query {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner li:hover {
  background-color: #555555 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox {
  border: none;
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagEditForm-input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionInput-input {
  background-color: #252525;
  color: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-favoriteTag,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenu {
  background-color: #252525;
  color: #F5F5F5;
  border-top: 1px dotted #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item.is-active,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item:hover,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenuItem:hover {
  background-color: #333333;
}

.niconico-darkmode-setting-true #head_search #search_tab a.head_ssw_0 {
  background-color: #252525;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #head_search #search_input {
  background: #252525;
  border: #555555 solid 1px;
}

.niconico-darkmode-setting-true #head_search #search_input #bar_search {
  background-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
  border-color: #555555;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .active {
  background-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput {
  border-color: #555555;
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form {
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText input {
  background: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .clear-button-tag .clear-button-inner-tag {
  color: #F5F5F5;
  background: #999999;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active {
  background: #555555 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true textarea {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true input[type=text],
.niconico-darkmode-setting-true input[type=date], .niconico-darkmode-setting-true input[type=time],
.niconico-darkmode-setting-true .AddingMylistModal-nameInput,
.niconico-darkmode-setting-true .AddingMylistModal-descriptionInput,
.niconico-darkmode-setting-true .ichiba_search_form_query {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true select {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child {
  border: none !important;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem {
  background: #333333;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .EditorMenuContainer-menuBox-menu-child .menuItem a:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList {
  background: #333333;
  border-color: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList .TagSuggestionList-list .TagSuggestionList-item {
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .TagRankingCustomEditor-tag .TagSuggestionList .TagSuggestionList-list .TagSuggestionList-item:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .OtherMypageLinks,
.niconico-darkmode-setting-true .ThreePointMenu {
  background: #333333;
}

.niconico-darkmode-setting-true .OtherMypageLinks .OtherMypageLinks-link,
.niconico-darkmode-setting-true .OtherMypageLinks .UserDetailsMenu-item,
.niconico-darkmode-setting-true .OtherMypageLinks .NicorepoItemMenu-item,
.niconico-darkmode-setting-true .OtherMypageLinks .MylistHeaderMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .OtherMypageLinks-link,
.niconico-darkmode-setting-true .ThreePointMenu .UserDetailsMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .NicorepoItemMenu-item,
.niconico-darkmode-setting-true .ThreePointMenu .MylistHeaderMenu-item {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .OtherMypageLinks .OtherMypageLinks-link:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .UserDetailsMenu-item:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .NicorepoItemMenu-item:hover,
.niconico-darkmode-setting-true .OtherMypageLinks .MylistHeaderMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .OtherMypageLinks-link:hover,
.niconico-darkmode-setting-true .ThreePointMenu .UserDetailsMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .NicorepoItemMenu-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistHeaderMenu-item:hover {
  background-color: #555555;
}

.niconico-darkmode-setting-true .Selectbox, .niconico-darkmode-setting-true .ThreePointMenu {
  background: #333333;
}

.niconico-darkmode-setting-true .Selectbox .SortSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .MylistSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .VideoMenuButtonItem,
.niconico-darkmode-setting-true .Selectbox .VideoMenuLinkItem,
.niconico-darkmode-setting-true .Selectbox .MymemoryContainer-menuOrderSelectorItem,
.niconico-darkmode-setting-true .Selectbox .NicoruHistoryActiveItem-deleteButton,
.niconico-darkmode-setting-true .Selectbox .MylistsSortSelectbox-item,
.niconico-darkmode-setting-true .Selectbox .VideoContainer-headerMenuSortSelectboxItem, .niconico-darkmode-setting-true .ThreePointMenu .SortSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .MylistSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuButtonItem,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuLinkItem,
.niconico-darkmode-setting-true .ThreePointMenu .MymemoryContainer-menuOrderSelectorItem,
.niconico-darkmode-setting-true .ThreePointMenu .NicoruHistoryActiveItem-deleteButton,
.niconico-darkmode-setting-true .ThreePointMenu .MylistsSortSelectbox-item,
.niconico-darkmode-setting-true .ThreePointMenu .VideoContainer-headerMenuSortSelectboxItem {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .Selectbox .SortSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .MylistSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .VideoMenuButtonItem:hover,
.niconico-darkmode-setting-true .Selectbox .VideoMenuLinkItem:hover,
.niconico-darkmode-setting-true .Selectbox .MymemoryContainer-menuOrderSelectorItem:hover,
.niconico-darkmode-setting-true .Selectbox .NicoruHistoryActiveItem-deleteButton:hover,
.niconico-darkmode-setting-true .Selectbox .MylistsSortSelectbox-item:hover,
.niconico-darkmode-setting-true .Selectbox .VideoContainer-headerMenuSortSelectboxItem:hover, .niconico-darkmode-setting-true .ThreePointMenu .SortSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuButtonItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoMenuLinkItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MymemoryContainer-menuOrderSelectorItem:hover,
.niconico-darkmode-setting-true .ThreePointMenu .NicoruHistoryActiveItem-deleteButton:hover,
.niconico-darkmode-setting-true .ThreePointMenu .MylistsSortSelectbox-item:hover,
.niconico-darkmode-setting-true .ThreePointMenu .VideoContainer-headerMenuSortSelectboxItem:hover {
  background-color: #555555;
}

.niconico-darkmode-setting-true .contents .pager a, .niconico-darkmode-setting-true .contents .pager span {
  border: none !important;
  background-color: #333333 !important;
}

.niconico-darkmode-setting-true .contents .pager .active {
  border: none !important;
  background-color: #0080FF !important;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem {
  border-color: #333333;
  background: #333333;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem_selected {
  color: #F5F5F5 !important;
  border-color: #0080FF;
  background: #0080FF;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager span.here {
  background: #0080FF;
  border: 5px solid #0080FF;
  border-radius: 2.5px;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager a {
  background: #555555;
  border: 5px solid #555555;
  border-radius: 2.5px;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager a:hover {
  background: #999999;
  border-color: #999999;
}

.niconico-darkmode-setting-true {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .mb8p4 h1 {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .mb8p4 p.font12 {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY form[name="filter"] .font12 {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY form[name="filter"] input.submit {
  background: #555555;
  border-color: #555555;
  color: #F5F5F5;
  padding: 4px 6px;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY form[name="filter"] input#filtertext {
  border: solid 2px #555555 !important;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 .thumb_num {
  color: #999999;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 .thumb_num.new {
  color: red;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table p.thumb_cols {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_4 .uad_thumbfrm {
  background: none;
  border: none;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_4 .uad_thumbfrm .font10 {
  color: #999999;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_4 a.watch {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_4 a.watch:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_2 .uad_thumbfrm {
  background: none;
  border: none;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_2 .uad_thumbfrm .font10 {
  color: #999999;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_2 a.watch {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_2 a.watch:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_2 p.vinfo_description {
  color: #999999;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_1 .uad_thumbfrm {
  background: none;
  border: none;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_1 .uad_thumbfrm .font10 {
  color: #999999;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_1 a.watch {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_1 a.watch:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 div.thumb_col_1 p.vinfo_description {
  color: #999999;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table[style="color:#666;"] a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table[style="color:#666;"] a:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer {
  background: #252525;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner {
  background: none;
  border: none;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner p.font10 {
  color: #999999;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner p.font12 {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner #related_nicopedia_body {
  border: solid 1px #FFAF19;
  background: #333333;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner #related_nicopedia_body div a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner #related_nicopedia_body div a:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner #related_nicopedia_body div a:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner #related_nicopedia_body div p.font10 {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner #related_nicopedia_footer a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_312 .related_pedia_outer .related_pedia_inner #related_nicopedia_footer a:hover {
  color: #0080FF;
}
