@import '../parts/_default';
@import '../parts/_serchbox';
@import '../parts/_button';
@import '../parts/_textarea';
@import '../parts/_dropdown';
@import '../parts/_footer';

.niconico-darkmode-setting-true{
  background-color:$main-background-color !important;
  color: $main-text-color !important;

  .WatchAppContainer{
    .EditorMenuContainer{
      //投稿者メニュー
      background: $sub2-background-color;
      .EditorMenuContainer-menuBox{
        .EditorMenuContainer-menuBox-menu{
          border: none !important;
          background: none !important;
          color: $sub-1-text-color;
        }
        .EditorMenuContainer-menuBox-menu:hover{
          background: $hover-background-color !important;
          color: $main-text-color !important;
        }
      }
      .EditorMenuContainer-menuBox>li:first-child{
        background: none !important;
        color: $main-text-color !important;
      }
      .EditorMenuContainer-menuBox>li:first-child:hover{
        background: none !important;
        color: $main-text-color !important;
      }
    }
    .CommunityEditorMenuContainer{
      //コミュニティ動画
      background: $nico-com;
      a{
        color: $main-text-color;
        text-decoration: underline;
      }
    }

    .WatchAppContainer-main{
      .HeaderContainer{
        background-color: $main-background-color;
        .SeriesBreadcrumbs{
          a{
            color: $main-url-color;
          }
        }
        .VideoTitle{
          color: $main-text-color;
        }
        .VideoDescriptionContainer{
          .VideoDescriptionExpander{
            .VideoDescriptionExpander-switch{
              color: $main-url-color;
              background: linear-gradient(90deg,hsla(0,0%,95.7%,0),$main-background-color 16%);
            }
            .VideoDescriptionExpander-switchExpand::before{
              border-color: $main-url-color transparent transparent;
            }
            .VideoDescriptionExpander-switchCollapse::before{
              border-color: transparent transparent $main-url-color;
            }
          }
          .VideoDescription.is-expanded{
            a{
              color: $main-url-color;
            }
            .VideoDescription-html{
              span[style*="color: #262626;"]{
                color: $main-text-color !important;
              }
              span[style*="color: #ffffff;"],span[style*="color: white;"]{
                color: #000000 !important;
              }
              span[style*="color: #000000;"],span[style*="color: black;"]{
                color: #ffffff !important;
              }
            }
            .VideoDescriptionSeriesContainer{
              border-top: 2px solid $border-background-color;
              .VideoDescriptionSeriesContainer-label{
                color: $main-text-color;
              }
            }
          }
        }
        .VideoOwnerInfo{
          a{
            color: $main-text-color;
          }
          .VideoOwnerUploadedLink{
            border: 1px solid $sub2-background-color;
            background: $sub2-background-color;
          }
        }
        .VideoMetaContainer{
          .VideoUploadDateMeta-title,
          .VideoViewCountMeta-title,
          .CommentCountMeta-title,
          .MylistCountMeta-title,
          .VideoGenreMeta-title,
          .GenreRankMeta-genreName{
            color: $sub-2-text-color;
          }
          .VideoUploadDateMeta-dateTimeLabel,
          .VideoViewCountMeta-counter,
          .CommentCountMeta-counter,
          .MylistCountMeta-counter,
          .GenreRankMeta-yesterdayRank{
            color: $sub-1-text-color;
          }
          .VideoGenreMeta-genreName a,
          .GenreRankMeta-highestPast{
            color: $main-url-color;
          }
          .GenreRankMetaOverflowMenuContainer-menu{
            border: 1px solid $border-background-color;
            .GenreRankMetaOverflowMenuContainer-header{
              background: $main-background-color;
            }
            .GenreRankMetaOverflowMenuContainer-body{
              background: $nico-default-bg;
              .GenreRankMetaOverflowMenuContainer-menuBlock:not(:first-of-type){
                border-top: 1px solid $border-background-color;
              }
            }
          }
          .VideoMetaOverflowMenuContainer-menu{
            border: 1px solid $border-background-color;
            background: $nico-default-bg;
            a{
              color: $main-url-color;
            }
            .VideoMetaOverflowMenuContainer-menuBlock:not(:first-of-type){
              border-top: 1px solid $border-background-color;
            }
          }
        }
        .VideoMetaContainer>*,
        .VideoMetaOverflowMenuContainer{
          border-left: 1px solid $border-background-color;
          box-shadow: -1px 0 0 0 $border-background-color;
         }
        .TagContainer{
          .TagContainer-TagEditButtonArea{
            .TagContainer-editButton{
              background-color: $sub2-background-color;
              color: $main-text-color;
            }
            .TagContainer-editButton:hover{
              background-color: $main-url-color !important;
            }
          }
          .TagContainer-area{
            .TagItem{
              background-color: $sub2-background-color;
              border: 1px solid $sub2-background-color;
              a{
                color: $main-text-color;
              }
            }
            .TagItem.is-editing{
              .TagItem-name{
                color: $main-text-color;
              }
            }
          }
        }
        .TagContainer.is-editing{
          background-color: $nico-default-bg;
        }
        .OwnerNicoliveBannerContainer{
          .OwnerNicoliveBanner{
            background: $sub2-background-color;
            .OwnerNicoliveBanner-time span{
              color: $sub-1-text-color;
            }
            .OwnerNicoliveBanner-title{
              color: $main-text-color;
            }
          }
        }
      }
      .MainContainer{
        .PlayerContainer{
          .ControllerBoxContainer{
            .ControllerBoxCommentAreaContainer{
              background: none !important;
              border-right: none !important;
              .CommentPostContainer-commandInput,
              .CommentPostContainer-commentInput{
                border: none;
                background-color: $nico-default-bg !important;
                border-right: 1px solid $border-background-color;
                .CommentCommandInput,
                .CommentInput-textarea{
                  color: $main-text-color !important;
                  background: none !important;
                }
              }
              .CommentCommandPaletteContainer{
                background-color: #252525 !important;
                .CommentCommandPaletteNode[data-type=layout],
                .CommentCommandPaletteNode[data-type=size]{
                  background-color: #35393B !important;
                  border: 2px solid #666 !important;
                }
                .CommentCommandPaletteNode svg{
                  fill: whitesmoke !important;
                }
              }
              .EasyCommentContainer{
                background: none !important;
                .EasyCommentContainer-nextButtonBox{
                  background: linear-gradient(90deg,hsla(0,0%,100%,0),rgba(0, 0, 0, 0.94),black) !important;
                  .EasyCommentContainer-nextButton{
                    background: none;
                    svg{
                      fill: $main-text-color;
                    }
                  }
                }
                .EasyCommentContainer-prevButtonBox{
                  background: linear-gradient(270deg,hsla(0,0%,100%,0),rgba(0, 0, 0, 0.94),black) !important;
                  .EasyCommentContainer-prevButton{
                    background: none;
                    svg{
                      fill: $main-text-color;
                    }
                  } 
                }
                .EasyCommentButton{
                  background: $nico-black !important;
                  color: $main-text-color !important;
                  border: none !important;
                }
              }
            }
            .CommentShutter{
              background-color: rgba(0, 0, 0, 0.6) !important;
              color: $main-text-color;
            }
          }
        }
        .MainContainer-playerPanel{
          .VideoMenuContainer{
            .VideoMenuContainer-areaLeft{
              background: $main-background-color;
              .VideoMenuLikeFieldContainer{
                .LikeActionButton{
                  background: $nico-black !important;
                  color: $main-text-color !important;
                  border: 2px solid $border-background-color !important;

                  .LikeIcon.LikeActionButton-icon{
                    use{
                      filter: $invert;
                    }
                  }
                  &.is-liked{
                    .LikeIcon.LikeActionButton-icon{
                      use{
                        filter: none;
                      }
                    }
                  }
                }
              }
              .VideoMenuContainer-button{
                fill: $main-text-color !important;
              }
              .VideoMenuContainer-button:hover:not([disabled]){
                fill: $main-url-color !important;
              }
              .VideoMenuContainer-uadBalloonWrapper{
                .UadButtonBalloon{
                  background: $main-background-color;
                  border: 1px solid $border-background-color;
                  a{
                    color: $main-url-color;
                  }
                }
                .UadButtonBalloon:before{
                  border: none;
                }
                .UadButtonBalloon:after{
                  border-right-color: $border-background-color;
                }
              }
            }
            .VideoMenuContainer-areaRight{
              background: $main-background-color;

              .SharePanelVisibleActionButton{
                svg{
                  fill: $main-text-color;
                }
              }
            }
          }
          .VideoMenuContainer:after{
            border-bottom: none;
          }
          .PlayerPanelContainer{
            background-color:$main-background-color;
            .PlayerPanelContainer-tab{
              .PlayerPanelContainer-tabItem{
                color: $main-text-color;
                border-bottom: 3px solid $border-background-color;
              }
              .PlayerPanelContainer-tabItem.current{
                border-bottom: 3px solid $main-url-color;
              }
            }
            .PlayerPanelContainer-content{
              .VideoListPanelContainer{
                a{
                  color: $main-text-color;
                }
                .NextPlayVideoContainer{
                  border-bottom: 1px solid $border-background-color;
                }
                .NextPlayVideoContainer-note,
                .WatchRecommendation-heading,
                .NextPlayVideoContainer-continuous{
                  color: $main-text-color;
                }
              }
              .CommentPanelContainer{
                background: $main-background-color;
                .CommentPanelMenuContainer-pastCommentMenu{
                  background: $nico-default-bg !important;
                }
                .CommentPanelDataGrid{
                  color: $main-text-color;
                  .CommentPanelDataGrid-HeaderCell{
                    background: $nico-default-bg;
                    border-right: 1px solid $sub-3-text-color;
                  }
                  .DataGrid-Table{
                    .CommentPanelDataGrid-TableCell{
                      border-right: 1px solid $sub-3-text-color;
                    }
                    [data-row-nicoru-rank="1"]{
                      background: rgb(74, 75, 58);
                    }
                    [data-row-nicoru-rank="2"],
                    [data-row-nicoru-rank="3"],
                    [data-row-nicoru-rank="4"],
                    [data-row-nicoru-rank="5"]{
                      color: black;
                    }
                  }
                  .DataGrid-Table :hover{
                    background: $hover-background-color;
                    color: $main-text-color;
                  }
                }
              }
            }
          }
          .OwnerEditPanelContainer{
            //TODO 移植のみ／SCSS書き直し
            .OwnerEditPanel{
              background: $sub2-background-color !important;
            }
            .OwnerEditButton{
              background: $hover-background-color !important;
              border: none !important;
              color: $main-text-color !important;
            }
            .OwnerEditPanelHeader-left span {
              color: $main-text-color !important;
            }
            .CommentPanelDataGrid{
              color: $main-text-color;
              .CommentPanelDataGrid-HeaderCell{
                background: $nico-default-bg;
                border-right: 1px solid $sub-3-text-color;
              }
              .DataGrid-Table{
                .CommentPanelDataGrid-TableCell{
                  border-right: 1px solid $sub-3-text-color;
                }
                [data-row-nicoru-rank="1"]{
                  background: rgb(74, 75, 58);
                }
                [data-row-nicoru-rank="2"],
                [data-row-nicoru-rank="3"],
                [data-row-nicoru-rank="4"],
                [data-row-nicoru-rank="5"]{
                  color: black;
                }
              }
              .DataGrid-Table :hover{
                background: $nico-default-bg;
              }
            }
          }
        }
        .MainContainer-floatingPanel{
          .NGSettingPanelContainer{
            background: $nico-default-bg;
            color: $main-text-color;
            .NGSettingPanelContainer-contentTop{
              .NGSettingPanelContainer-openViewerNGRegisterButton{
                background-color: $sub2-background-color;
              }
              .NGSettingPanelContainer-openViewerNGRegisterButton:hover{
                background-color: $main-url-color;
              }
              .NGSettingPanelContainer-num,
              .NGSettingPanelContainer-enableCheckbox{
                color: $main-url-color;
              }
            }
            .NGSettingPanelContainer-contentMain{
              background: $nico-default-bg;
              .ViewerNGListDataGrid-HeaderCell{
                background: $main-background-color;
                border-right: 1px solid $border-background-color;
              }
              .ViewerNGListDataGrid-TableCell{
                border-right: 1px solid $border-background-color;
              }
            }
            .NGSettingPanelContainer-contentModal{
              .ViewerNGRegister{
                background: $nico-default-bg;
                .ViewerNGRegister-header{
                  border-bottom: 1px solid $border-background-color;
                }
                .RadioItem-label{
                  color: $main-text-color;
                }
              }
            }
          }
          .TwitterPanelContainer{
            background-color: $nico-default-bg;
            .TwitterAccountPanel{
              background-color: $nico-default-bg;
              color: $main-text-color;
            }
            .TwitterCaptureSelector{
              .TwitterCaptureSelector-button{
                color: $sub-1-text-color;
                border: 2px dashed $border-background-color;
              }
              .TwitterCaptureSelector-button:hover{
                color: $main-url-color;
                border: 2px dashed $main-url-color;
              }
            }
          }
          .SharePanelContainer{
            background-color: $nico-default-bg;
            .SharePanelContainer-title{
              color: $sub-1-text-color;
            }
            .SharePanelContainer-socialButtons{
              border-color: $border-background-color;
            }
            .SharePanelContainer-content{
              color: $main-text-color;
              .SharePanelContainer-linkTimeText{
                border: 1px solid $border-background-color;
                background-color: $sub2-background-color;
                color: $main-text-color;
              }
            }
          }
          .AddVideoListPanelContainer{
            .AddVideoListPanel-mylist{
              background: $nico-default-bg;
              .AddVideoListPanel-content{
                color: $main-text-color;
              }
              .AddVideoListPanel-itemGroup:not(:first-child){
                border-color: $border-background-color;
              }
            }
            .AddMylistModal{
              background: $nico-default-bg;
            }
          }
        }
      }
      .BottomContainer{
        background-color: $main-background-color;
        .Card{
          background-color: $sub2-background-color;
          .Card-title,
          .IchibaForWatch_Title_Body{
            color: $main-text-color;
          }
        }
        .BottomMainContainer{
          .ContentTreeContainer{
            a{
              color: $main-text-color;
            }
            .ContentTree-summary{
              .Link{
                background: $hover-background-color;
              }
              .Link:hover{
                background: $main-url-color;
              }
            } 
          }
          .UadVideosContainer{
            a{
              color: $main-text-color;
            }
          }
          .IchibaContainer{
            .IchibaForWatch{
              background: none;
              .IchibaMainItem{
                a{
                  color: $main-text-color;
                }
                .IchibaMainItem_Thumbnail{
                  border: none;
                }
                .IchibaMainItem_Info,
                .IchibaMainItem_Price_Number{
                  color: $sub-1-text-color;
                }
              }
              .IchibaSuggest{
                .IchibaSuggest_Title{
                  color: $main-text-color;
                }
                .IchibaSuggest_List{
                  .IchibaSuggestItem{
                    background: $hover-background-color;
                    border-color: $hover-background-color;
                    .IchibaSuggestItem_Name{
                      color: $main-text-color;
                    }
                    .IchibaSuggestItem_Info,
                    .IchibaSuggestItem_Price_Number{
                      color: $sub-1-text-color;
                    }
                  }
                }
              }
            }
          }
        }
        .LiveTopicsContainer{
          .LiveTopicsContainer{
            a{
              color: $main-url-color;
            }
            .LiveTopicsItem-community{
              color: $sub-1-text-color;
            }
          }
        }
        .BottomSideContainer{
          .WatchRelatedContentsContainer{
            a{
              color: $main-text-color;
            }
            a:visited{
              color: $sub-1-text-color;
            }
            a:hover{
              color: $main-url-color;
            }
          }
          .TagRelatedBannerContainer{
            .TagRelatedBanner-title a{
              color: $main-url-color;
            }
            .TagRelatedBanner-description a{
              color: $main-url-color;
            }
          }
        }
      }
    }
    .ContextMenu{
      .CommentPanelContextMenuContainer{
        border: 1px solid $border-background-color;
        background: $nico-default-bg;
      }
      .CommentPanelContextMenuContainer-menuItem:hover{
        background: $border-background-color;
      }
    }
  }

  #ichibaDisplayContent{
    //TODO 移植のみ完了／SCSSへ書き直し作業
    a{
      color: $main-text-color;
    }
    .IchibaModal_Container,
    .IchibaModal_Body,
    .IchibaAdded,
    .IchibaTagSearch,
    .IchibaAdded_Header{
      background-color: $nico-default-bg !important;
    }
    .IchibaModal_Title_Body,
    .IchibaSuggest_Title,
    .IchibaTagSearch_Title,
    .IchibaAdded_Title,
    .IchibaAdded_Description{
      color: $main-text-color !important;
    }
    .IchibaModal_Body{
      border-top: 1px solid $border-background-color !important;
    }
    .IchibaSearchForm_Category,
    .IchibaSearchForm_Keyword_Input,
    .IchibaSuggest_Sort{
      background-color: $nico-default-bg !important;
      color: $main-text-color !important;
      border: 1px solid $border-background-color !important;
    }
    .noItem,
    .loading{
      color: $sub-2-text-color !important;
    }
    .IchibaTagSearch_Item a{
      background-color: $main-background-color !important;
      border: 0.5px solid $sub-2-text-color !important;
    }
  }

  #content.editting.owner.easy_mode{
    //ニコスクリプト簡易設定
    //TODO 移植のみ／SCSS書き直し
    #videoHeader{
      #videoHeaderDetail{
        .videoDetailExpand{
          .owner,.owner_easy,.comment,.mymemory{
            color: $main-text-color;
          }
          h1{
            a.watch{
              color: $main-url-color !important;
            }
          }
        }
      }
    }
    #nicos_color,
    #nicos_jump,
    .editOwnerEasySubmit p .submit,
    .menuInner .submit{
      background: $sub2-background-color !important;
      color: $main-text-color !important;
      border: 1px solid $border-background-color !important;
    }
  }

  //ユーザーフォロー時WebPushダイアログ
  .Dialog.HeaderContainer-webPushPRDialog{
    background-color: $nico-black;
    box-shadow: 0 2px 8px rgba(255,255,255,.4);
    .ActionButton.HeaderContainer-webPushPRDialogCloseButton,a{
      color: $main-url-color;
    }
  }
  //一般会員時プレミアム導線
  .Dialog.PremiumRequirer-dialog{
    background: $nico-black;
    .PremiumRequirer-dialogMessage:last-of-type{
      border-color: $border-background-color;
    }
  }

  //削除動画
  .BaseLayout-header{
    .HeaderContainer {
      .NicovideoLogo.LogoContainer-nicovideoLogo{
        filter: $invert;
      }
    }
  }
  .BaseLayout-main{
    .WatchExceptionPage{
      .ErrorMessage.WatchExceptionPage-message{ //エラー文
        border-color: $nico-black;
        background-color: $nico-black;
        color: $main-text-color;
      }
      .RecommendVideosContainer{ //おすすめ動画
        .RecommendVideosContainer-items{
          .RecommendVideosContainer-item{
            .Card.VideoCard{
              .Card-main{
                .Card-mainHeader{
                  .Link.Card-mainHeaderTitle{
                    .CardTitle{
                      color: $main-text-color;
                    }
                  }
                  .Link.Card-mainHeaderTitle:visited{
                    .CardTitle{
                      color: $sub-2-text-color;
                    }
                  }
                  .Link.Card-mainHeaderTitle:hover{
                    .CardTitle{
                      color: $main-url-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .BaseLayout-footer{
    .Ads728x90WebPcFooter{
      background: none;
    }
  }
}