/*logo*/
.HeaderContainer-logo .LogoContainer .NicovideoLogo{
  filter: invert();
}

/*miniserch „Åè*/
.SearchBox-option{
  background-color: #35393B !important;
}
.SearchBox-form{
  background-color: #35393B !important;
  box-shadow: none !important;
}
.SearchBox-query{
  color: whitesmoke !important;
}

/*genre*/
.RankingGenreListContainer,.VideoTopGenreListContainer{
  background-color:#1A1B1C !important;
}
.RankingGenreListContainer-item,.VideoTopGenreListContainer-item{
  background-color: #35393B !important;
  border: none !important;
}
.is-current{
  border: 1px solid #767676 !important;
}

/*tag*/
.TagItem-link,.RankingFilterTag,.TrendyTagContainer-link{
  background: #35393B !important;
  border: none !important;
}
.RankingFilterTag_active{
  background: #007cff !important;
}

/*serchbox suggest*/
.suggestBox{
  background-color: #1A1B1C !important; 
}
.suggestBoxInner{
  border: 1px solid #333333;
  background-color: #1A1B1C !important;
}