.header{
  background-color:#1A1B1C !important;
}
.logo a svg{
  fill :white !important;
}
#nicodou{
  filter: invert();
}


/*serch*/
#search_tab a.head_ssw_0{
  background-color: #1A1B1C !important;
}
#search_input{
  background: #35393B !important;
  border: #35393B solid 1px !important;
}
#bar_search{
  background-color: #35393B !important;
  color: whitesmoke !important;
}