
.___heading___2-lmr,.___feature-program-section-title___9mrGb,.___heading___7qIor{
  color: white !important;
}

.___contents-card___l30EK{
  background-color: #35393B !important;
  border: none !important;
}

.___contents-title___1esdp{
  color: white !important;
}
.___description___30cxJ{
  color: #999 !important;
}