#logo_zero a{
  filter: invert();
}
.head_yesterday, .head_tomorrow{
  filter: invert();
}
#header_date p, .date, .days{
  color: white !important;
}
#header_date h1{
  border-bottom: 1px solid #767676 !important;
}

#navigation{
  background: none !important;
}
#navigation span{
  background: #252525 !important;
}
#navigation span:hover{
  background: #555555 !important;
}
#navigation span a{
  background: none !important;
}
.navi_lastweek ::before{
  content: "◀◀  ";
  transform: scale(0.3, 1);
}
.navi_yesterday ::before{
  content: "◀  ";
  transform: scale(0.3, 1);
}
.navi_tomorrow ::after{
  content: "  ▶";
  transform: scale(0.3, 1);
}
.navi_nextweek ::after{
  content: "  ▶▶";
  transform: scale(0.3, 1) !important;
}
#today_calendar_open{
  filter: invert();
}
#today_calendar_close{
  filter: invert();
}
.calendar_table{
  background-color: #35393B !important;
}
th.calendar_1,th.calendar_2,th.calendar_3,th.calendar_4,th.calendar_5{
  color: white !important;
}
.calendar_table th{
  border-bottom: 1px solid #767676 !important;
}
.calendar_table td:hover{
  background: #767676 !important;
}
.calendar_table td a:hover{
  color: white !important;
  text-decoration: underline !important;
}
#today_contents{
  border: none !important;
  background: #1A1B1C !important;
}
#today_contents h2{
  color: white !important;
  border-bottom: 1px solid #767676 !important;
}

#today_contents a:hover{
  text-decoration: underline !important;
}

#today_program{
  background: #1A1B1C !important;
}
.clearfix dt span, .clearfix dt{
  color: whitesmoke !important;
}
#today_program dl{
  border-bottom: 1px dashed #767676 !important;
}

.toPageTopWrap{
  background: #35393B !important;
}
.toPageTopWrap .inner a:hover, .toPageTopWrap .inner a:active{
  background: #35393B !important;
  border: none !important;
  color: whitesmoke !important;
}

#footerWrap{
  background: #1A1B1C !important;
}
#footerWrap #footerNav .outer h3{
  border-bottom: #767676 solid 1px !important;
  color: white !important;
}
#footerWrap #footerNav ul li{
  background: none !important;
}
.figureWrap span,.figureWrap small{
  color: whitesmoke !important;
}