body{
  background-color: #1A1B1C !important;
}
.feedbackBody{
  color: white !important;
}
.feedbackBody textarea{
  background: #555 !important;
  color: white !important;
}
.FeedbackPage .confirmationDetails{
  background: #555 !important;
}