.RssListPage-caption{
  background: none !important;
}
.RssListPage-caption h2{
  color: white !important;
}
.RssListPage-message,.RssListPage-itemUpdateAt{
  color: whitesmoke !important;
}
.NiconicoLogo{
  filter: invert();
}
.FooterContainer-column{
  border-top: 2px solid white !important;
}