.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector {
  border-color: #333333;
  background: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form {
  background: #333333;
  -webkit-box-shadow: inset 0 0 0 1px #333333;
          box-shadow: inset 0 0 0 1px #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li {
  color: inherit;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-option {
  background-color: #252525 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-form {
  background-color: #252525 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-query {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner li:hover {
  background-color: #555555 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox {
  border: none;
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagEditForm-input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionInput-input {
  background-color: #252525;
  color: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-favoriteTag,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenu {
  background-color: #252525;
  color: #F5F5F5;
  border-top: 1px dotted #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item.is-active,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item:hover,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenuItem:hover {
  background-color: #333333;
}

.niconico-darkmode-setting-true #head_search #search_tab a.head_ssw_0 {
  background-color: #252525;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #head_search #search_input {
  background: #252525;
  border: #555555 solid 1px;
}

.niconico-darkmode-setting-true #head_search #search_input #bar_search {
  background-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
  border-color: #555555;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .active {
  background-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput {
  border-color: #555555;
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form {
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText input {
  background: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .clear-button-tag .clear-button-inner-tag {
  color: #F5F5F5;
  background: #999999;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active {
  background: #555555 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true textarea {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true input[type=text],
.niconico-darkmode-setting-true input[type=date], .niconico-darkmode-setting-true input[type=time],
.niconico-darkmode-setting-true .AddingMylistModal-nameInput,
.niconico-darkmode-setting-true .AddingMylistModal-descriptionInput,
.niconico-darkmode-setting-true .ichiba_search_form_query {
  background: #333333;
  color: #F5F5F5;
  border-color: #555555;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .FooterContainer a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .FooterContainer a:hover {
  color: #0080FF !important;
}

.niconico-darkmode-setting-true .FooterContainer .FooterContainer-column {
  border-top: 2px solid #F5F5F5;
}

.niconico-darkmode-setting-true .FooterContainer .FooterContainer-feedback {
  background-color: #333333;
  border: 1px solid #333333;
}

.toPageTopWrap {
  background: #333333 !important;
}

.toPageTopWrap .inner a:hover, .toPageTopWrap .inner a:active {
  background: #333333 !important;
  border: none !important;
  color: #F5F5F5 !important;
}

#footerWrap {
  background: #1A1B1C !important;
}

#footerWrap a {
  color: #F5F5F5 !important;
}

#footerWrap a:hover {
  color: #0080FF !important;
}

#footerWrap #footerNav .outer h3 {
  border-bottom: #555555 solid 1px !important;
  color: #F5F5F5 !important;
}

#footerWrap #footerNav ul li {
  background: none !important;
}

#footerWrap .figureWrap span, #footerWrap .figureWrap small {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .TopPage-stageArea .AuroraVisionCard {
  background-color: #252525;
}

.niconico-darkmode-setting-true .TopPage-stageArea .AuroraVisionCard .AuroraVisionCard-meta .AuroraVisionCard-metaCatch {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage-stageArea .AuroraVisionCard .AuroraVisionCard-uploader {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage-stageArea .AuroraVisionCard .AuroraVisionCard-uploader[data-is-hover="true"] {
  color: #0080FF;
}

.niconico-darkmode-setting-true .TopPage-stageArea .AuroraVisionCard[data-is-hover="true"] .AuroraVisionCard-meta .AuroraVisionCard-metaCatch {
  color: #0080FF;
}

.niconico-darkmode-setting-true .TopPage-stageArea .ContentsPickupContainer .ContentsPickupCard {
  background-color: #252525;
}

.niconico-darkmode-setting-true .TopPage-stageArea .ContentsPickupContainer .ContentsPickupCard .ContentsPickupCard-content {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage-stageArea .ContentsPickupContainer .ContentsPickupCard .ContentsPickupCard-content .ContentsPickupCard-metaPickupComment {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .TopPage-stageArea .ContentsPickupContainer .ContentsPickupCard .ContentsPickupCard-content:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .TopPage-stageArea .ContentsPickupContainer .ContentsPickupCard .ContentsPickupCard-footerUploader {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage-stageArea .ContentsPickupContainer .ContentsPickupCard .ContentsPickupCard-footerUploader:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true {
  background-color: #1A1B1C !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-main {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .TopPage-header .NiconicoLogo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .TopPage-header .HeaderContainer_Re-mainLower .OneLineLinkContainer-link {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .TopPage-header .HeaderContainer_Re-mainLower .OneLineLinkContainer-link:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .PersonalFrameContainer {
  background: #1A1B1C;
  border: none;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .PersonalFrameContainer .PersonalFrameContainer-body {
  background: #252525;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .PersonalFrameContainer .PersonalFrameContainer-body .PersonalFrameContainer-link {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .PersonalFrameContainer .PersonalFrameContainer-body .PersonalFrameContainer-link:hover {
  color: #30A6CA;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .PersonalFrameContainer .PersonalFrameContainer-body .PersonalFrameContainer-close svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .PersonalFrameContainer .PersonalFrameContainer-body .PersonalFrameContainer-close:hover svg {
  fill: #30A6CA;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .TopPage-stageArea {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .TopPage-stageArea section {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .TopPage-stageArea section .AuroraVisionCard-metaContentTitle {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .TopPage-stageArea .LEDMessageBoard::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A1B1C), to(transparent)), -webkit-gradient(linear, left bottom, left top, from(#1A1B1C), to(transparent));
  background-image: linear-gradient(#1A1B1C, transparent), linear-gradient(0deg, #1A1B1C, transparent);
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .LiveWindowContainer {
  border: none;
  background: #333333;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .LiveWindowContainer .LiveWindowContainer-meta .LiveWindowContainer-metaLink .LiveWindowContainer-metaTitle {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .LiveWindowContainer .LiveWindowContainer-meta .LiveWindowContainer-metaLink .LiveWindowContainer-metaDescription {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-wideSection .LiveWindowContainer .LiveWindowContainer-meta .LiveWindowContainer-metaLink:hover .LiveWindowContainer-metaTitle {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer .FrameTitleLink .FrameTitleLink-titleText {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer .FrameTitleLink:hover .FrameTitleLink-titleText {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer .ContentsDigestFrame-description {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer .SeeMoreLink .SeeMoreLink-text {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer .SeeMoreLink .SeeMoreLink-text svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer .SeeMoreLink:hover .SeeMoreLink-text {
  background-color: #0080FF;
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer .ContentsDigestFrame-body .ContentsDigestFrame-card .ContentsDigestFrame-cardMetaTitle {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer .ContentsDigestFrame-body .ContentsDigestFrame-card:hover .ContentsDigestFrame-cardMetaTitle {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ThemeContainer > .ContentsDigestFrame + .ContentsDigestFrame:before {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoAdContainer .NicoAdContainer-header .FrameTitleLink .FrameTitleLink-titleText {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoAdContainer .NicoAdContainer-header .FrameTitleLink:hover .FrameTitleLink-titleText {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoAdContainer .NicoAdContainer-header .SeeMoreLink .SeeMoreLink-text {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoAdContainer .NicoAdContainer-header .SeeMoreLink .SeeMoreLink-text svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoAdContainer .NicoAdContainer-header .SeeMoreLink:hover .SeeMoreLink-text {
  background-color: #0080FF;
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-header .FrameTitleLink .FrameTitleLink-titleText {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-header .FrameTitleLink:hover .FrameTitleLink-titleText {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-header .SeeMoreLink .SeeMoreLink-text {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-header .SeeMoreLink .SeeMoreLink-text svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-header .SeeMoreLink:hover .SeeMoreLink-text {
  background-color: #0080FF;
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-main #NicoNewsContainer-tabs .Tabs-tab {
  background-color: #272727;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-main #NicoNewsContainer-tabs .Tabs-tab:hover {
  color: #ff8000;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-main #NicoNewsContainer-tabs .Tabs-tab.is-active {
  background-color: #ff8000;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-main .NicoNewsContainer-articles .NicoNewsContainer-textNews li + li {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-main .NicoNewsContainer-articles .NicoNewsContainer-photoNews {
  background: #333333;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-main .NicoNewsContainer-articles a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-main .NicoNewsContainer-articles a:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .NicoNewsContainer .NicoNewsContainer-main .NicoNewsContainer-articles .NicoNewsContainer-commentCount {
  background-color: #333333;
  border-color: #333333;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ContentsInformationAreaContainer .ContentsDigestFrame-header .FrameTitleLink .FrameTitleLink-titleText {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ContentsInformationAreaContainer .ContentsDigestFrame-header .FrameTitleLink:hover .FrameTitleLink-titleText {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ContentsInformationAreaContainer .ContentsDigestFrame-header .SeeMoreLink .SeeMoreLink-text {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ContentsInformationAreaContainer .ContentsDigestFrame-header .SeeMoreLink .SeeMoreLink-text svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ContentsInformationAreaContainer .ContentsDigestFrame-header .SeeMoreLink:hover .SeeMoreLink-text {
  background-color: #0080FF;
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ContentsInformationAreaContainer .ContentsDigestFrame-body .ContentsDigestFrame-card .ContentsDigestFrame-cardMetaTitle {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ContentsInformationAreaContainer .ContentsDigestFrame-body .ContentsDigestFrame-card:hover .ContentsDigestFrame-cardMetaTitle {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .ContentsInformationAreaContainer > * + :before {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .RealEventInformationAreaContainer section {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .RealEventInformationAreaContainer section h1 {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .RealEventInformationAreaContainer section .RealEventInformationAreaContainer-contents .TicketNoticeContainer-title {
  color: inherit;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .RealEventInformationAreaContainer section .RealEventInformationAreaContainer-contents .TicketNoticeContainer-title .TicketNoticeContainer-titleLink {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .RealEventInformationAreaContainer section .RealEventInformationAreaContainer-contents .TicketNoticeContainer-title .TicketNoticeContainer-titleLink:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-section .RealEventInformationAreaContainer section .RealEventInformationAreaContainer-contents .TicketNoticeContainer-title + :before {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-middleBillboardAdSection {
  border: none;
  background: #333333;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer {
  border: none;
  background: #333333;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-upper .NicoNoticeContainer .TextListFrame-header .FrameTitleLink .FrameTitleLink-titleText {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-upper .NicoNoticeContainer .TextListFrame-header .FrameTitleLink:hover .FrameTitleLink-titleText {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-upper .NicoNoticeContainer .TextListFrame-header .SeeMoreLink .SeeMoreLink-text {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-upper .NicoNoticeContainer .TextListFrame-header .SeeMoreLink .SeeMoreLink-text svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-upper .NicoNoticeContainer .TextListFrame-header .SeeMoreLink:hover .SeeMoreLink-text {
  background-color: #0080FF;
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-upper .NicoNoticeContainer .TextListFrame-contents .TextListFrame-item a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-upper .NicoNoticeContainer .TextListFrame-contents .TextListFrame-item a:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-upper .NicoNoticeContainer .TextListFrame-contents .TextListFrame-item + :before {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .FooterAreaContainer-contents:before {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .TextListFrame .TextListFrame-header .FrameTitleLink .FrameTitleLink-titleText {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .TextListFrame .TextListFrame-header .FrameTitleLink:hover .FrameTitleLink-titleText {
  color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .TextListFrame .TextListFrame-header .SeeMoreLink .SeeMoreLink-text {
  background-color: #333333;
  color: #F5F5F5;
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .TextListFrame .TextListFrame-header .SeeMoreLink .SeeMoreLink-text svg {
  fill: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .TextListFrame .TextListFrame-header .SeeMoreLink:hover .SeeMoreLink-text {
  background-color: #0080FF;
  border-color: #0080FF;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .TextListFrame .TextListFrame-contents .TextListFrame-item + :before {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .TextListFrame .TextListFrame-contents .TextListFrame-item a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .BaseLayout-main .TopPage .TopPage-footer .FooterAreaContainer .FooterAreaContainer-lower .TextListFrame .TextListFrame-contents .TextListFrame-item a:hover {
  color: #0080FF;
}
