@import '../../parts/_default';
@import '../../parts/_serchbox';
@import '../../parts/_textarea';

.niconico-darkmode-setting-true{

  [class*="___page-header-area___"]{ //生放送ヘッダー
    [class*="___site-header___"]{
      [class*="___program-navigation___"]{
        [class*="___search-form___"]{ //検索box
          ul[class*="___suggest___"]{
            background: none;
            li{
              background-color: $nico-black;
              color: $main-text-color;
            }
            li:hover{
              background-color: $hover-background-color;
            }
          }
          [class*="___search-button___"]{
            background: $sub2-background-color;
          }
          [class*="___search-button___"]:hover{
            svg>path{
              fill: #c5c5c5;
            }
          }
        }
        [class*="___popup-control___"]{ //フォロー中番組
          [class*="___menu-panel___"]{
            background-color: $nico-black;
            [class*="___program-list-section___"]{
              [class*="___program-card___"]{
                [class*="___program-summary-area___"]{
                  [class*="___program-provider-name___"]{
                    color: $sub-1-text-color;
                  }
                  [class*="___program-title___"]{
                    color: $main-text-color;
                  }
                  [class*="___duration___"]{
                    color: $sub-1-text-color;
                  }
                }
              }
              [class*="___program-card___"]:hover{
                background-color: $hover-background-color;
              }
            }
            [class*="___main-message___"]{
              color: $main-text-color;
            }
            [class*="___description-message___"]{
              color: $sub-1-text-color;
            }
          }
        }
      }
      [class*="___program-navigation___"], //watchページ
        [class*="___search-form___"]{ //検索box
          [class*="___text-box___"]{
            background-color: $sub2-background-color;
          }
        }
        [class*="___search-form___"]:hover{ //検索box
          [class*="___text-box___"]{
            background-color: $sub2-background-color;
          }
      }
    }
  }

  #live_header{ //生放送旧ヘッダー
    #live_header_operation{
      .score_search{ //検索
        #header_search_form_input{
          background: $sub2-background-color;
          color: $main-text-color;
        }
        .suggestion_list_for_live{
          ul{
            background: none;
            li{
              background: $nico-black;
              color: $main-text-color;
            }
            li:hover{
              background: $hover-background-color;
            }
          }
        }
        #header_search_form_submit_button{
          background: $sub2-background-color;
          svg path{
            fill: $main-text-color;
          }
        }
      }
      #FollowedProgramNotificationReader{ //フォロー中番組
        [class*="___popup-control___"]{ //フォロー中番組
          [class*="___menu-panel___"]{
            background-color: $nico-black;
            [class*="___program-list-section___"]{
              [class*="___program-card___"]{
                [class*="___program-summary-area___"]{
                  [class*="___program-provider-name___"]{
                    color: $sub-1-text-color;
                  }
                  [class*="___program-title___"]{
                    color: $main-text-color;
                  }
                  [class*="___duration___"]{
                    color: $sub-1-text-color;
                  }
                }
              }
              [class*="___program-card___"]:hover{
                background-color: $hover-background-color;
              }
            }
            [class*="___main-message___"]{
              color: $main-text-color;
            }
            [class*="___description-message___"]{
              color: $sub-1-text-color;
            }
          }
        }
      }
    }
  }

  [class*="___billboard-ad___"],
  [class*="___billboard-banner___"],
  .billboard-ad-section{ //広告
    background-color: $nico-black;
    #billboard-ad-close{
      a{
        color: $sub-2-text-color;
      }
    }
  }

  [class*="___footer-area___"]{ //footer
    [class*="___footer-ad___"]{
      background-color: $main-background-color;
    }
    [class*="___site-footer-utility___"]{
      [class*="___page-top-anchor___"]{
        background-color: $livetop-content-bg2;
        color: $sub-2-text-color;
      }
      [class*="___page-top-anchor___"]:hover{
        color: $sub-1-text-color;
      }
    }
  }

  #footer_ads{ //旧footer
    background: none;
  }
  #utility_link{
    background-color: $livetop-content-bg2;
    .page_top a{
      color: $sub-2-text-color;
    }
  }

  [class*="___dialog___"]{ //モーダル
    [class*="___body___"]{
      background-color: $main-background-color;
      color: $main-text-color;

      [class*="___program-information___"]{ //TS予約時:枠タイトル
        background-color: $nico-black;
      }
      [class*="___control-area___"]{
        [class*="___list-view-button___"]{ //TSリスト確認ボタン
          background-color: $main-url-color;
          color: $main-text-color;
        }
      }

      [class*="___elapsed-time-area___"]{ //share 番組開始位置指定
        [class*="___label___"]{
          color: $main-text-color;
        }
      }
    }
  }
}