/*card*/
.___program-card___153V-{
  background-color: #35393B !important;
  color: whitesmoke !important;
}
.___program-summary___2OeNm,.___program-provider-summary___1_6wx span,.___duration___1lnMc, .___start-at___2BR8z,.___content___37SIR{
  color: whitesmoke !important;
}
.___menu-area___1IXVd{
  box-shadow: none !important;
  border-bottom: 1px solid #737373 !important;
}
.___toggle-button___37swU{
  background-color: #35393B !important;
}
.___symbol-mark___2mqre>path{
  fill: white !important;
}
.___program-menu___2pMrC,.___timeshift-reservation-button___1LQha{
  background-color: #737373 !important;
  color: whitesmoke !important;
}

.___name-label___11IKl{
  color: whitesmoke !important;
}

.___program-provider-type-label___2UroC[data-provider-type=official]{
  color: white !important;
  background: #0080ff !important;
}
.___program-provider-type-label___2UroC[data-provider-type=channel],.___pay-program-label___3tfpJ{
  color: white !important;
  background: #d9a300 !important;
}
.___limited-program-label___2nlpP{
  color: white !important;
  background: #252525 !important;
}
.___program-summary___2OeNm:hover{
  color: #0080ff !important;
}


/*prev next*/
.___page-selector___1tIWc{
  background-color: #737373 !important;
}
.___page-selector___1tIWc[data-name=prev]:before{
  border-color: transparent whitesmoke transparent transparent !important;
}
.___page-selector___1tIWc[data-name=next]:before{
  border-color: transparent transparent transparent whitesmoke !important;
}

/*konomi-tag*/
.___name-anchor___2m1rG{
  background-color: #252525;
  color: #F5F5F5 !important;
}