.niconico-darkmode-setting-true {
  /*serch*/
  /*footer*/
  /*serchbox suggest*/
}

.niconico-darkmode-setting-true .header {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true .logo a svg path {
  fill: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #nicodou a img {
  -webkit-filter: invert(100%) !important;
          filter: invert(100%) !important;
}

.niconico-darkmode-setting-true #search_tab a.head_ssw_0 {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true #search_input {
  background: #252525 !important;
  border: #252525 solid 1px !important;
}

.niconico-darkmode-setting-true #bar_search {
  background-color: #252525 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #footerWrap {
  background: #1A1B1C !important;
  border-top: none !important;
}

.niconico-darkmode-setting-true #footerWrap #footerNav .outer h3 {
  border-bottom: #555555 solid 1px !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #footerWrap #footerNav ul li {
  background: none !important;
}

.niconico-darkmode-setting-true .figureWrap span, .niconico-darkmode-setting-true .figureWrap small {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .toPageTopWrap {
  background: #252525 !important;
}

.niconico-darkmode-setting-true .toPageTopBtn:hover {
  background: none !important;
}

.niconico-darkmode-setting-true .suggestBox {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector {
  border-color: #333333;
  background: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService.active,
.niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-rowSelector .CrossSearch_Re-rowService:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form {
  background: #333333;
  -webkit-box-shadow: inset 0 0 0 1px #333333;
          box-shadow: inset 0 0 0 1px #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner {
  border-color: #555555;
  background-color: #333333;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li {
  color: inherit;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li a:hover {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li:hover a, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner ul li.active a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .TopPage .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem, .niconico-darkmode-setting-true .UserPageHeader .SearchContainer .CrossSearch_Re .CrossSearch_Re-form .suggestBox .suggestBoxInner .favTagItem.active + .suggestItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-option {
  background-color: #252525 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-form {
  background-color: #252525 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .SearchBox-query {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox {
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #1A1B1C !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .BaseLayout-header .HeaderContainer-searchBox .suggestBox .suggestBoxInner li:hover {
  background-color: #555555 !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox {
  border: none;
  background: #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagEditForm-input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionInput-input {
  background-color: #252525;
  color: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-favoriteTag,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenu {
  background-color: #252525;
  color: #F5F5F5;
  border-top: 1px dotted #252525;
}

.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item.is-active,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .TagSuggestionList-item:hover,
.niconico-darkmode-setting-true .WatchAppContainer .HeaderContainer-searchBox .SearchBox .SearchBox-optionMenuItem:hover {
  background-color: #333333;
}

.niconico-darkmode-setting-true #head_search #search_tab a.head_ssw_0 {
  background-color: #252525;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #head_search #search_input {
  background: #252525;
  border: #555555 solid 1px;
}

.niconico-darkmode-setting-true #head_search #search_input #bar_search {
  background-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
  border-color: #555555;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true #head_search #search_input .suggestBox .suggestBoxInner li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .tab a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchOption .active {
  background-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput {
  border-color: #555555;
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form {
  background: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText input {
  background: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .clear-button-tag .clear-button-inner-tag {
  color: #F5F5F5;
  background: #999999;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox {
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner {
  border: 1px solid #555555;
  background-color: #252525;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagEditBox p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem {
  border-color: #555555;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .header .siteHeader .videoSearch .videoSearchInput form .inputText .suggestBox .suggestBoxInner .favTagItem li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active {
  background: #555555 !important;
}

.niconico-darkmode-setting-true .suggestBox .suggestItem li.active a {
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .contents .pager a, .niconico-darkmode-setting-true .contents .pager span {
  border: none !important;
  background-color: #333333 !important;
}

.niconico-darkmode-setting-true .contents .pager .active {
  border: none !important;
  background-color: #0080FF !important;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem {
  border-color: #333333;
  background: #333333;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .Pagination .PaginationItem_selected {
  color: #F5F5F5 !important;
  border-color: #0080FF;
  background: #0080FF;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager span.here {
  background: #0080FF;
  border: 5px solid #0080FF;
  border-radius: 2.5px;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager a {
  background: #555555;
  border: 5px solid #555555;
  border-radius: 2.5px;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY .content_672 table.pager a:hover {
  background: #999999;
  border-color: #999999;
}

.niconico-darkmode-setting-true {
  background-color: #1A1B1C;
}

.niconico-darkmode-setting-true .tagCaption {
  background: none;
  border: none;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch .seachFormA .tab1 {
  color: #F5F5F5;
  background: #252525;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch .seachFormA .tab1 .dataValue {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch .seachFormA .tab1:after {
  border-top: 0px;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch .seachFormA .tab1:hover {
  background: #555555;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .searchFormB {
  border-color: #555555;
  background: none;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .searchFormB .bInput #search_united {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #F5F5F5;
  background: #252525;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .searchFormB .bInput .clear-button-search .clear-button-inner-search {
  background: #333333;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .searchFormB .bInput .suggestBox {
  border-color: #555555;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .searchFormB .bInput .suggestBox .suggestBoxInner li {
  color: inherit;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .searchFormB .bInput .suggestBox .suggestBoxInner li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .searchFormB .bInput .suggestBox .suggestBoxInner li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .searchFormB .bInput .suggestBox .suggestBoxInner li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .message p, .niconico-darkmode-setting-true .tagCaption .inner .formSearch #search_united_form .message p span {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .tagCaption .inner .tagListBox {
  background: #252525;
}

.niconico-darkmode-setting-true .tagCaption .inner .tagListBox .contentHeader .title {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .tagCaption .inner .tagListBox .contentHeader .edit a {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .tagCaption .inner .tagListBox .contentHeader .edit a:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true .tagCaption .inner .tagListBox .tags .tag {
  background-color: #555555;
  border-color: #555555;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .tagCaption .inner .tagListBox .tags .tag:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .tagCaption .inner .tagListBox .tags .tag:hover {
  text-decoration: underline;
}

.niconico-darkmode-setting-true .tagCaption .inner .contentHeader h1 span {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .tagCaption .inner .contentBody .contentsData .dataValue {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .tagCaption .inner .contentBody .contentsData .tagFollowArea a {
  background-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .tagCaption .inner .contentBody .contentsData .button-tagrepo {
  background-color: #ff6f6f;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .tagCaption .inner .contentBody .contentsData .tagFollowArea a:hover, .niconico-darkmode-setting-true .tagCaption .inner .contentBody .contentsData .button-tagrepo:hover {
  text-decoration: underline;
}

.niconico-darkmode-setting-true .tagCaption .inner .contentBody .itemDescription p {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .tagCaption .inner .contentBody .itemDescription a {
  color: #0080FF;
  text-decoration: none;
}

.niconico-darkmode-setting-true .tagCaption .inner .contentBody .itemDescription a:hover {
  text-decoration: underline;
}

.niconico-darkmode-setting-true .billboard_ad {
  background: #1A1B1C !important;
  border-bottom: none !important;
}

.niconico-darkmode-setting-true .container .column.main {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .container .column.main p {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .toolbar .switchingBtn {
  color: #F5F5F5;
  background-color: #252525;
  border-color: #252525;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .toolbar .switchingBtn:hover {
  background-color: #555555;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .toolbar .columnChange .columnChangeList li {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .toolbar .pager .active {
  background-color: #0080FF;
  font-weight: bold;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .searchOption {
  border-color: #555555;
  background-color: #252525;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .searchOption .unavailable .optionList .title {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .searchOption .unavailable .optionList li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .searchOption .unavailable .optionList li a:hover {
  text-decoration: underline;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .searchOption .unavailable .optionList li.active .search-option-sort-item-label {
  background-color: #0080FF;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .searchOption .unavailable .optionList .more {
  color: #0080FF;
}

.niconico-darkmode-setting-true .container .column.main .contentsBox .searchOption .search-option-links p, .niconico-darkmode-setting-true .container .column.main .contentsBox .searchOption .search-option-links p a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .container .column.main .contentBody .videoListSkeleton .item .itemTime,
.niconico-darkmode-setting-true .container .column.main .contentBody .videoListSkeleton .item .uadWrap .thumb,
.niconico-darkmode-setting-true .container .column.main .contentBody .videoListSkeleton .item .itemContent .itemTitle {
  background: #252525;
}

.niconico-darkmode-setting-true .container .column.main .contentBody ul[data-video-list] .item .itemTime {
  color: #999999;
}

.niconico-darkmode-setting-true .container .column.main .contentBody ul[data-video-list] .item .itemContent .itemTitle a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .container .column.main .contentBody ul[data-video-list] .item .itemContent .itemTitle a:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.main .contentBody ul[data-video-list] .item .itemContent .wrap p.itemDescription {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.main .contentBody ul[data-video-list] .item .itemContent .wrap p.itemComment {
  background-color: #252525;
  border-color: #252525;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.main .contentBody ul[data-video-list] .item .itemData .count .value, .niconico-darkmode-setting-true .container .column.main .contentBody ul[data-video-list] .item .itemData .count .value a {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.sub {
  background: none;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentHeader {
  background: #252525;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentHeader .title {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentHeader .time {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentBody .exTxt, .niconico-darkmode-setting-true .container .column.sub .list .contentBody .supplement {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentBody .item .itemTitle a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentBody .item .itemTitle a:hover {
  text-decoration: underline;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentBody .item .itemDescription {
  color: #999999;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentBody .buttonWrap .button.default {
  background: #252525;
  border-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentBody .buttonWrap .button.default:hover {
  background: #555555;
  border-color: #555555;
}

.niconico-darkmode-setting-true .container .column.sub .list .contentBody #related_community_list .item .itemContent .itemData p {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item {
  border: none;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item .tagWrap .itemTitle {
  border-color: #252525;
  background-color: #252525;
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item .tagWrap .itemTitle .tagName {
  border: none;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item .discriptionBox {
  background: #252525;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item .discriptionBox .itemDescription a {
  color: #0080FF;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item .discriptionBox .videoComment {
  background-color: #555555;
  border-color: #555555;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item .discriptionBox .videoRcolumn .itemTitle a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item:hover {
  background: none;
}

.niconico-darkmode-setting-true .container .column.sub .list.trendtag .item:hover .itemTitle {
  background: #555555;
  color: #0080FF;
}

.niconico-darkmode-setting-true .leadBanner {
  background: none;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_a {
  background: none;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_a table a {
  background: none;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_a table .tab_0 {
  color: #F5F5F5;
  background-color: #252525;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_a table .tab_0:hover {
  background-color: #555555;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_a table .tab_1 {
  background-color: #555555;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b {
  background: none;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b #b_input #search_united {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #F5F5F5;
  background: #252525;
  border-color: #555555;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b #b_input .clear-button .clear-button-inner {
  background: #333333;
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b #b_input .suggestBox {
  border-color: #555555;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b #b_input .suggestBox .suggestBoxInner li {
  color: inherit;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b #b_input .suggestBox .suggestBoxInner li a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b #b_input .suggestBox .suggestBoxInner li.active {
  background-color: #555555 !important;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b #b_input .suggestBox .suggestBoxInner li.active a {
  background: none !important;
  color: #F5F5F5 !important;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY #form_search #search_frm_b #b_message td {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY p.font12 {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY p.font12 a {
  color: #0080FF;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY div.content_672 p.font12 a {
  color: #F5F5F5;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY div.content_672 p.font12 a:visited {
  color: #c4c4c4;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY div.content_672 p.font12 a:hover {
  color: #0080FF;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY div.content_672 .group_description {
  color: #999999;
}

.niconico-darkmode-setting-true #PAGECONTAINER #PAGEBODY div.content_672 .dotline_2 {
  border-color: #555555;
}
